<mat-menu #configMenu="matMenu">
  <button mat-menu-item (click)="_configService.edit(true)">
    <fa-icon icon="edit"></fa-icon>
     Activate edit mode
  </button>
  <button mat-menu-item (click)="resetNESTConfig()">
    <fa-icon icon="eraser"></fa-icon>
     Reset configuration
  </button>
</mat-menu>

<mat-nav-list>
  <mat-list-item routerLink="/config/app">
    <fa-icon icon="chevron-left" style="padding-right: 10px"></fa-icon>
    App configuration
  </mat-list-item>
</mat-nav-list>

<div class="form-fields" style="display:flex; width:100%">
  <div>
  <mat-form-field floatLabel="never" color="primary">
    <fa-icon matPrefix icon="search" style="padding-right: 10px"></fa-icon>
    <input matInput type="text" class="formControl" placeholder="Search for a model" (keyup)="search($event.target.value)" autocomplete="off" [value]="_modelService.searchTerm" />
  </mat-form-field>
      <button mat-icon-button [matMenuTriggerFor]="configMenu" class="button">
      <fa-icon icon="ellipsis-v"></fa-icon>
    </button>
  </div>

  <div style="margin:0 10px">
    <mat-chip-list>
      <mat-chip selected="true" [class.mat-warn]="_modelService.view=='available'" [class.mat-accent]="_modelService.view!='available'" (click)="viewModels('available')">Available models</mat-chip>
      <mat-chip selected="true" [class.mat-warn]="_modelService.view=='enabled'" [class.mat-accent]="_modelService.view!='enabled'"  (click)="viewModels('enabled')">Enabled models</mat-chip>
    </mat-chip-list>
    <mat-chip-list>
      <mat-chip selected="true" [class.mat-warn]="_modelService.element_type=='all'" [class.mat-accent]="_modelService.element_type!='all'" (click)="selectElementType('all')">All</mat-chip>
      <mat-chip selected="true" [class.mat-warn]="_modelService.element_type=='neuron'" [class.mat-accent]="_modelService.element_type!='neuron'" (click)="selectElementType('neuron')">Neuron</mat-chip>
      <mat-chip selected="true" [class.mat-warn]="_modelService.element_type=='stimulator'" [class.mat-accent]="_modelService.element_type!='stimulator'" (click)="selectElementType('stimulator')">Stimulator</mat-chip>
      <mat-chip selected="true" [class.mat-warn]="_modelService.element_type=='recorder'" [class.mat-accent]="_modelService.element_type!='recorder'" (click)="selectElementType('recorder')">Recorder</mat-chip>
      <mat-chip selected="true" [class.mat-warn]="_modelService.element_type=='synapse'" [class.mat-accent]="_modelService.element_type!='synapse'" (click)="selectElementType('synapse')">Synapse</mat-chip>
      <mat-chip selected="true" [class.mat-warn]="_modelService.element_type=='other'" [class.mat-accent]="_modelService.element_type!='other'" (click)="selectElementType('other')">Other</mat-chip>
    </mat-chip-list>
  </div>
</div>

<mat-nav-list dense class="model">
  <mat-list-item *ngFor="let model of filteredModels" (click)="selectModel(model)" routerLink="/config/models/{{model}}" [class.active]="isSelected(model)" [class.enabled]="isEnabled(model)" class="model">
    <a matLine>{{ model }}</a>
    <mat-slide-toggle *ngIf="_configService.options.editing" [checked]="enabledModels.indexOf(model) != -1" (change)="toggleModelActivation($event, model)" color="primary"></mat-slide-toggle>
  </mat-list-item>
</mat-nav-list>
