.model {
  color: #999999 !important;
}

.model.enabled {
  color: black !important;
}

.model.active, .model.active:focus, .model.active:hover {
  background-color: #3366ff;
  color: white !important;
}

.form-fields {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin: 0 20px;
}
