:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
}

.docs-header-section {
  text-align: center;
  padding-top: 40px;
}

.docs-header-headline h1 {
  font-size: 56px;
  font-weight: 300;
  line-height: 56px;
  margin: 15px 5px;
}

.docs-header-headline h2 {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  margin: 15px 0;
}

mat-list-item {
  height: 28px !important;

  .list-header {
    font-weight: bold;
    width: 125px;
  }
}

footer {
  width: 100%;
  height: 40px;
  background-color: #fafafa;
  padding: 8px 0;

  .logo {
    height: 100%;
    position: relative;
  }
}
@media (max-width:720px) {
  .docs-header-section {
    padding-top: 15px;
  }

  footer {
    height: 30px;
    padding: 4px 0;
  }
}
@media (max-width:560px) {
  footer {
    height: 20px;
    padding: 2px 0;
  }
}

a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}
