<mde-popover #simulationDetails="mdePopover" mdeFocusTrapEnabled="false" mdePopoverPositionX="before" mdePopoverOffsetX="261" mdePopoverPositionY="below" mdePopoverOffsetY="0">
  <ng-container *ngIf="simulation">
    <mat-card style="width:600px">
      <app-network-sketch [data]="simulation" width="600" height="200"></app-network-sketch>
      <app-network-list [data]="simulation" [selective]="false"></app-network-list>
    </mat-card>
  </ng-container>
</mde-popover>

<mat-nav-list dense [mdePopoverTriggerFor]="simulationDetails" mdePopoverTriggerOn="none" #simulationTarget="mdePopoverTrigger" (mouseleave)="simulationTarget.closePopover()" style="padding:0">
  <ng-container *ngFor="let simulation of simulations">
    <a mat-list-item
      (mouseover)="view(simulation, simulationTarget)"
      [routerLink]="['/simulation/', simulation._id]"
      class="simulation"
      routerLinkActive="active">
      <span class="flex">
        {{ simulation.name }}
        <div class="flex-spacer"></div>
        <ng-container *ngIf="simulation.updatedAt">
          <span class="timesince">
            {{ simulation.updatedAt | timesince }}
          </span>
        </ng-container>
      </span>
      </a>
  </ng-container>
</mat-nav-list>
