::ng-deep .chart-header {
  font-size: 13px;
}

::ng-deep .chart-header {
  border-top: 1px solid rgba(0,0,0,0.12);
}

/* ::ng-deep .chart {
  margin: 5px;
  padding: 4px !important;
  background-color: white !important;
} */

::ng-deep .chart .chart-sidenav {
  /* background-color: white !important; */
  overflow: hidden;
}

::ng-deep .chart .chart-sidenav .mat-tab-label {
  min-width: 0px;
}

::ng-deep .chart .chart-sidenav .select {
  width: 100%;
}

::ng-deep .chart .chart-content {
  background-color: white !important;
  overflow: hidden;
}

::ng-deep .chart .chart-content .dataChart {
  position: absolute;
  pointer-events: none;
}

::ng-deep .chart .chart-content .plot {
  position: absolute;
  pointer-events: none;
}
