<ng-container *ngFor="let record of _dataService.records">
  <app-spike-chart *ngIf="hasSpikeData(record.recorder.model)" [idx]="record.idx" [height]="height / _dataService.records.length - _dataService.records.length" [width]="width" class="chart-container"></app-spike-chart>
  <app-trace-chart *ngIf="hasAnalogData(record.recorder.model)" [idx]="record.idx" [height]="height / _dataService.records.length - _dataService.records.length" [width]="width" class="chart-container"></app-trace-chart>
</ng-container>
