::ng-deep .chart-header {
  display: flex;
  height: 36px;
  background-color: #fafafa !important;
  font-size: 13px;
  line-height: 36px;
  vertical-align: middle;
}

::ng-deep .chart-header .node {
  border-style: solid;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-width: 1.5px;
  font-size: 11px;
  margin: 2px;
}

::ng-deep .chart-header .selected {
  border-style: dashed;
}

::ng-deep .chart {
  margin: 5px;
  padding: 4px !important;
  background-color: white !important;
}

::ng-deep .chart .chart-sidenav {
  background-color: white !important;
  overflow: hidden;
}

::ng-deep .chart .chart-sidenav .select {
  width: calc(100% - 20px);
}

::ng-deep .chart .chart-content {
  background-color: white !important;
  overflow: hidden;
}

::ng-deep .chart .chart-content .dataChart {
  position: absolute;
  pointer-events: none;
}

::ng-deep .chart .chart-content .plot {
  position: absolute;
  pointer-events: none;
}
