<div style="visibility: hidden; position: fixed"
    [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y"
    [matMenuTriggerFor]="contextMenu"
    >
</div>

<mat-menu #contextMenu="matMenu" class="context-menu">
  <mat-toolbar class="ellipsis">
    {{ param.options.label | capitalize }}
  </mat-toolbar>
  <button mat-menu-item (click)="param.value = param.options.value;">
    <fa-icon class="menu-icon" icon="eraser"></fa-icon> Set default value: {{ param.options.value }}
  </button>
  <button mat-menu-item (click)="openConfigDialog()">
    <fa-icon class="menu-icon" icon="sliders-h"></fa-icon> Configure sliders
  </button>
  <button mat-menu-item (click)="param.visible = false">
    <fa-icon class="menu-icon" icon="eye-slash"></fa-icon> Hide parameter
  </button>
  <ng-container *ngIf="param.options.input === 'arrayInput'">
    <button mat-menu-item (click)="openGeneratorDialog()">
      <fa-icon class="menu-icon" icon="dice"></fa-icon> Generate numbers
    </button>
  </ng-container>
</mat-menu>

<span
  (contextmenu)="onContextMenu($event)"
  (mouseout)="onMouseOut($event)"
  (mouseover)="onMouseOver($event)">

  <ng-container [ngSwitch]="param.options.input">
    <ng-container *ngSwitchCase="'valueInput'">
      <app-value-input-inline
        [(value)]="param.value"
        [options]="param.options"
        class="list-item"
      ></app-value-input-inline>
    </ng-container>
    <ng-container *ngSwitchCase="'arrayInput'">
      <app-array-input-inline
        [(value)]="param.value"
        [options]="param.options"
        class="list-item"
      ></app-array-input-inline>
    </ng-container>
    <ng-container *ngSwitchCase="'valueSlider'">
      <app-value-slider-inline
        [(value)]="param.value"
        [options]="param.options"
        class="list-item"
      ></app-value-slider-inline>
    </ng-container>
    <ng-container *ngSwitchCase="'tickSlider'">
      <app-ticks-slider-inline
        [(value)]="param.value"
        [options]="param.options"
        class="list-item"
      ></app-ticks-slider-inline>
    </ng-container>
  </ng-container>
</span>
