<span class="controller simulation-controller mat-primary">
  <mat-list class="controller-menu" dense>
    <mat-list-item mat-subheader>
      Simulation
    </mat-list-item>
    <mat-list-item *ngFor="let param of params()">
      <app-value-slider class="slider" [value]="_dataService.data.simulation[param.id] || param.value" [options]="param" (valueChange)="onChange(param.id, $event)"></app-value-slider>
    </mat-list-item>
  </mat-list>

  <mat-selection-list dense (selectionChange)="onSelectionChange($event)">
    <mat-list-option [selected]="_networkSimulationService.config['autoRandomSeed']" value="autoRandomSeed">
      <span>Randomize seed</span>
    </mat-list-option>
    <mat-list-option [selected]="_networkSimulationService.config['autoSimulation']" value="autoSimulation">
      <span>Simulate after change</span>
    </mat-list-option>
    <mat-list-option [selected]="_networkSimulationService.config['autoProtocol']" value="autoProtocol">
      <span>Protocol after simulation (Be careful!)</span>
    </mat-list-option>
  </mat-selection-list>
</span>
