<span class="controller simulation-controller">
  <mat-list class="controller-menu" dense>
    <mat-list-item mat-subheader>
      Simulation
    </mat-list-item>
    <mat-list-item *ngFor="let id of _configService.config.nest.simulation.params">
      <app-param-input view="valueSlider" [params]="_dataService.data.simulation" [id]="id" [options]="_configService.config.nest.simulation.options[id]" (paramChange)="onChange()" class="input"></app-param-input>
    </mat-list-item>
  </mat-list>
</span>
