<span class="form-container">

  <mat-form-field matTooltip="{{ id }}" matTooltipPosition="before">
    <mat-label>
      {{ options.label }}
      <span *ngIf="options.unit">({{ options.unit }})</span>
    </mat-label>
    <input matInput [placeholder]="options.label || id" [ngModel]="value" (change)="onChange($event.target.value)" />
  </mat-form-field>

  <span>
    <mat-menu #valueMenu="matMenu" class="value-menu">
      <button mat-menu-item (click)="openGeneratorDialog()">
        <span>Generate numbers</span>
      </button>
      <button mat-menu-item *ngIf="options.value" matTooltip="Default value: {{ options.value }}" matTooltipPosition="before" (click)="setDefaultValue()">
        <span>Set default value</span>
      </button>
      <button mat-menu-item *ngIf="model" (click)="openConfigDialog()">
        <span>Configure</span>
      </button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="valueMenu" class="button">
      <fa-icon icon="ellipsis-v"></fa-icon>
    </button>
  </span>

</span>
