.form-container {
  display: inline-flex;
  width: 100%;
}

.form-container mat-form-field {
  width: 100%;
}

.form-container .button {
  opacity: 0;
}

.form-container:hover .button {
  opacity: 1;
}
