<ng-container *ngIf="['networkEditor', 'labBook'].includes(mode)">
  <div #content
    class="network-content"
    [style.height]="mode=='labBook' ? '200px' : '100%'">
    <app-network-sketch
      (dataChange)="onDataChange($event)"
      [(data)]="data"
      [eventTrigger]="mode=='networkEditor'"
      [width]="width"
      [height]="height"
    ></app-network-sketch>
  </div>
</ng-container>

<ng-container [ngSwitch]="mode">
  <ng-container *ngSwitchCase="'activityExplorer'">
    <app-simulation-playground
      [data]="data"
      [records]="records"
    ></app-simulation-playground>
  </ng-container>

  <ng-container *ngSwitchCase="'labBook'">
    <app-simulation-details
    [data]="data"
    ></app-simulation-details>
  </ng-container>
</ng-container>
