.dat-gui-light-theme {
  .dg.main {
    .taller-than-window .close-button {
      border-top: 1px solid #ddd;
    }

    .close-button {
      background-color: #e8e8e8;
    }

    .close-button:hover {
      background-color: #ddd;
    }

    ::-webkit-scrollbar {
      background: #fafafa;
    }

    ::-webkit-scrollbar-thumb {
      background: #bbb;
    }
  }

  .dg {
    color: #555;
    text-shadow: none !important;

    li:not(.folder) {
      background: #fafafa;
      border-bottom: 1px solid #ddd;
    }

    li.save-row .button {
      text-shadow: none !important;
    }

    li.title {
      background: #e8e8e8 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIUlEQVQI12NgIBYw5ufn/8cQZGBgYECWmDhxIiNcFlkCABvVCJsuKGBHAAAAAElFTkSuQmCC") 6px 10px no-repeat;
    }

    .closed li.title {
      background: #e8e8e8 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAJUlEQVQI12NggIL8/Pz/MDYTAxKASTASVMnAwMAwceJERgZsKgEwpArqRfAIRAAAAABJRU5ErkJggg==") 6px 10px no-repeat;
    }

    .cr.boolean:hover,
    .cr.function:hover {
      background: #fff;
    }

    .c {
      input[type=text] {
        background: #e9e9e9;
      }

      input[type=text]:hover {
        background: #eee;
      }

      input[type=text]:focus {
        background: #eee;
        color: #555;
      }

      .slider {
        background: #e9e9e9;
      }

      .slider:hover {
        background: #eee;
      }
    }

    .closed li.title {
      color: #555;
    }
  }
}
