<svg:defs>
  <svg:marker
    id="hillock{{ connection.idx }}"
    viewBox="0 0 5 3"
    refX=3.5
    refY=1.5
    markerWidth=5
    markerHeight=3
    orient="auto"
    >
    <svg:path
      [style.fill]="color"
      d="M0.5,0L5,1.5L0,2.5"
    ></svg:path>
  </svg:marker>

  <svg:marker
    id="terminus{{ connection.idx }}"
    viewBox="0 0 5 5"
    refX=1
    refY=2.5
    markerWidth=5
    markerHeight=5
    orient="auto"
    >
    <ng-container [ngSwitch]="connection.synapse.weight > 0">
      <ng-container *ngSwitchCase="true">
        <svg:path
          [style.fill]="color"
          d="M3.5,0L0,2.5L5,4.5"
        ></svg:path>
      </ng-container>

      <ng-container *ngSwitchCase="false">
        <svg:circle
          [style.fill]="color"
          r=2
          transform="translate(2.5,2.5)"
        ></svg:circle>
      </ng-container>
    </ng-container>
  </svg:marker>

  <svg:marker
    id="exc{{ connection.idx }}"
    [attr.refX]="nodeRadius() + 1.5"
    refY=1
    markerWidth=3
    markerHeight=2
    orient="auto">
    <svg:path
      [style.fill]="color"
      d="M0,0L0,1.5L3,1"
    ></svg:path>
  </svg:marker>

  <svg:marker
    id="inh{{ connection.idx }}"
    [attr.refX]="nodeRadius() + 2"
    refY=2
    markerWidth=4
    markerHeight=4
    orient="auto">
    <svg:circle
      [style.fill]="color"
      r=1
      transform="translate(2,2)"
    ></svg:circle>
  </svg:marker>
</svg:defs>

<!-- critical point: to many calling of drawPath(), distance() -->
<svg:path
  (click)="onClick($event)"
  (mouseover)="onMouseover($event)"
  [attr.d]="connection.view.drawPath()"
  class="connection"
  style="stroke: white; stroke-linecap:round"
  [style.stroke-width.px]="connectionWidth() * 3"
  [style.marker-end]="markerEnd()"
  [style.opacity]="opacity() ? 1 : terminusOpacity()"
></svg:path>

<svg:path
  [attr.d]="connection.view.drawPath()"
  [style.stroke]="color"
  [style.stroke-dasharray]="dashLine() ? '10, 5' : ''"
  style="pointer-events: none"
  [style.stroke-width.px]="connectionWidth()"
  class="connection"
  [style.opacity]="opacity() ? 1 : connectionOpacity()"
></svg:path>
