.link-controller mat-card-subtitle {
  display: flex;
}

.link-controller .button {
  height: 46px;
  width: 46px;
  margin: 5px;
}

.link-controller .arrow {
  font-size: 32px;
  vertical-align: middle;
}
