<mat-card class="controller link-controller theme-{{colors.pre[1]}}" [style.display]="_sketchService.isSelectedLink_or_all(link) ? '' : 'none'">
  <mat-card-subtitle>
    <button mat-icon-button class="button node" (click)="_sketchService.toggleSelectNode(_dataService.data.collections[link.pre])" [style.border-color]="colors.pre[0]" [style.border-style]="_sketchService.isSelectedNode(_dataService.data.collections[link.pre]) ? 'dashed' : 'solid'">{{ link.pre }}</button>
    <span class="flex-spacer"></span>
    <button mat-icon-button class="button" (click)="_sketchService.toggleSelectLink(link)">
        <fa-icon [icon]="faLongArrowAltRight" class="material-icons arrow" [style.color]="colors.weight"></fa-icon>
          <!-- <i class="material-icons arrow" [style.color]="colors.weight">arrow_right_alt</i> -->
      </button>
    <span class="flex-spacer"></span>
    <div>
      <button mat-icon-button class="button node" (click)="_sketchService.toggleSelectNode(_dataService.data.collections[link.post])" [style.border-color]="colors.post[0]" [style.border-style]="_sketchService.isSelectedNode(_dataService.data.collections[link.post]) ? 'dashed' : 'solid'">{{ link.post }}</button>
    </div>
    <span class="flex-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="button" color="primary">
        <fa-icon [icon]="faEllipsisV"></fa-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="_sketchService.toggleSelectLink(link)">
        <fa-icon [icon]="faCrosshairs"></fa-icon>
        <span *ngIf="!_sketchService.isSelectedLink(link)">Select</span>
        <span *ngIf="_sketchService.isSelectedLink(link)">Unselect</span>
      </button>
      <button mat-menu-item>
        <fa-icon [icon]="faEraser"></fa-icon>
        Reset
      </button>
      <button mat-menu-item>
        <fa-icon [icon]="faBan"></fa-icon>
        Disable
      </button>
      <button mat-menu-item>
        <fa-icon [icon]="faMinusCircle"></fa-icon>
        Remove
      </button>
    </mat-menu>
  </mat-card-subtitle>

  <mat-card-content *ngIf="!_sketchService.options.drawing">
    <div style="margin: 0 20px">
      <app-select placeholder="Connection rule" element_type="connection" [selected]="link.conn_spec.rule" (selectChange)="selectConnRule(link, $event)" [style.display]="_controllerService.display(3)"></app-select>
    </div>
    <div *ngFor="let p of keys(slider.connection)">
      <app-value-slider [id]="p" [data]="link.conn_spec" [options]="slider.connection[p]" [style.display]="_controllerService.display(2)"></app-value-slider>
    </div>
    <div style="margin: 0 20px">
      <app-select placeholder="Synapse model" element_type="synapse" [selected]="link.syn_spec.model" (selectChange)="selectSynModel(link, $event)" [style.display]="_controllerService.display(4)"></app-select>
    </div>
    <div *ngFor="let p of keys(slider.synapse)">
      <app-value-slider [id]="p" [data]="link.syn_spec" [options]="slider.synapse[p]" [style.display]="_controllerService.display(2)"></app-value-slider>
    </div>
  </mat-card-content>
</mat-card>
