<div id="controller" [style.width]="_controllerService.options.width" [style.background-color]="_controllerService.options.color">
  <mat-nav-list class="controller-menu no-print" dense style="padding:0; display:flex; border-bottom: 1px solid rgba(0,0,0,0.12)">

    <mat-list-item style="width:40px" (click)="toggleBottomSheet()" [class.active]="isBottomSheetOpened()" matTooltip="View network sketch">
      <span style="text-align:center;">
        <fa-icon icon="share-alt" style="width:100%"></fa-icon>
      </span>
    </mat-list-item>

    <mat-list-item style="width:40px" (click)="showNetwork=!showNetwork" [class.active]="!showNetwork" matTooltip="View simulation configurations">
      <span style="text-align:center;">
        <fa-icon icon="bars" style="width:100%"></fa-icon>
      </span>
    </mat-list-item>

    <mat-list-item style="width:40px" (click)="details()" matTooltip="View network details">
      <span style="text-align:center;">
        <fa-icon icon="eye" style="width:100%"></fa-icon>
      </span>
    </mat-list-item>

    <mat-list-item style="width:40px" (click)="saveProtocol()" matTooltip="Save the current network">
      <span style="text-align:center;">
        <fa-icon icon="save" style="width:100%"></fa-icon>
      </span>
    </mat-list-item>

    <mat-list-item (click)="run()" [class.active]="_networkSimulationService.simulating">
      <span style="text-align:center; width:100%;">Simulate</span>
    </mat-list-item>
  </mat-nav-list>

  <div style="position:relative;">

    <div [style.display]="showNetwork ? '' : 'None'">

      <div style="display:float; width:100%; height:40px; font-size:14px">
        <mat-form-field class="label" floatLabel="never">
          <input matInput style="margin-left:10px;" type="text" class="formControl" [(ngModel)]="_dataService.data.name" />
          <button mat-icon-button *ngIf="_dataService.data.name" matSuffix aria-label="Clear" (click)="_dataService.data.name=''" class="button no-print">
            <fa-icon icon="times" style="font-size:11px"></fa-icon>
          </button>
        </mat-form-field>
      </div>

      <mat-nav-list dense style="display:flex; padding:0" class="mat-accent no-print">
        <mat-list-item class="elementType" (click)="toggleType('stimulator')" [class.active]="_controllerService.selected == 'stimulator'">
           <span style="width:100%">Stimulator</span>
         </mat-list-item>
        <mat-list-item class="elementType" (click)="toggleType('neuron')" [class.active]="_controllerService.selected == 'neuron'">
           <span style="width:100%">Neuron</span>
        </mat-list-item>
        <mat-list-item class="elementType" (click)="toggleType('recorder')" [class.active]="_controllerService.selected == 'recorder'">
           <span style="width:100%">Recorder</span>
        </mat-list-item>
      </mat-nav-list>

      <div style="height:calc(100vh - 122px); overflow-y: auto; border-top: 1px solid rgba(0,0,0,0.12)">
        <ng-container *ngFor="let collection of _dataService.data.collections">
          <app-node-controller [style.display]="isSelected(collection.element_type) ? '': 'None'" class="node" [idx]="collection.idx" (nodeChange)="onChange()"></app-node-controller>
        </ng-container>
        <ng-container *ngFor="let connectome of _dataService.data.connectomes" >
          <app-link-controller [style.display]="isSelected(_dataService.data.collections[connectome.pre].element_type) ? '': 'None'" class="link" [idx]="connectome.idx" (linkChange)="onChange()"></app-link-controller>
        </ng-container>
      </div>

    </div>

    <div [style.display]="showNetwork ? 'None' : ''" style="margin-top:4px;">
      <app-kernel-controller class="kernel" (kernelChange)="onChange()"></app-kernel-controller>
      <app-simulation-controller class="simulation" (simulationChange)="onChange()"></app-simulation-controller>
    </div>
  </div>

</div>
