::ng-deep .controller .input, ::ng-deep .controller .slider {
  width: 100%;
}

::ng-deep .controller .mat-list {
  padding: 0 8px;
}

::ng-deep .controller .mat-list-item-content {
  padding: 0 8px !important;
}

::ng-deep .controller .mat-list-option .mat-list-text {
  padding-right: 5px !important;
}

::ng-deep .disabled, .disabled:hover {
  opacity: 0.38 !important;
  pointer-events: none;
}

::ng-deep .active, .active:hover {
  background-color: #3366ff !important;
  color: white !important;
}

.elementType {
  text-align: center
}

.label {
  width: calc(100% - 10px);
}

.label .button {
  opacity: 0;
}

.label:hover .button {
  opacity: 1;
}
