<div id="controller" [style.width]="_controllerService.options.width" [style.background-color]="_controllerService.options.color">
  <div style="position:relative">
    <div style="position: absolute; top: 5px; right: 5px; z-index:1000">
      <mat-menu #levelMenu="matMenu" class="level-menu dense">
        <button mat-menu-item (click)="setLevel(1)">
          <fa-icon class="check" icon="check" [style.opacity]="isLevel(1) ? 1 : 0"></fa-icon>
          <span>Rookie</span>
        </button>
        <button mat-menu-item (click)="setLevel(2)">
          <fa-icon class="check" icon="check" [style.opacity]="isLevel(2) ? 1 : 0"></fa-icon>
          <span>Beginner</span>
        </button>
        <button mat-menu-item (click)="setLevel(3)">
          <fa-icon class="check" icon="check" [style.opacity]="isLevel(3) ? 1 : 0"></fa-icon>
          <span>Advanced</span>
        </button>
        <button mat-menu-item (click)="setLevel(4)">
          <fa-icon class="check" icon="check" [style.opacity]="isLevel(4) ? 1 : 0"></fa-icon>
          <span>Expert</span>
        </button>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="levelMenu" matTooltip="Level view">
        <fa-icon icon="ellipsis-v"></fa-icon>
      </button>
    </div>

    <mat-tab-group>
      <mat-tab label="Nodes">
        <app-node-controller *ngFor="let collection of _dataService.data.collections" class="node" [idx]="collection.idx" style="overflow-y:auto">
        </app-node-controller >
      </mat-tab>
      <mat-tab label="Links">
        <app-link-controller *ngFor="let connectome of _dataService.data.connectomes" class="link" [idx]="connectome.idx">
        </app-link-controller>
      </mat-tab>
      <mat-tab label="General">
        <app-kernel-controller class="kernel"></app-kernel-controller>
        <app-simulation-controller class="simulation"></app-simulation-controller>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>
