.link-selection {
  border-left: 4px solid black;
  border-right: 4px solid black;
  width: calc(100% - 8px);
  margin-bottom: 4px;

  mat-selection-list {
    padding: 0;

    mat-list-option {
      height: 32px;
      line-height: 32px;
    }
  }
}
