<mat-menu #contextMenu="matMenu" class="menu">
  <button mat-menu-item (click)="mask.unmask()">
    <fa-icon class="menu-icon" icon="eraser"></fa-icon> Unmask
  </button>
</mat-menu>

<mat-menu #maskMenu="matMenu" class="mask-menu" overlapTrigger="true" xPosition="before">
  <span class="flex" (click)="$event.stopPropagation();">
    <ng-container *ngIf="showPlot">
      <span style="width:700px; height:500px">
        <plotly-plot
          [data]="mask.graph.data"
          [layout]="mask.graph.layout"
          [style]="mask.graph.style"
          [useResizeHandler]="true"
        ></plotly-plot>
      </span>
    </ng-container>

    <span style="width:280px">
      <mat-list dense style="padding:0">
        <h3 mat-subheader class="flex">
          <span class="param-label ellipsis" style="line-height:16px">Mask</span>
          <span class="flex-spacer"></span>
          <span class="project-theme">
            <mat-nav-list dense color="primary" class="flex" style="padding:0">
              <mat-list-item
                (click)="showPlot=!showPlot"
                [class.active]="showPlot"
                class="navButton">
                <fa-icon icon="crop-alt"></fa-icon>
              </mat-list-item>
            </mat-nav-list>
          </span>
        </h3>

        <mat-list-item>
          <app-select
            (selectedChange)="mask.select($event)"
            [options]="options"
            [selected]="mask.masktype"
            matTooltipPosition="before"
            style="height:40px;line-height:48px"
          ></app-select>
        </mat-list-item>
      </mat-list>

      <mat-list dense style="padding: 0">
        <ng-container *ngFor="let spec of mask.config[mask.masktype].specs">
          <mat-list-item class="item">
            <app-input-inline
              [(value)]="mask.specs[spec.id]"
              [options]="spec"
              [view]="spec.input"
              style="margin: 0"
            ></app-input-inline>
          </mat-list-item>
        </ng-container>
      </mat-list>
    </span>
  </span>
</mat-menu>

<div appContextMenuTrigger
  (contextmenu)="onContextMenu($event)"
  [matMenuTriggerFor]="maskMenu"
  class="mask-container flex"
  style="width:100%"
  >
  <span class="label">Mask</span>
  <span class="flex-spacer"></span>
  <span>{{ mask.masktype }}</span>
</div>
