<mat-sidenav-container class="network-container">
  <mat-sidenav-content class="network-content" style="height:calc(100vh - 40px)">

    <span style="width:600px; display:block" class="content">
      <app-network-sketch [data]="data" width="600" height="200" [editable]="false"></app-network-sketch>
    </span>

    <ng-container *ngIf="data">

      <ng-container [ngSwitch]="advanced()">
        <ng-container *ngSwitchCase="false">
          <app-network-list [data]="data" [paramSelective]="false" style="width:100%"></app-network-list>
        </ng-container>

        <ng-container *ngSwitchCase="true">
          <span style="position:relative; display: block; width: 100%; height: 100%">

            <mat-tab-group class="maxWidth">

              <mat-tab label="Network">
                <app-network-list [data]="data" [paramSelective]="false" style="width:100%"></app-network-list>
              </mat-tab>

              <mat-tab label="Description">
                <div style="padding:20px">{{ data.description }}</div>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <fa-icon icon="code" style="margin-right:5px"></fa-icon> Python script
                </ng-template>
                <app-simulation-script [data]="data"></app-simulation-script>
              </mat-tab>

              <mat-tab label="Data for simulator">
                <pre style="margin: 5px">{{ data.simulation | json }}</pre>
              </mat-tab>

              <mat-tab label="Data for app">
                <pre style="margin: 5px">{{ data.app | json }}</pre>
              </mat-tab>

              <!-- <mat-tab label="Comment">
                <mat-form-field style="width:100%" floatLabel="never">
                  <textarea matInput cdkTextareaAutosize placeholder='Leave a comment'></textarea>
                </mat-form-field>
              </mat-tab> -->

            </mat-tab-group>
          </span>
        </ng-container>
      </ng-container>
    </ng-container>

  </mat-sidenav-content>
</mat-sidenav-container>
