<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../node_modules/bootstrap-slider/dist/css/bootstrap-slider.css" />
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href='../assets/css/chart.css'></link>
    <link rel="stylesheet" href='../assets/css/styles.css'></link>
    <title></title>
</head>

<body data-spy="scroll" data-target="#nodeScrollspy">

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <form id="simulation-add-form">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="simulation-name" class="control-label">Simulation:</label>
                            <input type="text" class="form-control" id="simulation-name" placeholder="name">
                        </div>
                        <textarea type="text" class="form-control" id="simulation-description" placeholder="description"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal" id="simulation-add-submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <span><h4 id="title"></h4></span>
                <!-- <span id="subtitle"></span> -->
            </div>

            <div class="navbar-right">
                <div id="view-protocol" class="btn-group">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" id="get-protocol-list" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span id="protocol-label">No protocol</span>
                        </button>
                        <ul id="protocol-list" class="dropdown-menu dropdown-menu-left" aria-labelledby="get-protocol-list"></ul>

                    </div>
                    <button type="button" class="btn btn-default" id="protocol" title="Click: Protocol simulations; Doubleclick: De-/Activate automatic protocolling">
                        <i class="fa fa-history"></i>
                    </button>
                </div>

                <button type="button" class="btn btn-default navbar-btn" id="index">
                    <span class="glyphicon glyphicon-menu-glyphicon glyphicon-home"></span>
                </button>
                <button type="button" class="btn btn-default navbar-btn" id="simulation-refresh" title="Refresh the simulation">
                    <span class="glyphicon glyphicon-menu-glyphicon glyphicon glyphicon-refresh"></span>
                </button>
                <button type="button" class="btn btn-default" id="edit-network" title="Edit network">
                    <i class="fa fa-pencil"></i>
                </button>
                <button type="button" class="btn btn-default navbar-btn disableOnDrawing" id="simulation-resume" disabled title="Run simulation continuously">
                    <i class="fa fa-play" aria-hidden="true"></i>
                    <i class="fa fa-pause" aria-hidden="true" style="display:none"></i>
                    <!-- <span class="glyphicon glyphicon-menu-glyphicon glyphicon-play"></span>
                    <span class="glyphicon glyphicon-menu-glyphicon glyphicon-pause" style="display:none"></span> -->
                </button>
                <!-- <button type="button" class="btn btn-default navbar-btn disableOnDrawing" id="simulation-add" data-toggle="modal" data-target="#myModal" disabled title="Save this simulation">
                    <span class="glyphicon glyphicon-menu-glyphicon glyphicon-save"></span>
                </button> -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" id="get-simulation-list" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="Load a simulation">
                        <span class="glyphicon glyphicon-menu-glyphicon glyphicon-open"></span>
                    </button>
                    <ul id="simulation-list" class="dropdown-menu dropdown-menu-right" aria-labelledby="get-simulation-list"></ul>
                </div>
                <!-- <button type="button" class="btn btn-default navbar-btn" id="download">
            <span class="glyphicon glyphicon-menu-glyphicon glyphicon-download-alt"></span>
        </button> -->

                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="Edit settings and more actions">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                    </button>
                    <ul id="config" class="dropdown-menu" role="menu" aria-labelledby="get-simulation-config">
                        <li id="chart-color" title="Colorify charts">
                            <a href="#">
                                <i class="fa fa-line-chart"></i> Color
                                <span class="glyphicon glyphicon-menu-glyphicon glyphicon-ok pull-right" style="display:none"></span>
                            </a>
                        </li>
                        <!-- <li id="colorByNodes" class="color" data-group="node" title="Colorify charts by nodes">
                            <a href="#">
                                <i class="fa fa-ellipsis-h"></i> by neuron nodes
                                <span class="glyphicon glyphicon-menu-glyphicon glyphicon-ok pull-right" style="display:none"></span>
                            </a>
                        </li>
                        <li id="colorByCompartments" class="color" data-group="compartment" title="Colorify charts by compartments">
                            <a href="#">
                                <i class="fa fa-ellipsis-h"></i> by compartments
                                <span class="glyphicon glyphicon-menu-glyphicon glyphicon-ok pull-right" style="display:none"></span>
                            </a>
                        </li> -->
                        <li class="divider"></li>
                        <li id="view-networkLayout" title="View network layout">
                            <a href="#">
                                <i class="fa fa-share-alt" aria-hidden="true"></i> Network layout
                                <span class="glyphicon glyphicon-menu-glyphicon glyphicon-ok pull-right" style="display:none"></span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li id="level_1" class="level" level="1">
                            <a href="#">
                                <span class="glyphicon glyphicon-menu-glyphicon glyphicon-leaf"></span> Rookie
                                <span class="glyphicon glyphicon-menu-glyphicon glyphicon-ok pull-right" style="display:none"></span>
                            </a>
                        </li>
                        <li id="level_2" class="level" level="2">
                            <a href="#">
                                <span class="glyphicon glyphicon-menu-glyphicon glyphicon-grain"></span> Beginner
                                <span class="glyphicon glyphicon-menu-glyphicon glyphicon-ok pull-right" style="display:none"></span>
                            </a>
                        </li>
                        <li id="level_3" class="level" level="3">
                            <a href="#">
                                <span class="glyphicon glyphicon-menu-glyphicon glyphicon-tree-deciduous"></span> Advanced
                                <span class="glyphicon glyphicon-menu-glyphicon glyphicon-ok pull-right" style="display:none"></span>
                            </a>
                        </li>
                        <li id="level_4" class="level" level="4">
                            <a href="#">
                                <span class="glyphicon glyphicon-menu-glyphicon glyphicon-apple"></span> Expert
                                <span class="glyphicon glyphicon-menu-glyphicon glyphicon-ok pull-right" style="display:none"></span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li id="raw-data" title="View raw data of the simulation">
                            <a href="">
                                <i class="fa fa-eye"></i> View raw data
                            </a>
                        </li>
                        <li id="capture-screen" title="Capture screen for thumbnail">
                            <a href="#">
                                <span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Capture screen
                            </a>
                        </li>
                        <li id="clear-network" title="Clear the network">
                            <a href="#">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Clear network
                            </a>
                        </li>
                    </ul>
                </div>
                <button type="button" class="btn btn-default navbar-btn" id="close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <!-- <span class="glyphicon glyphicon-remove"></span> -->
                </button>
            </div>

            <div class="navbar-right">
                <span class="checkbox" style="padding-right:10px">
                    <label for="autoscale">
                        <input type="checkbox" name="autoscale" value="autoscale" id="autoscale" checked> Autoscale
                    </label>
                </span>
            </div>

            <div id="message" class="pull-right">
                <div class="content"></div>
            </div>
        </div>
    </nav>

    <div id="content">
        <div id="controller" class="pull-right">
            <div class="container-fluid">

                <div id="controller-body">

                    <nav id="nodeScrollspy">
                        <ul class="nav nav-pills nav-stacked"></ul>
                    </nav>

                    <div id="controller-panel" class="panel" style="margin-top: 50px">
                        <small>
                        <!-- <div class="panel-body"> -->
                        <div id="simulation" class="panel-body hideOnDrawing">
                            <div class="content"></div>
                        </div>
                        <div id="kernel" class="panel-body hideOnDrawing">
                            <div class="content"></div>
                        </div>

                        <div id="tabs">

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs hideOnDrawing" role="tablist">
                                <li role="presentation" class="active"><a href="#nodes" aria-controls="nodes" role="tab" data-toggle="tab">Nodes</a></li>
                                <li role="presentation"><a href="#connections" aria-controls="connections" role="tab" data-toggle="tab">Connections</a></li>
                                <li role="presentation"><a href="#synapses" aria-controls="synapses" role="tab" data-toggle="tab">Synapses</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="nodes">
                                    <div class="controller"></div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="connections">
                                    <div class="controller"></div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="synapses">
                                    <div class="controller"></div>
                                </div>
                            </div>
                        </div>
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <div id="point"></div>
        <svg id="chart">
            <g id="dataChart" class="hideOnDrawing"></g>
            <g id="networkLayout" style="display: none"></g>
        </svg>
    </div>

    <script>
        window.$ = window.jQuery = require('jquery');
        window.app = require('../app');
        var configApp = app.config.app();
        $('title').html(configApp.title)
        var query = app.query(location.search);
        app.simulation.id = query.simulation;
        app.protocol.id = query.protocol;
        app.simulation.init()
    </script>
</body>

</html>
