<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../node_modules/bootstrap-slider/dist/css/bootstrap-slider.css" />
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href='../assets/css/chart.css'></link>
    <link rel="stylesheet" href='../assets/css/styles.css'></link>
    <title></title>
</head>

<body>

    <!-- Modal -->
    <div id="data-dialog" class="modal fade">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="title"></h4>
                </div>
                <div class="modal-body">
                    <div class="data">
                        <div class="row">
                            <div class="col-md-5">
                                <h4>Nodes</h4>
                                <table class="nodes"></table>
                            </div>
                            <div class="col-md-5">
                                <h4>Links</h4>
                                <table class="links"></table>
                            </div>
                        </div>
                        <div>
                            <h4>Description</h4>
                            <div class="description"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="dropdown" style="display:inline-block">
                        <button role="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Edit view level">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            <b class="caret"></b>
                        </button>

                        <ul id="slider-config" class="dropdown-menu" role="menu" aria-labelledby="get-slider-config">
                            <li id="level_1" class="level" level="1">
                                <a href="#">
                                  <span class="glyphicon glyphicon-menu-glyphicon glyphicon-leaf"></span> Rookie
                                  <span class="glyphicon glyphicon-menu-glyphicon glyphicon-ok pull-right" style="display:none"></span>
                              </a>
                            </li>
                            <li id="level_2" class="level" level="2">
                                <a href="#">
                                  <span class="glyphicon glyphicon-menu-glyphicon glyphicon-grain"></span> Beginner
                                  <span class="glyphicon glyphicon-menu-glyphicon glyphicon-ok pull-right" style="display:none"></span>
                              </a>
                            </li>
                            <li id="level_3" class="level" level="3">
                                <a href="#">
                                  <span class="glyphicon glyphicon-menu-glyphicon glyphicon-tree-deciduous"></span> Advanced
                                  <span class="glyphicon glyphicon-menu-glyphicon glyphicon-ok pull-right" style="display:none"></span>
                              </a>
                            </li>
                            <li id="level_4" class="level" level="4">
                                <a href="#">
                                  <span class="glyphicon glyphicon-menu-glyphicon glyphicon-apple"></span> Expert
                                  <span class="glyphicon glyphicon-menu-glyphicon glyphicon-ok pull-right" style="display:none"></span>
                              </a>
                            </li>
                        </ul>
                    </div>
                    <button type="button" class="simulation-edit btn btn-default" data-toggle="modal" data-target="#simulation-form-dialog">
                        <span class="glyphicon glyphicon-menu-glyphicon glyphicon-edit"></span> Edit
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="raw-data-dialog" class="modal fade">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="title"></h4>
                </div>
                <div class="modal-body">
                    <pre id="raw-data"></pre>
                </div>
                <div class="modal-footer">
                    <button id="copy" class="btn btn-default" data-clipboard-target="#raw-data">
                        <i class="fa fa-clipboard"></i> Copy code
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="simulation-form-dialog" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <form id="simulation-form">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="simulation-name" class="control-label">Simulation</label>
                            <input type="text" class="form-control" id="simulation-name" placeholder="name">
                        </div>
                        <textarea type="text" class="form-control" id="simulation-description" placeholder="description"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal" id="simulation-add-submit" style="display:none">Add</button>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal" id="simulation-edit-submit" style="display:none">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="pdf-form-dialog" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <form id="pdf-form">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="pdf-filename" class="control-label">Filename</label>
                            <input type="text" class="form-control" id="pdf-filename">
                            <label for="pdf-filepath" class="control-label">Path</label>
                            <input type="text" class="form-control" id="pdf-filepath">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal" id="pdf-submit">Generate PDF</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="delete-all-protocols-dialog" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header"></div>
                <div class="modal-body">
                    Are you sure to delete all protocols?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="app.protocol.deleteAll()">Yes</button>
                    <button id="delete-all-protocols-cancel" type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid visible-print">
        <h4 class="title"></h4>
    </div>
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <span><h4 class="title"></h4></span>
            </div>

            <div class="navbar-right">
                <div id="view-protocol" class="btn-group">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle disableOnRunning disableOnSimulate" id="get-protocol-list" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span id="protocol-label">No protocol</span>
                        </button>
                        <ul id="protocol-list" class="dropdown-menu dropdown-menu-left" aria-labelledby="get-protocol-list"></ul>

                    </div>
                    <button type="button" class="btn btn-default disableOnDrawing disableOnRunning disableOnSimulate" id="protocol" title="Click: Protocol simulations; Doubleclick: De-/Activate automatic protocolling">
                        <i class="fa fa-history"></i>
                    </button>
                </div>

                <a role="button" class="btn btn-default navbar-btn disableOnRunning disableOnSimulate" href="../index.html" title="Go to overview page">
                    <span class="glyphicon glyphicon-menu-glyphicon glyphicon-home"></span>
                </a>

                <button type="button" class="btn btn-default navbar-btn spinOnHover disableOnRunning disableOnSimulate" title="Reload app" onclick="app.simulation.reload()">
                    <i class="fa fa-refresh"></i>
                </button>

                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle disableOnRunning disableOnSimulate" id="get-simulation-list" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="Load a simulation">
                        <span class="glyphicon glyphicon-menu-glyphicon glyphicon-open"></span>
                    </button>
                    <ul id="simulation-list" class="dropdown-menu dropdown-menu-right" aria-labelledby="get-simulation-list"></ul>
                </div>

                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle disableOnRunning disableOnSimulate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="Network">
                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                    </button>
                    <ul id="chart-config" class="dropdown-menu config" role="menu" aria-labelledby="get-chart-config">
                        <li id="chart-color" title="Colorify charts">
                            <a href="#">
                                <i class="fa fa-paint-brush"></i> Colorify charts
                                <span class="glyphicon glyphicon-menu-glyphicon glyphicon-ok pull-right" style="display:none"></span>
                            </a>
                        </li>
                        <li id="view-networkLayout" title="View network layout" class="disableOnDrawing">
                            <a href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i> View network layout
                                <span class="glyphicon glyphicon-menu-glyphicon glyphicon-ok pull-right" style="display:none"></span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li id="edit-network" title="Edit network" class="disableOnDrawing">
                            <a href="#">
                                <i class="fa fa-pencil"></i> Edit network
                            </a>
                        </li>
                        <li id="clear-network" title="Clear the network">
                            <a href="#">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Clear network
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="btn-group">
                    <button type="button" class="simulation-run btn btn-default disableOnDrawing disableOnRunning disableOnSimulate spinOnHover" title="Run simulation">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                    </button>

                    <button id="simulation-config-button" type="button" class="btn btn-default dropdown-toggle disableOnDrawing disableOnRunning" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="Simulation menu">
                        <b class="caret" aria-hidden="true"></b>
                    </button>
                    <ul id="simulation-config" class="dropdown-menu config" role="menu" aria-labelledby="get-simulation-config">
                        <li id="run-after-change" title="Run simulation after change">
                            <a href="#">
                                <i class="fa fa-magic" aria-hidden="true"></i> Run after change
                                <span class="glyphicon glyphicon-menu-glyphicon glyphicon-ok pull-right" style="display:none"></span>
                            </a>
                        </li>
                        <li id="auto-reset" title="Reset simulation automatically">
                            <a href="#">
                                <i class="fa fa-eraser" aria-hidden="true"></i> Automatic reset
                                <span class="glyphicon glyphicon-menu-glyphicon glyphicon-ok pull-right" style="display:none"></span>
                            </a>
                        </li>
                        <li id="random-seed" title="Randomize seed for simulations">
                            <a href="#">
                                <i class="fa fa-random" aria-hidden="true"></i> Randomize seed
                                <span class="glyphicon glyphicon-menu-glyphicon glyphicon-ok pull-right" style="display:none"></span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li id="auto-protocol" title="Protocol simulation automatically">
                            <a href="#">
                                <i class="fa fa-history" aria-hidden="true"></i> Automatic protocol
                                <span class="glyphicon glyphicon-menu-glyphicon glyphicon-ok pull-right" style="display:none"></span>
                            </a>
                        </li>
                        <li id="delete-protocol" title="Delete this simulation protocol">
                            <a href="#">
                                <i class="fa fa-trash-o" aria-hidden="true"></i> Delete this protocol
                            </a>
                        </li>
                        <li id="delete-all-protocols" title="Delete all simulation protocols">
                            <a data-toggle="modal" href="#delete-all-protocols-dialog">
                                <i class="fa fa-trash" aria-hidden="true"></i> Delete all protocols
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li class="simulation-run spinOnHover" title="Run simulation">
                            <a href="#">
                                <i class="fa fa-cog" aria-hidden="true"></i> Run simulation
                            </a>
                        </li>
                        <li id="simulation-resume" title="Run simulation continuously">
                            <a href="#">
                                <i class="fa fa-play" aria-hidden="true"></i> Simulate continuously
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li id="capture-screen" title="Capture screen for thumbnail">
                            <a href="#">
                                <span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Capture screen
                            </a>
                        </li>
                        <li id="view-data" title="View documented data of the simulation">
                            <a data-toggle="modal" href="#data-dialog" aria-expanded="false" aria-controls="data-dialog">
                                <i class="fa fa-eye"></i> View simulation data
                            </a>
                        </li>

                        <li id="view-raw-data" title="View raw data of the simulation">
                            <a data-toggle="modal" href="#raw-data-dialog" aria-expanded="false" aria-controls="data-dialog">
                                <i class="fa fa-code"></i> View raw data
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li id="simulation-add" title="Add a new simulation">
                            <a data-toggle="modal" href="#simulation-form-dialog">
                                <span class="glyphicon glyphicon-menu-glyphicon glyphicon-save"></span> Add simulation
                            </a>
                        </li>
                        <li class="simulation-edit" title="Edit simulation">
                            <a data-toggle="modal" href="#simulation-form-dialog">
                                <span class="glyphicon glyphicon-menu-glyphicon glyphicon-edit"></span> Edit simulation
                            </a>
                        </li>
                        <li id="printToPDF" title="Print to PDF">
                            <a data-toggle="modal" href="#pdf-form-dialog" >
                                <i class="fa fa-print"></i> Print to PDF
                            </a>
                        </li>
                    </ul>
                </div>

                <button type="button" class="btn btn-default navbar-btn disableOnRunning" onclick="window.close()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>

            <div class="navbar-right">
                <span class="checkbox" style="margin-right:10px; margin-top:15px">
                    <label for="autoscale">
                        <input type="checkbox" name="autoscale" value="autoscale" id="autoscale" checked> Autoscale
                    </label>
                </span>
            </div>

        </div>
    </nav>

    <div id="content">

        <div id="controller" class="pull-right">

            <div id="controller-body">

                <nav id="nodeSpy">
                    <ul class="nav nav-pills nav-stacked"></ul>
                </nav>

                <div id="controller-panel" class="panel">
                    <div class="hidden-print" id="slider">

                        <div id="simulation" class="panel-body hideOnDrawing">
                            <div class="content"></div>
                        </div>

                        <div id="kernel" class="panel-body hideOnDrawing">
                            <div class="content"></div>
                        </div>

                        <div id="tabs">

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs nav-justified hideOnDrawing" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#nodes" aria-controls="nodes" role="tab" data-toggle="tab">Nodes</a>
                                </li>
                                <li role="presentation">
                                    <a href="#connections" aria-controls="connections" role="tab" data-toggle="tab">Connections</a>
                                </li>
                                <li role="presentation">
                                    <a href="#synapses" aria-controls="synapses" role="tab" data-toggle="tab">Synapses</a>
                                </li>
                                <li role="presentation">
                                    <a role="tab" class="dropdown-toggle disableOnDrawing" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="Edit slider settings">
                                        <div style="white-space: nowrap;">
                                            <i class="fa fa-sliders" aria-hidden="true"></i>
                                            <b class="caret"></b>
                                        </div>
                                    </a>
                                    <ul id="slider-config" class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="get-slider-config">
                                        <li id="level_1" class="level" level="1">
                                            <a href="#">
                                                    <span class="glyphicon glyphicon-menu-glyphicon glyphicon-leaf"></span> Rookie
                                                    <span class="glyphicon glyphicon-menu-glyphicon glyphicon-ok pull-right" style="display:none"></span>
                                                </a>
                                        </li>
                                        <li id="level_2" class="level" level="2">
                                            <a href="#">
                                                    <span class="glyphicon glyphicon-menu-glyphicon glyphicon-grain"></span> Beginner
                                                    <span class="glyphicon glyphicon-menu-glyphicon glyphicon-ok pull-right" style="display:none"></span>
                                                </a>
                                        </li>
                                        <li id="level_3" class="level" level="3">
                                            <a href="#">
                                                    <span class="glyphicon glyphicon-menu-glyphicon glyphicon-tree-deciduous"></span> Advanced
                                                    <span class="glyphicon glyphicon-menu-glyphicon glyphicon-ok pull-right" style="display:none"></span>
                                                </a>
                                        </li>
                                        <li id="level_4" class="level" level="4">
                                            <a href="#">
                                                    <span class="glyphicon glyphicon-menu-glyphicon glyphicon-apple"></span> Expert
                                                    <span class="glyphicon glyphicon-menu-glyphicon glyphicon-ok pull-right" style="display:none"></span>
                                                </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="nodes">
                                    <div class="controller"></div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="connections">
                                    <div class="controller"></div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="synapses">
                                    <div class="controller"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="data visible-print">
                        <div class="row">
                            <div class="col col-xs-6">
                                <h4>Nodes</h4>
                                <table class="nodes"></table>
                            </div>
                            <div class="col col-xs-6">
                                <h4>Links</h4>
                                <table class="links"></table>
                            </div>
                        </div>
                        <h4>Description</h4>
                        <div class="description"></div>
                    </div>
                </div>

                <div id="edit-network-button" style="float:right; margin-right:25px; display:none" class="hidden-print">
                    Editor mode is on.
                    <button id="edit-network-clear" class="btn btn-default">Clear</button>
                    <button id="edit-network-cancel" class="btn btn-default">Cancel</button>
                    <button id="edit-network-save" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>

        <div id="point"></div>
        <svg id="chart">
            <g id="dataChart" class="hideOnDrawing"></g>
            <g id="networkLayout" style="display: none"></g>
        </svg>
    </div>

    <script>
        window.$ = window.jQuery = require('jquery');
        window.app = require('../app');
        var configApp = app.config.app();
        $('title').html(configApp.title)
        var query = app.query(location.search);
        app.simulation.id = query.simulation;
        app.protocol.id = query.protocol;
        app.request.server_check().on('response', () => {
            app.simulation.init()
        })
    </script>
</body>

</html>
