<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href='../assets/css/styles.css'></link>
    <style>
        .content {
            margin: 10px 0px;
        }
    </style>
</head>

<body>

    <div class="container-fluid">
        <div class="content">
            <a class="btn btn-default">
                <i class="fa fa-arrow-left"></i>
            </a>

            <button id="copy" class="btn btn-default" data-clipboard-target="#raw_data">
                <i class="fa fa-clipboard"></i>
            </button>
        </div>

        <pre id="raw_data"></pre>
    </div>
    <script>
        const fs = require('fs');
        const path = require('path');
        const Clipboard = require('clipboard');

        window.$ = window.jQuery = require('jquery');
        window.app = require('../app');
        var query = app.query(location.search);
        app.simulation.id = query.simulation;
        app.protocol.id = query.protocol;

        app.db.init()
        app.protocol.init()

        var datastore = app.protocol.id != undefined ? app.protocol : app.db;
        datastore.get(app.protocol.id || app.simulation.id)
            .exec((err, docs) => {
                console.log(docs)
                app.data = docs;

                var configApp = app.config.app();
                if (app.simulation.id == app.data._id) {
                    $('a').attr('href', './simulation.html?simulation=' + app.simulation.id)
                } else {
                    $('a').attr('href', './simulation.html?simulation=' + app.simulation.id + '&protocol=' + app.data._id)
                }
                $('#raw_data').html(JSON.stringify(app.data, undefined, 4))
                var clipboard = new Clipboard('#copy');
            })
    </script>
</body>

</html>
