<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href='../assets/css/styles.css'></link>
    <style>
        .content {
            margin-top: 10px
        }

        img {
            width: 100%;
        }

        td {
            min-width: 150px;
        }

        .hline {
            border-top: 1px solid black;
        }

        td:first-child {
            font-weight: bold;
        }
    </style>
</head>

<body>

    <div class="container-fluid">
        <div class="content">
            <a class="btn btn-default">
              <i class="fa fa-arrow-left"></i>
          </a>
            <div class="data"></div>
        </div>
    </div>
    <script>
        const fs = require('fs');
        const path = require('path');
        // const Clipboard = require('clipboard');

        window.$ = window.jQuery = require('jquery');
        window.app = require('../app');
        var query = app.query(location.search);
        app.simulation.id = query.simulation;
        app.protocol.id = query.protocol;

        app.db.init()
        app.protocol.init()

        var datastore = app.protocol.id ? app.protocol : app.db;
        datastore.get(app.protocol.id || app.simulation.id)
            .exec((err, docs) => {
                console.log(docs)
                app.data = docs;

                var configApp = app.config.app();
                if (fs.existsSync(path.join(process.cwd(), configApp.datapath, 'images', app.data._id + '.png'))) {
                    var src = path.join(process.cwd(), configApp.datapath, 'images', app.data._id + '.png');
                } else {
                    var src = path.join(__dirname, '..', 'assets', 'img', 'simulation_default.png');
                }
                if (app.simulation.id == app.data._id) {
                    $('a').attr('href', './simulation.html?simulation=' + app.simulation.id)
                } else {
                    $('a').attr('href', './simulation.html?simulation=' + app.simulation.id + '&protocol=' + app.data._id)
                }
                // $('textarea').html(JSON.stringify(app.data, undefined, 4))
                // $('pre').append(app.format.syntaxHighlight(JSON.stringify(app.data, undefined, 4)))
                // var clipboard = new Clipboard('#copy');
                $('.data').html(app.renderer.simulation.data(app.data))
            })
    </script>
</body>

</html>
