<!-- <mat-toolbar [style.background-image]="backgroundImage()"></mat-toolbar> -->

<div style="border-left: 4px solid black; border-right: 4px solid black"
  [style.border-left-color]="color('source')"
  [style.border-right-color]="color('target')">
  <button mat-menu-item class="menu-item" (click)="resetParameters()">
    <fa-icon class="menu-icon" icon="eraser"></fa-icon> Reset parameters
  </button>

  <ng-container *ngIf="data.simulation.connectomes[link.idx]">
    <ng-container [ngSwitch]="data.simulation.connectomes[link.idx].hasSourceIndices(data)">
      <ng-container *ngSwitchCase="true">
        <button mat-menu-item class="menu-item" (click)="allSources()">
          <fa-icon class="menu-icon" icon="random"></fa-icon> Set all sources
        </button>
      </ng-container>
      <ng-container *ngSwitchCase="false">
        <button mat-menu-item class="menu-item" (click)="customSources()">
          <fa-icon class="menu-icon" icon="random"></fa-icon> Set custom sources
        </button>
      </ng-container>
    </ng-container>

    <ng-container [ngSwitch]="data.simulation.connectomes[link.idx].hasTargetIndices(data)">
      <ng-container *ngSwitchCase="true">
        <button mat-menu-item class="menu-item" (click)="allTargets()">
          <fa-icon class="menu-icon" icon="random"></fa-icon> Set all targets
        </button>
      </ng-container>
      <ng-container *ngSwitchCase="false">
        <button mat-menu-item class="menu-item" (click)="customTargets()">
          <fa-icon class="menu-icon" icon="random"></fa-icon> Set custom targets
        </button>
      </ng-container>
    </ng-container>
  </ng-container>

  <button mat-menu-item class="menu-item" (click)="deleteLink()">
    <fa-icon class="menu-icon" icon="trash-alt"></fa-icon> Delete link
  </button>
</div>
