<span class="node">
  <ng-container *ngIf="idx!=undefined">
    <span [class.dark-theme]="advanced()">
      <mat-toolbar class="header" color="primary" [style.background-color]="advanced() ? '' : color">
        <span class="flex" style="height:40px; line-height:40px">
          <span>
            <svg width="40" height="40">
              <g app-node-shape
              (click)="onClick()"
              [color]="color"
              [elementType]="collection.element_type"
              [idx]="node.idx"
              [selected]="isSelected()"
              [spatial]="isSpatial()"
              transform="translate(20,20)"
              ></g>
            </svg>
          </span>
          <span style="font-weight: bold; margin-left: 8px;">{{ modelConfig.label | capitalize }}</span>
          <span class="flex-spacer"></span>
          <span>({{ node.n || 1 }})</span>
        </span>
      </mat-toolbar>
    </span>

    <mat-list dense class="node" style="padding:0">
      <ng-container *ngFor="let param of modelConfig.params">
        <mat-list-item class="list-item" [style.border-color]="color" [style.display]="paramDisplay(param.id) ? '' : 'none'">
          <span class="flex">
            <span class="label ellipsis">{{ param.label | capitalize }}</span>
            <span class="flex-spacer"></span>
            <span class="ellipsis">{{ _formatService.format(model.params[param.id] || param.value) }}</span>
            <span class="unit">{{ param.unit }}</span>
          </span>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </ng-container>
</span>
