.param.description {
  color: #999;
  padding: 0 10px;
}

.param.enabled {
  background-color: #3366ff;
  color: white !important;
}

.param.enabled .description {
  background-color: #3366ff;
  color: white !important;
}
