.node-controller .node {
  height: 32px;
  width: 32px;
  line-height: 30.5px;
  font-size: 11px;
  border-width: 1.5px;
}

.node-controller .nodeMenuItem {
  display: none;
  width: 40px;
}

.node-controller:hover .nodeMenuItem {
  display: block;
}

.node-controller .nodeMenuButton {
  height: 32px;
  width: 32px;
  line-height: 32px;
  font-size: 12px;
  text-align: center;
  margin-left: -8px;
}

.linkButton:hover .link {
  display: none;
}

.linkButton .unlink {
  display: none;
}

.linkButton:hover .unlink {
  display: block;
}

.node-controller .item {
  border-left: 1.5px solid black;
  width: calc(100% - 1.5px);
  height: 24px;
  line-height: 24px;
}

::ng-deep .menu {
  min-width: 0 !important;
}

::ng-deep .menu .mat-menu-item {
  font-size: 12px;
  height: 32px !important;
  line-height: 32px;
}

::ng-deep .node-menu .navButton {
  font-size: 12px;
  height: 32px !important;
  line-height: 32px;
  width: 32px;
  text-align: center;
}

::ng-deep .node-menu .navButton fa-icon {
  min-width: 32px;
  margin-left: -16px;
}

::ng-deep .node-menu .color-picker {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

::ng-deep .node-menu .color-picker .btn-picker {
  width: 100% !important;
  height: 100% !important;
}
