.node-controller .controller-subheader {
  margin-bottom: 5px;
}

.node-controller .controller-subheader .node {
  height: 32px;
  width: 32px;
  margin-right: 5px;
  line-height: 30.5px;
  font-size: 11px;
  border-width: 1.5px;
}

.node-controller .controller-subheader .menuButton {
  font-size: 11px;
  opacity: 0;
}

.node-controller .controller-subheader:hover .menuButton {
  opacity: 1;
}

.node-controller .controller-menu mat-list-item {
  border-left: 1.5px solid black;
  width: calc(100% - 1.5px);
}

::ng-deep .node-menu button[mat-menu-item] {
  height: 32px !important;
  line-height: 32px;
}

::ng-deep .node-menu button[mat-menu-item] span {
  margin-left: 10px;
}

.color {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

::ng-deep .node-menu .color .btn-picker {
  width: 100% !important;
  height: 100% !important;
}
