<span class="controller node-controller" [style.display]="nodeDisplay(node) ? '' : 'None'">

  <mat-list class="controller-subheader" dense>
    <mat-list-item>
      <button mat-icon-button class="button node"
        (click)="toggleSelectNode(node)"
        [style.border-color]="color"
        [style.border-style]="_sketchService.isSelectedNode(node) ? 'dashed' : 'solid'"
        >
        {{ node.idx + 1 }}
      </button>

      <app-select [options]="models" [selected]="node.model" (selectChange)="selectModel($event)"></app-select>

      <mat-menu #nodeMenu="matMenu" class="node-menu">
        <!-- <button mat-menu-item (click)="_sketchService.toggleSelectNode(node)">
          <fa-icon icon="crosshairs"></fa-icon>
            <span *ngIf="!_sketchService.isSelectedNode(node)">Select</span>
            <span *ngIf="_sketchService.isSelectedNode(node)">Unselect</span>
          </button> -->
        <button mat-menu-item>
          <fa-icon [style.color]="color" icon="paint-brush"></fa-icon>
          <span style="pointer-events:none;">Colorize</span>
          <mcc-color-picker [selectedColor]="color" (selected)="selectColor($event)" class="color" hideEmptyUsedColors>
            <mcc-color-picker-collection [colors]="_colorService.colors()" hideEmpty="true"></mcc-color-picker-collection>
          </mcc-color-picker>
        </button>
        <button mat-menu-item (click)="resetNode()">
          <fa-icon icon="eraser"></fa-icon>
          <span>Reset</span>
        </button>
        <!-- <button mat-menu-item (click)="freezeNode(node.idx)">
          <fa-icon icon="snowflake"></fa-icon>
          <span>Freeze</span>
        </button> -->
        <button mat-menu-item (click)="deleteNode()">
          <fa-icon icon="trash-alt"></fa-icon>
          <span>Delete</span>
        </button>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="nodeMenu" class="button menuButton">
        <fa-icon icon="ellipsis-v"></fa-icon>
      </button>
    </mat-list-item>
  </mat-list>

  <mat-list class="controller-menu" dense style="padding:0 8px">
    <mat-list-item *ngIf="!isRecorder(node.element_type)" [style.border-color]="color" [style.display]="_controllerConfigService.config.level < 0 || _controllerService.display(2) ? '' : 'None'" >
      <app-param-input view="valueSlider" [params]="node" id="n" [options]="_controllerConfigService.config['node'].npop" [color]="color" (paramChange)="onChange()" class="input"></app-param-input>
    </mat-list-item>
    <mat-list-item *ngFor="let param of this.configModel.params" [style.border-color]="color" [style.display]="paramDisplay(node, param.id) ? '' : 'None'" >
      <app-param-input [view]="param.input" [model]="node.model" [params]="node.params" [id]="param.id" [options]="param"  [color]="color" (paramChange)="onChange()" class="input"></app-param-input>
    </mat-list-item>
  </mat-list>

</span>
