:host {
  width: 100%;
  height: 100%;
}

.param-container {
  display: flex;
  height: 100%;
  padding: 0 16px;
  width: calc(100% - 32px);
  vertical-align: middle;

  span {
    line-height: 100%;
    margin: auto;
  }

  .param-label {
    width: 100%;
  }

  .param-unit {
    text-align: right;
    width: 24px;
  }
}


::ng-deep .param-menu .mat-menu-item {
  height: 24px !important;
  line-height: 24px;
}

::ng-deep .slider-menu .slider-container {
  width: 100%;
}

::ng-deep .slider-menu .slider-container .slider-header {
  font-size: 12px;
  width: calc(100% - 20px);
  margin: 0 10px;
}

::ng-deep .slider-menu .slider-container .slider-header .param-label {
  height: 24px;
  line-height: 24px;
}

::ng-deep .slider-menu .slider-container .slider-header .slider-input {
  font-size: 12px;
  border: 0;
  height: 24px;
  line-height: 23px;
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  outline: none;
  width: 50px;
}

::ng-deep .slider-menu .slider-container .slider-header .param-menu-button {
  font-size: 12px;
  height: 24px;
  width: 24px;
  line-height: 24px;
  text-align: center;
}

::ng-deep .slider-menu .slider-container .slider-header .mat-list-item-content {
  padding: 0 !important;
}

::ng-deep .slider-menu .slider-container .slider-header .param-unit {
  width: 24px;
}

::ng-deep .slider-menu .slider-container:hover .slider-header .param-unit {
  display: none;
}

::ng-deep .slider-menu .slider-container .slider-header .param-menu-button-icon {
  width: 24px;
  display: none;
}

::ng-deep .slider-menu .slider-container:hover .slider-header .param-menu-button-icon {
  display: block;
}
