<mat-menu #sliderMenu="matMenu" class="slider-menu node-menu" overlapTrigger="true" xPosition="before">
  <div class="slider-container" (click)="$event.stopPropagation();">
    <div class="slider-header flex">
      <span class="param-label ellipsis">{{ options.label | capitalize }}</span>
      <span class="flex-spacer"></span>
      <span style="display:flex">
        <input (change)="onChange($event)"
          [(ngModel)]="value"
          [defaultValue]="options.value"
          [max]="options.max"
          [min]="options.min"
          [step]="options.step"
          class="slider-input"
          type="number" />
        <span class="param-unit">{{ options.unit }}</span>
      </span>
    </div>

    <span>
      <mat-slider
        (change)="onChange($event)"
        (input)="value=$event.value"
        [max]="options.max"
        [min]="options.min"
        [step]="options.step"
        [value]="value"
        class="slider"
        ></mat-slider>
    </span>

    <span class="flex" style="font-size:10px; margin:0 8px; width: calc(100% - 16px)">
      <span>{{ options.min }}</span>
      <span class="flex-spacer"></span>
      <span>{{ options.max }}</span>
    </span>
  </div>
</mat-menu>

<span class="param-container flex" [matMenuTriggerFor]="sliderMenu">
  <span class="param-label ellipsis">{{ options.label | capitalize }}</span>
  <span class="flex-spacer"></span>
  <span class="param-value">
    <ng-container [ngSwitch]="value">
      <ng-container *ngSwitchCase="undefined">
        <span style="color:rgba(0,0,0,0.24)">
          {{ options.value }}
        </span>
      </ng-container>
      <ng-container *ngSwitchDefault>
        {{ value }}
      </ng-container>
    </ng-container>
  </span>

  <span class="param-unit">{{ options.unit }}</span>
</span>
