<mat-menu #maskMenu="matMenu" class="mask-menu" overlapTrigger="true" xPosition="before">
  <span class="flex" (click)="$event.stopPropagation();">
    <ng-container *ngIf="showPlot">
      <span style="width:700px; height:500px">
        <plotly-plot
          [data]="data"
          [layout]="layout"
          [style]="{position: 'relative', width: '100%', height: '100%'}"
          [useResizeHandler]="true"
        ></plotly-plot>
      </span>
    </ng-container>

    <span style="width:280px">
      <mat-list dense style="padding:0">
        <h3 mat-subheader class="flex">
          <span class="param-label ellipsis" style="line-height:16px">Mask</span>
          <span class="flex-spacer"></span>
          <span class="simulation-theme">
            <mat-nav-list dense color="primary" class="flex" style="padding:0">
              <mat-list-item (click)="showPlot=!showPlot" [class.active]="showPlot" class="navButton">
                <fa-icon icon="crop-alt"></fa-icon>
              </mat-list-item>
            </mat-nav-list>
          </span>
        </h3>

        <mat-list-item>
          <app-select
            (selectedChange)="selectMask($event)"
            [options]="maskOptions"
            [selected]="connectome.projections.mask ? connectome.projections.mask.masktype : 'none'"
            matTooltipPosition="before"
            style="height:40px;line-height:48px"
          ></app-select>
        </mat-list-item>
      </mat-list>

      <ng-container *ngIf="selectedMaskConfig">
        <mat-nav-list dense style="padding: 0 8px">
          <ng-container *ngFor="let spec of selectedMaskConfig.specs">
            <mat-list-item class="item">
              <app-input-popup
                (inputChange)="onMaskChange(spec.id, $event)"
                [id]="spec.id"
                [value]="connectome.projections.mask ? connectome.projections.mask.specs[spec.id] : spec.value"
                [options]="spec"
                [view]="spec.input"
                style="width:100%"
              ></app-input-popup>
            </mat-list-item>
          </ng-container>
        </mat-nav-list>
      </ng-container>
    </span>
  </span>
</mat-menu>

<div class="mask-container flex" [matMenuTriggerFor]="maskMenu" (click)="update()">
  <span class="label">Mask</span>
  <span class="flex-spacer"></span>
  <span>{{ (connectome.projections.mask ? connectome.projections.mask.masktype : 'none') | capitalize }}</span>
</div>
