<mat-list dense>
  <mat-list-item style="font-weight:bold">
    <span class="flex">
      <span>Parameter</span>
      <span class="flex-spacer"></span>
      <span>Value</span>
    </span>
  </mat-list-item>

  <ng-container *ngFor="let paramKey of defaultsKeys">
    <mat-list-item
      [class.enabled]="hasParam(paramKey)"
      class="item">
      <span class="flex">
        <span>{{ paramKey }}</span>
        <span class="flex-spacer"></span>
        <span class="description">
          {{ defaults[paramKey] }}
        </span>
      </span>
    </mat-list-item>
  </ng-container>
</mat-list>
