<mat-sidenav-container id="model">
  <mat-sidenav role="region" mode="side" position="end" [opened]="_modelService.selectedModel">
    <mat-tab-group>
      <mat-tab label="Parameters">
        <app-model-details></app-model-details>
      </mat-tab>
      <mat-tab label="Controller view" [disabled]="!isEnabled()">
        <app-model-config *ngIf="_configService.selectedModel"></app-model-config>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-model-description *ngIf="_modelService.selectedModel"></app-model-description>
  </mat-sidenav-content>

</mat-sidenav-container>
