#model {
  width: 100%;
  height: calc(100vh - 40px);
  position: relative;

  mat-sidenav-container {
    width: calc(100% - 40px);
    height: calc(100vh - 40px);

    mat-sidenav {
      width: 280px;
    }

    .navbar {
      padding: 0;
      display: flex;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);

      .mat-list-item {
        width: 40px;
      }
    }
  }
}

::ng-deep .model .mat-drawer-inner-container {
  overflow-x: hidden;
}
