#model {
  height: 100vh;
}

#model mat-sidenav {
  width: 320px;
}

::ng-deep #model mat-sidenav .mat-tab-label {
  min-width: 0px;
}

#model .modelToolbar {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}
