<mat-menu #paramMenu="matMenu" class="param-menu">
  <button mat-menu-item (click)="setDefaultValue()">Set default value: {{ options.value }} {{ options.unit }}</button>
  <button mat-menu-item *ngIf="model" (click)="openConfigDialog()">Configure</button>
</mat-menu>

<mat-menu #sliderMenu="matMenu" class="slider-menu" overlapTrigger="true" xPosition="before">
  <span class="slider-container mat-accent" (click)="$event.stopPropagation();">
    <div class="slider-header flex">
      <span class="param-label ellipsis">{{ options.label | capitalize }}</span>
      <span class="flex-spacer"></span>
      <span style="display:flex">
        <input class="slider-input" type="number" [(ngModel)]="value" [defaultValue]="options.value" [placeholder]="options.value" [min]="options.min" [max]="options.max" [step]="options.step" (change)="onChange($event)">
        <mat-nav-list style="padding:0;display:flex;">
          <mat-list-item class="param-menu-button" [matMenuTriggerFor]="paramMenu">
            <span class="param-unit">{{ options.unit }}</span>
            <fa-icon class="param-menu-button-icon" icon="ellipsis-v"></fa-icon>
          </mat-list-item>
        </mat-nav-list>
      </span>
    </div>

    <mat-slider class="slider" [value]="value" [min]="options.min" [max]="options.max" [step]="options.step" (change)="onChange($event)" (input)="value=$event.value" color="primary"></mat-slider>
    <span class="slider-ticklabels">
      <span>{{ options.min }}</span>
      <span>{{ options.max }}</span>
    </span>
  </span>
</mat-menu>

<span class="param-container flex" [matMenuTriggerFor]="sliderMenu">
  <span class="param-label ellipsis">{{ options.label | capitalize }}</span>
  <span class="flex-spacer"></span>
  <span *ngIf="value!=undefined">
    {{ value }}
  </span>
  <span *ngIf="value==undefined" style="color:rgba(0,0,0,0.24)">
    {{ options.value }}
  </span>
  <span class="param-unit">{{ options.unit }}</span>
</span>
