.link-controller .linkMenuItem {
  display: none;
  width: 40px;
}

.link-controller:hover .linkMenuItem {
  display: block;
}

.link-controller .linkMenuButton {
  height: 32px;
  width: 32px;
  line-height: 32px;
  font-size: 12px;
  text-align: center;
  margin-left: -8px;
}

.link-controller .controller-subheader .button {
  height: 32px;
  width: 32px;
  line-height: 30.5px;
  font-size: 11px;
  border-width: 1.5px;
}

.link-controller .controller-subheader .arrow {
  font-size: 24px;
  vertical-align: middle;
}

.link-controller .paramItem {
  border-left: 1.5px solid black;
  border-right: 1.5px solid black;
  width: calc(100% - 3px);
  height: 24px;
  line-height: 24px;
}

.link-controller .controller-menu {
  padding: 0 8px;
}

.link-controller .controller-menu mat-list-item, .link-controller .controller-menu mat-list-option {
  border-left: 1.5px solid black;
  border-right: 1.5px solid black;
  width: calc(100% - 3px);
  height: 24px;
  line-height: 24px;
}

::ng-deep .menu .mat-menu-item {
  font-size: 12px;
  height: 32px !important;
  line-height: 32px;
}

::ng-deep .link-menu .navButton {
  font-size: 12px;
  height: 32px !important;
  line-height: 32px;
  width: 32px;
  text-align: center;
}

::ng-deep .link-menu .navButton fa-icon {
  min-width: 32px;
  margin-left: -16px;
}
