<mat-menu #linkMenu="matMenu" class="menu link-menu" overlapTrigger="true" >
  <mat-nav-list style="display:flex; padding:0; width:100%">
    <!-- <mat-list-item (click)="resetParameters()" class="navButton" [class.disabled]="linkedNode" matTooltip="Reset parameters">
      <fa-icon icon="eraser"></fa-icon>
    </mat-list-item> -->

    <mat-list-item (click)="deleteLink()" class="navButton" matTooltip="Delete link">
      <fa-icon icon="trash-alt"></fa-icon>
    </mat-list-item>

    <mat-list-item (click)="selectionList=!selectionList" class="navButton" [class.active]="selectionList" matTooltip="View selection for parameters">
      <fa-icon icon="tasks"></fa-icon>
    </mat-list-item>
  </mat-nav-list>
</mat-menu>

<span class="controller link-controller" [style.display]="linkDisplay()">

  <mat-list class="controller-subheader" dense style="display:flex; padding:0; width:100%">

    <mat-list-item style="width:64px">
      <svg width="40" height="40">
        <g app-node [node]="pre" (nodeClick)="selectNode(pre)" transform="translate(20,20)"></g>
      </svg>
    </mat-list-item>

    <mat-list-item (click)="selectLink()" style="width:64px">
      <span style="width:40px; padding:0; text-align: center">
      <fa-icon icon="long-arrow-alt-right" class="material-icons arrow" [style.color]="_colorService.link(link)" style="width:100%"></fa-icon>
      </span>
    </mat-list-item>

    <mat-list-item style="width:64px">
      <svg width="40" height="40">
        <g app-node [node]="post" (nodeClick)="selectNode(post)" transform="translate(20,20)"></g>
      </svg>
    </mat-list-item>

    <mat-list-item></mat-list-item>

    <mat-list-item class="linkMenuItem">
      <button mat-icon-button [matMenuTriggerFor]="linkMenu" class="linkMenuButton">
        <fa-icon icon="ellipsis-h"></fa-icon>
      </button>
    </mat-list-item>
  </mat-list>

  <ng-container *ngIf="!selectionList">

    <ng-container *ngIf="!isBothLayer()">
      <mat-list dense class="controller-menu">
        <mat-list-item [style.border-left-color]="preColor" [style.border-right-color]="postColor" [style.display]="paramDisplay('conn_spec.rule')" style="height:40px; line-height:40px">
          <app-select [options]="connRules" [selected]="link.conn_spec.rule" (selectChange)="onSelectConnRule($event)"></app-select>
        </mat-list-item>
      </mat-list>

      <mat-nav-list dense class="controller-menu">
        <ng-container *ngFor="let conn of slider.connection">
          <mat-list-item [style.border-left-color]="preColor" [style.border-right-color]="postColor" [style.display]="paramDisplay('conn_spec.' + conn.id)">
            <app-param-input view="valueSlider" [params]="link.conn_spec" [id]="conn.id" [options]="conn" (paramChange)="onChange()" class="input"></app-param-input>
          </mat-list-item>
        </ng-container>
      </mat-nav-list>

      <mat-list dense class="controller-menu">
        <mat-list-item [style.border-left-color]="preColor" [style.border-right-color]="postColor" [style.display]="paramDisplay('syn_spec.model')" style="height:40px; line-height:40px">
          <app-select [options]="synModels" [selected]="link.syn_spec.model" (selectChange)="onSelectSynModel($event)"></app-select>
        </mat-list-item>
      </mat-list>

      <mat-nav-list dense class="controller-menu">
        <ng-container *ngFor="let syn of slider.synapse">
          <mat-list-item [style.border-left-color]="preColor" [style.border-right-color]="postColor" [style.display]="paramDisplay('syn_spec.' + syn.id)">
            <app-param-input [view]="syn.input" [params]="link.syn_spec" [id]="syn.id" [options]="syn" (paramChange)="onChange()" class="input"></app-param-input>
          </mat-list-item>
        </ng-container>
      </mat-nav-list>
    </ng-container>

    <ng-container *ngIf="isBothLayer()">
      <mat-list dense class="controller-menu">
        <mat-list-item [style.border-left-color]="preColor" [style.border-right-color]="postColor" style="height:40px; line-height:40px">
          <app-select [options]="projectionsConfig.connection_type" [selected]="link.projections.connection_type" (selectChange)="onSelectConnectionType($event)"></app-select>
        </mat-list-item>
      </mat-list>

      <mat-nav-list dense class="controller-menu">
        <mat-list-item [style.border-left-color]="preColor" [style.border-right-color]="postColor">
          <app-param-value-slider [value]="link.projections.kernel" [options]="projectionsConfig.kernel" (valueChange)="onProjectionsValueChange('kernel', $event)" class="slider"></app-param-value-slider>
        </mat-list-item>

        <mat-list-item [style.border-left-color]="preColor" [style.border-right-color]="postColor">
          <app-param-value-slider [value]="link.projections.number_of_connections" [options]="projectionsConfig.number_of_connections" (valueChange)="onProjectionsValueChange('number_of_connections', $event)" class="slider"></app-param-value-slider>
        </mat-list-item>

        <mat-list-item [style.border-left-color]="preColor" [style.border-right-color]="postColor">
          Mask
        </mat-list-item>

        <mat-list-item [style.border-left-color]="preColor" [style.border-right-color]="postColor">
          <app-param-value-slider [value]="link.projections.weights" [options]="projectionsConfig.weights" (valueChange)="onProjectionsValueChange('weights', $event)" class="slider"></app-param-value-slider>
        </mat-list-item>

        <mat-list-item [style.border-left-color]="preColor" [style.border-right-color]="postColor">
          <app-param-value-slider [value]="link.projections.delays" [options]="projectionsConfig.delays" (valueChange)="onProjectionsValueChange('delays', $event)" class="slider"></app-param-value-slider>
        </mat-list-item>

      </mat-nav-list>

      <span class="mat-primary">
        <mat-selection-list dense class="controller-menu" (selectionChange)="onProjectionSelectionChange($event)">
            <mat-list-option value="allow_autapses" [selected]="link.projections.allow_autapses" [style.border-left-color]="preColor" [style.border-right-color]="postColor">
              {{ projectionsConfig.allow_autapses.label | capitalize }}
            </mat-list-option>

            <mat-list-option value="allow_multapses" [selected]="link.projections.allow_multapses" [style.border-left-color]="preColor" [style.border-right-color]="postColor">
              {{ projectionsConfig.allow_multapses.label | capitalize }}
            </mat-list-option>
        </mat-selection-list>
      </span>
    </ng-container>

  </ng-container>

  <ng-container *ngIf="selectionList">
      <span class="mat-primary">
        <mat-selection-list dense [(ngModel)]="link.display" class="controller-menu">
          <ng-container *ngIf="isBothLayer()">
            <mat-list-option value="connection_type" class="paramItem" [style.border-left-color]="preColor" [style.border-right-color]="postColor">
              <span class="flex">
                <span class="ellipsis">Connection type</span>
                <span>{{ link.projections.connection_type }}</span>
              </span>
            </mat-list-option>

            <mat-list-option value="kernel" class="paramItem" [style.border-left-color]="preColor" [style.border-right-color]="postColor">
              <span class="flex">
                <span class="ellipsis">Kernel</span>
                <span>{{ link.projections.kernel }}</span>
              </span>
            </mat-list-option>

            <mat-list-option value="number_of_connections" class="paramItem" [style.border-left-color]="preColor" [style.border-right-color]="postColor">
              <span class="flex">
                <span class="ellipsis">Number of connections</span>
                <span>{{ link.projections.number_of_connections }}</span>
              </span>
            </mat-list-option>

            <mat-list-option value="mask" class="paramItem" [style.border-left-color]="preColor" [style.border-right-color]="postColor">
              <span class="flex">
                <span class="ellipsis">Mask</span>
                <span>{{ link.projections.mask }}</span>
              </span>
            </mat-list-option>

            <mat-list-option value="weights" class="paramItem" [style.border-left-color]="preColor" [style.border-right-color]="postColor">
              <span class="flex">
                <span class="ellipsis">Weights</span>
                <span>{{ link.projections.weights }}</span>
              </span>
            </mat-list-option>

            <mat-list-option value="delays" class="paramItem" [style.border-left-color]="preColor" [style.border-right-color]="postColor">
              <span class="flex">
                <span class="ellipsis">Delays</span>
                <span>{{ link.projections.delays }}</span>
              </span>
            </mat-list-option>
          </ng-container>

          <ng-container *ngIf=!isBothLayer()>

          <mat-list-option value="conn_spec.rule" class="paramItem" [style.border-left-color]="preColor" [style.border-right-color]="postColor">
            <span class="flex">
              <span class="ellipsis">Connection rule</span>
              <span>{{ link.conn_spec.rule }}</span>
            </span>
          </mat-list-option>

          <ng-container *ngFor="let conn of slider.connection" >
            <mat-list-option [value]="'conn_spec.' + conn.id" class="paramItem" [style.border-left-color]="preColor" [style.border-right-color]="postColor">
              <span class="flex">
                <span class="ellipsis">{{ conn.label | capitalize }}</span>
                <span>{{ link.conn_spec[conn.id] || conn.value }}</span>
              </span>
            </mat-list-option>
          </ng-container>

          <mat-list-option value="syn_spec.model" class="paramItem" [style.border-left-color]="preColor" [style.border-right-color]="postColor">
            <span class="flex">
              <span class="ellipsis">Synaptic model</span>
              <span>{{ link.syn_spec.model }}</span>
            </span>
          </mat-list-option>

          <ng-container *ngFor="let syn of slider.synapse" >
            <mat-list-option [value]="'syn_spec.' + syn.id" class="paramItem" [style.border-left-color]="preColor" [style.border-right-color]="postColor">
              <span class="flex">
                <span class="ellipsis">{{ syn.label | capitalize }}</span>
                <span>{{ link.syn_spec[syn.id] || syn.value }}</span>
              </span>
            </mat-list-option>
          </ng-container>

        </ng-container>
      </mat-selection-list>
    </span>
  </ng-container>

</span>
