<div style="visibility: hidden; position: fixed"
    [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y"
    [matMenuTriggerFor]="linkMenu">
</div>

<mat-menu #linkMenu="matMenu" class="context-menu link-menu">
  <app-link-menu
    (dataChange)="dataChange.emit($event)"
    [(data)]="data"
    [link]="link" 
  ></app-link-menu>
</mat-menu>

<span
  [class.dark-theme]="advanced()"
  (contextmenu)="onContextMenu($event)"
  (mouseout)="onMouseOut($event)"
  (mouseover)="onMouseOver($event)">
  <mat-toolbar
    [style.background-image]="backgroundImage()"
    class="link-toolbar"
    color="primary">

    <button mat-button (click)="selectNode(connectome.source)" style="width:33.3%;; height:40px">
      <svg width="64" height="64" style="margin-top:-6px">
        <g app-node-shape
          [strokeColor]="color('source')"
          [elementType]="collection(connectome.source).element_type"
          [idx]="connectome.source"
          [label]="label(connectome.source)"
          [spatial]="isSpatial(connectome.source)"
          style="pointer-events:none"
          transform="translate(32,32)"
          radius="20"
          strokeWidth="4"
          labelSize="16"
        ></g>
      </svg>
    </button>

    <button mat-button (click)="selectLink()" style="width:33.3%; height: 40px">
      <fa-icon
        [style.color]="color_weight()"
        class="material-icons arrow"
        icon="long-arrow-alt-right"
        style="width:100%; font-size: 24px"
      ></fa-icon>
    </button>

    <button mat-button (click)="selectNode(connectome.target)" style="width:33.3%; height:40px">
        <svg width="64" height="64" style="margin-top:-6px">
          <g app-node-shape
            (click)="selectNode(connectome.target)"
            [strokeColor]="color('target')"
            [elementType]="collection(connectome.target).element_type"
            [idx]="connectome.target"
            [label]="label(connectome.target)"
            [spatial]="isSpatial(connectome.target)"
            style="pointer-events:none"
            transform="translate(32,32)"
            radius="20"
            strokeWidth="4"
            labelSize="16"
          ></g>
        </svg>
    </button>

  </mat-toolbar>
</span>
