:host {
  width: 100%;
}

.link-toolbar {
  padding: 0;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;

  .mat-list {
    padding: 0;
  }
}
//
// ::ng-deep .link-toolbar .mat-list-item-content {
//   padding: 0 8px !important;
// }
