<nav mat-tab-nav-bar>
  <a mat-tab-link
    (click)="selectElementType(null)"
    [active]="isSelected(null)"
    class="tab-nav"
  > All </a>
  <a mat-tab-link
    (click)="selectElementType('stimulator')"
    [active]="isSelected('stimulator')"
    class="tab-nav"
  > Stimulator </a>
  <a mat-tab-link
    (click)="selectElementType('neuron')"
    [active]="isSelected('neuron')"
    class="tab-nav"
  > Neuron </a>
  <a mat-tab-link
    (click)="selectElementType('recorder')"
    [active]="isSelected('recorder')"
    class="tab-nav"
  > Recorder </a>
</nav>
