<mde-popover #networkDetails="mdePopover" mdeFocusTrapEnabled="false" mdePopoverPositionY="above" mdePopoverPositionX="before" mdePopoverOffsetX="323">
  <mat-card style="width:360px">
    <app-sketch [data]="network" width="360" height="200"></app-sketch>
    <app-nodes-view [nodes]="network.collections"></app-nodes-view>
  </mat-card>
</mde-popover>

<mat-list dense class="networks">
  <mat-list-item>
    <span style="width:100%; display:flex">
      <mat-form-field floatLabel="never" style="flex-grow:1">
        <fa-icon matPrefix icon="search" style="padding-right: 10px"></fa-icon>
        <input matInput type="text" class="formControl" placeholder="Search for a network" (keyup)="search($event.target.value)" autocomplete="off" />
      </mat-form-field>
    </span>

    <mat-menu #networksMenu="matMenu" class="networks-menu dense">
      <button mat-menu-item [routerLink]="_navigationService.routerLink('simulate')" (click)="_controllerService.options.edit=true">
        <fa-icon icon="plus" style="margin-right:10px"></fa-icon>
        Add a new network
      </button>
      <button mat-menu-item (click)="clearNetworks()">
        Remove all networks
      </button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="networksMenu" class="button">
      <fa-icon icon="ellipsis-v" style="font-size:12px"></fa-icon>
    </button>
  </mat-list-item>
</mat-list>

<mat-nav-list dense [mdePopoverTriggerFor]="networkDetails" mdePopoverTriggerOn="none" #networkTarget="mdePopoverTrigger" (mouseleave)="networkTarget.closePopover()">
  <mat-list-item *ngFor="let network of filteredNetworks" (click)="loadNetwork(network._id)" (mouseover)="view(network)" [class.active]="isLoaded(network)" [routerLink]="_navigationService.routerOptions({source:'network', id:network._id})" class="network">
    <a matLine>{{ network.name }}</a>

    <mat-menu #networkMenu="matMenu" class="network-menu dense">
      <button mat-menu-item>
        <fa-icon icon="trash-alt"></fa-icon><span style="margin-left:10px">Delete network</span>
      </button>
    </mat-menu>

    <button mat-icon-button *ngIf="_navigationService.url().endsWith('view')" [matMenuTriggerFor]="networkMenu" class="button">
      <fa-icon icon="ellipsis-v" style="font-size:12px"></fa-icon>
    </button>

    <button mat-icon-button *ngIf="_navigationService.url().endsWith('simulate')" (mouseover)="openPopover(networkTarget)" class="button">
      <fa-icon icon="info-circle" style="font-size:12px"></fa-icon>
    </button>
  </mat-list-item>
</mat-nav-list>
