<span style="display:flex; position:relative;">
  <mat-form-field class="select">
    <mat-select
      (selectionChange)="onSelectionChange()"
      [(ngModel)]="selected"
      [disabled]="disabled"
      [placeholder]="placeholder"
      >
      <ng-container *ngFor="let group of options">
        <mat-optgroup [label]="group.name">
          <ng-container *ngFor="let option of group.options">
            <mat-option [value]="option.value">
              {{ (option.label || option.value) | capitalize }}
            </mat-option>
          </ng-container>
        </mat-optgroup>
      </ng-container>
    </mat-select>
  </mat-form-field>
</span>
