.connection-selection {
  mat-selection-list {
    padding: 0;

    mat-list-option {
      height: 32px;
      line-height: 32px;

      .value {
        margin: 0 4px;
      }

      .unit {
        margin-right: -10px;
      }
    }
  }
}
