<div class="selection connection-selection"
  [style.border-left-color]="connection.source.view.color"
  [style.border-right-color]="connection.target.view.color"
  [style.display]="connection.view.isSelected() ? '' : 'none'">

  <app-connection-toolbar
    [connection]="connection"
  ></app-connection-toolbar>

  <mat-selection-list dense (selectionChange)="onSelectionChange($event)">

    <ng-container *ngIf="connection.isBothSpatial()">
      <mat-list-option value="connection_type">
        <span class="flex">
          <span class="ellipsis">Connection type</span>
        </span>
      </mat-list-option>

      <mat-list-option value="kernel">
        <span class="flex">
          <span class="ellipsis">Kernel</span>
        </span>
      </mat-list-option>

      <mat-list-option value="number_of_connections">
        <span class="flex">
          <span class="ellipsis">Number of connections</span>
        </span>
      </mat-list-option>

      <mat-list-option value="mask">
        <span class="flex">
          <span class="ellipsis">Mask</span>
        </span>
      </mat-list-option>

      <mat-list-option value="weights">
        <span class="flex">
          <span class="ellipsis">Weights</span>
          <span class="flex-spacer"></span>
          <span>pA</span>
        </span>
      </mat-list-option>

      <mat-list-option value="delays">
        <span class="flex">
          <span class="ellipsis">Delays</span>
          <span class="flex-spacer"></span>
          <span>ms</span>
        </span>
      </mat-list-option>
    </ng-container>

    <ng-container *ngIf="!connection.isBothSpatial() && !connection.view.connectRecorder()">

      <ng-container *ngFor="let synParam of connection.synapse.params">
        <mat-list-option
          [matTooltip]="synParam.id"
          [selected]="synParam.visible"
          [value]="synParam.id"
          matTooltipPosition="before">
          <span class="flex">
            <span class="ellipsis">{{ synParam.options.label | capitalize }}</span>
            <span class="flex-spacer"></span>
            <span class="value">{{ synParam.value }}</span>
            <span class="unit">{{ synParam.options.unit }}</span>
          </span>
        </mat-list-option>
      </ng-container>

    </ng-container>
  </mat-selection-list>

</div>
