/* Create three equal columns that floats next to each other */

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  text-align: justify;
  height: 100%;
}

.column div {
  padding: 5px;
  height: 100%;
  position: relative;
  color: rgb(64, 64, 64);
}

.column img {
  height: 100px;
  padding: 5px;
}


.doc {
  height: 350px;
}

.doc .column:hover div {
  color: white;
}

.doc .column .whoami {
  position: absolute;
  bottom: 5px;
}

.user div {
  border: 2px solid #93b5ad;
}

.user:hover div {
  background-color: #93b5ad;
}

.deployer div {
  border: 2px solid #be6442;
}

.deployer:hover div {
  background-color: #be6442;
}

.developer div {
  border: 2px solid #ce934a;
}

.developer:hover div {
  background-color: #ce934a;
}

.setup {
  height: 150px;
}
