<span class="link">
  <ng-container *ngIf="idx!=undefined">

    <span [class.dark-theme]="advanced()">
      <mat-toolbar class="header"  color="primary" [style.background-image]="backgroundImage" [style.border-left-color]="preColor" [style.border-right-color]="postColor">
        <app-link-sketch [data]="data" [idx]="idx" style="width:100%"></app-link-sketch>
      </mat-toolbar>
    </span>

    <mat-list dense style="padding:0">
      <ng-container *ngIf="isBothSpatial()">
        <mat-list-item class="list-item" [style.display]="paramDisplay(link, 'connection_type') ? '' : 'none'" [style.border-left-color]="preColor" [style.border-right-color]="postColor">
          <span class="flex">
            <span>Connection type</span>
            <span class="flex-spacer"></span>
            <span>{{ connectome.projections.connection_type }}</span>
          </span>
        </mat-list-item>

        <mat-list-item class="list-item" [style.display]="paramDisplay(link, 'kernel') ? '' : 'none'" [style.border-left-color]="preColor" [style.border-right-color]="postColor">
          <span class="flex">
            <span>Kernel</span>
            <span class="flex-spacer"></span>
            <span>{{ connectome.projections.kernel }}</span>
          </span>
        </mat-list-item>

        <mat-list-item class="list-item" [style.display]="paramDisplay(link, 'number_of_connections') ? '' : 'none'" [style.border-left-color]="preColor" [style.border-right-color]="postColor">
          <span class="flex">
            <span>Number of connections</span>
            <span class="flex-spacer"></span>
            <span>{{ connectome.projections.number_of_connections }}</span>
          </span>
        </mat-list-item>

        <mat-list-item class="list-item" [style.display]="paramDisplay(link, 'weights') ? '' : 'none'" [style.border-left-color]="preColor" [style.border-right-color]="postColor">
          <span class="flex">
            <span>Weights</span>
            <span class="flex-spacer"></span>
            <span>{{ synWeights() }}</span>
            <span class="unit">pA</span>
          </span>
        </mat-list-item>

        <mat-list-item class="list-item" [style.display]="paramDisplay(link, 'delays') ? '' : 'none'" [style.border-left-color]="preColor" [style.border-right-color]="postColor">
          <span class="flex">
            <span>Delays</span>
            <span class="flex-spacer"></span>
            <span>{{ synDelays() }}</span>
            <span class="unit">ms</span>
          </span>
        </mat-list-item>
      </ng-container>

      <ng-container *ngIf="!isBothSpatial()">
        <mat-list-item class="list-item" [style.display]="paramDisplay(link, 'conn_spec.rule') ? '' : 'none'" [style.border-left-color]="preColor" [style.border-right-color]="postColor">
          <span class="flex">
            <span>Connection rule</span>
            <span class="flex-spacer"></span>
            <span>{{ connRule() }}</span>
          </span>
        </mat-list-item>

        <mat-list-item class="list-item" [style.display]="paramDisplay(link, 'syn_spec.model') ? '' : 'none'" [style.border-left-color]="preColor" [style.border-right-color]="postColor">
          <span class="flex">
            <span>Synapse model</span>
            <span class="flex-spacer"></span>
            <span>{{ synModel() }}</span>
          </span>
        </mat-list-item>

        <mat-list-item class="list-item" [style.display]="paramDisplay(link, 'syn_spec.weight') ? '' : 'none'" [style.border-left-color]="preColor" [style.border-right-color]="postColor">
          <div class="flex">
            <span>Synapse weight</span>
            <span class="flex-spacer"></span>
            <span>{{ synWeight() }}</span>
            <span class="unit">pA</span>
          </div>
        </mat-list-item>

        <mat-list-item class="list-item" [style.display]="paramDisplay(link, 'syn_spec.delay') ? '' : 'none'" [style.border-left-color]="preColor" [style.border-right-color]="postColor">
          <div class="flex">
            <span>Synapse delay</span>
            <span class="flex-spacer"></span>
            <span>{{ synDelay() }}</span>
            <span class="unit">ms</span>
          </div>
        </mat-list-item>
      </ng-container>

    </mat-list>
  </ng-container>
</span>
