<span class="sketch">
  <div class="message" [style.display]="_sketchService.options.drawing && drawing ? 'block': 'none'">Drawing mode is on.</div>

  <svg id="sketch" [attr.width]="width + 'px'" [attr.height]="height + 'px'" viewBox="0 0 540 200" [style.border-color]="_sketchService.options.drawing && drawing ? '#ff6633' : 'lightgrey'">
    <g app-background-sketch [data]="data" [width]="width" [height]="height"></g>
    <g app-link-sketch [data]="data"></g>
    <g app-node-sketch [data]="data" [width]="width" [height]="height"></g>
  </svg>

  <span class="no-print" style="position:absolute; right:10px; bottom:10px; display:flex; line-height:40px; height:40px">
    <span *ngIf="_sketchService.options.drawing && drawing">
      <button mat-icon-button (click)="undo()" [disabled]="_dataService.undoStack.length<=1" [matBadgeHidden]="_dataService.undoStack.length<=1" [matBadge]="_dataService.undoStack.length-1" matBadgeColor="accent" matBadgePosition="below after"
        matTooltip="Undo network configuration">
        <fa-icon icon="undo-alt"></fa-icon>
      </button>
      <button mat-icon-button (click)="redo()" [disabled]="_dataService.redoStack.length==0" [matBadgeHidden]="_dataService.redoStack.length==0" [matBadge]="_dataService.redoStack.length" matBadgeColor="accent" matBadgePosition="below after"
        matTooltip="Redo network configuration">
        <fa-icon icon="redo-alt"></fa-icon>
      </button>
      <button mat-icon-button (click)="delete()" [disabled]="!this._sketchService.selected.node && !this._sketchService.selected.link" matTooltip="Delete selected" matTooltipPosition="above">
        <fa-icon icon="eraser"></fa-icon>
      </button>
      <button mat-icon-button (click)="clear()" matTooltip="Clear network configuration" matTooltipPosition="above">
        <fa-icon icon="trash-alt"></fa-icon>
      </button>
    </span>
    <span *ngIf="drawing">
      <mat-slide-toggle [checked]="_sketchService.options.drawing" (change)="_sketchService.draw($event.checked)" class="mat-warn"></mat-slide-toggle>
    </span>
  </span>

  <span>
