<ng-container *ngIf="data.app">
  <div style="height:calc(100vh - 73px); overflow-y: auto">
    <ng-container *ngFor="let node of data.app.nodes">
      <app-node-selection
        (dataChange)="onDataChange($event)"
        (nodeChange)="onNodeChange($event)"
        [(data)]="data"
        [node]="node"
        [style.display]="isSelected(collection(node.idx).element_type) ? '': 'None'"
      ></app-node-selection>
    </ng-container>

    <ng-container *ngFor="let link of data.app.links">
      <app-link-selection
        [(data)]="data"
        [link]="link"
        [style.display]="isSelectedSource(link) ? '': 'None'"
      ></app-link-selection>
    </ng-container>
  </div>
</ng-container>
