<mat-list class="flex link-sketch" dense>

  <mat-list-item style="width:64px">
    <svg width="40" height="40">
      <g app-node-shape
        (click)="selectNode(connectome.pre)"
        [color]="preColor"
        [elementType]="collection(connectome.pre).element_type"
        [idx]="connectome.pre"
        [spatial]="isSpatial(connectome.pre)"
        transform="translate(20,20)"
      ></g>
    </svg>
  </mat-list-item>
  <span class="flex-spacer"></span>

  <mat-list-item (click)="selectLink()" style="width:64px">
    <span style="width:40px; padding:0; text-align: center">
      <fa-icon
        [style.color]="_colorService.connectome(connectome)"
        class="material-icons arrow"
        icon="long-arrow-alt-right"
        style="width:100%"
      ></fa-icon>
    </span>
  </mat-list-item>
  <span class="flex-spacer"></span>

  <mat-list-item style="width:64px">
    <svg width="40" height="40">
      <g app-node-shape
        (click)="selectNode(connectome.post)"
        [color]="postColor"
        [elementType]="collection(connectome.post).element_type"
        [idx]="connectome.post"
        [spatial]="isSpatial(connectome.post)"
        transform="translate(20,20)"
      ></g>
    </svg>
  </mat-list-item>

</mat-list>
