.link-sketch {
  display: flex;
  padding: 0;
  width: 100%
}

.link-sketch .arrow {
  font-size: 24px;
  vertical-align: middle;
}

::ng-deep .link-sketch .mat-list-item-content {
  padding: 0 8px !important;
}
