<mat-nav-list>
  <mat-list-item routerLink="/view">
    <fa-icon icon="info"></fa-icon>View of network specification
  </mat-list-item>
  <mat-list-item routerLink="/simulate">
    <fa-icon icon="signature"></fa-icon>Simulation workspace
  </mat-list-item>
  <mat-list-item routerLink="/config/app">
    <fa-icon icon="pencil-alt"></fa-icon>App configuration
  </mat-list-item>
  <mat-list-item routerLink="/config/models">
    <fa-icon icon="chevron-right" style="margin-left:20px"></fa-icon>Model configuration
  </mat-list-item>
</mat-nav-list>
