.background {
  width: 100%;
  height: 100%;
  display: flex;

  figure {
    height: 500px;
    width: 470px;
    overflow: hidden;
    margin: 0px;

    img {
      margin-right: -280px;
    }
  }
}
