<ng-container [ngSwitch]="_recordsVisualizationService.method">

  <ng-container *ngSwitchCase="'chart'">
    <plotly-plot
      (legendDoubleClick)="onLegendDoubleClick($event)"
      (selected)="onSelect($event)"
      [config]="config"
      [data]="_data"
      [layout]="layout"
      [style]="style"
      [useResizeHandler]="true"
      >
    </plotly-plot>
  </ng-container>

  <ng-container *ngSwitchCase="'animation'">
    <app-three-scatter
      [data]="_data"
      [frames]="frames"
      [layout]="layout"
      ></app-three-scatter>
  </ng-container>

</ng-container>
