<mat-menu #modelsMenu="matMenu">
  <button mat-menu-item (click)="resetModelConfigs()">
    <fa-icon icon="eraser"></fa-icon>
     Reset models
  </button>
</mat-menu>

<ng-container [ngSwitch]="_navigationService.options.sidenavShortView">

  <span *ngSwitchCase="true">
    <mat-nav-list dense style="padding:0">

      <mat-list-item [matMenuTriggerFor]="modelsMenu">
        <fa-icon class="icon" icon="ellipsis-v"></fa-icon>
      </mat-list-item>

      <mat-list-item *ngIf="!_modelService.editing" (click)="_modelService.editing=true">
        <fa-icon class="icon" icon="info"></fa-icon>
      </mat-list-item>

      <mat-list-item *ngIf="_modelService.editing" (click)="_modelService.editing=false">
        <fa-icon class="icon" icon="pencil-alt"></fa-icon>
      </mat-list-item>

      <mat-list-item class="searchItem">
        <div style="width:40px;height:40px;line-height:40px;margin:0 -16px;text-align:center" *ngIf="view=='enabled'" (click)="viewModels('available')">
          <fa-icon class="icon" icon="search"></fa-icon>
        </div>

        <div style="width:40px;height:40px;line-height:40px;margin:0 -16px;text-align:center" *ngIf="view=='available'" (click)="viewModels('enabled')">
          <fa-icon class="icon" icon="search-plus"></fa-icon>
        </div>

        <span class="searchField">
          <mat-form-field floatLabel="never" style="margin:0 5px" >
            <input matInput [value]="searchTerm" type="text" class="formControl" placeholder="Search model" (keyup)="search($event.target.value)" autocomplete="off" />
          </mat-form-field>
        </span>

      </mat-list-item>

    </mat-nav-list>

    <mat-nav-list dense class="model" style="padding:0; height:calc(100vh - 160px); overflow-x:hidden">
      <ng-container *ngFor="let model of filteredModels">
        <mat-list-item (click)="_modelService.selectModel(model)" routerLink="/model/{{model}}" [class.active]="isSelected(model)" [class.enabled]="isEnabled(model)" class="model">
          <span style="margin:-16px;width:40px;text-align:center">{{ shortLabel(model) }}</span>
        </mat-list-item>
      </ng-container>
    </mat-nav-list>

  </span>

  <span *ngSwitchCase="false">
    <mat-toolbar style="font-size:16px;line-height:40px;height:40px" color="accent">
      <span class="flex">
        Models
        <span class="flex-spacer"></span>
        <button mat-icon-button>
          <fa-icon icon="ellipsis-v" style="font-size:12px"></fa-icon>
        </button>
      </span>
    </mat-toolbar>

    <mat-nav-list dense style="padding:0">
      <mat-list-item *ngIf="!_modelService.editing" (click)="_modelService.editing=true">
        <fa-icon class="icon" icon="info"></fa-icon> Show model info
      </mat-list-item>

      <mat-list-item *ngIf="_modelService.editing" (click)="_modelService.editing=false">
        <fa-icon class="icon" icon="pencil-alt"></fa-icon> Edit model settings
      </mat-list-item>

      <mat-list-item>
        <span style="display:flex; width:100%">

          <div style="width:40px;height:40px;line-height:48px;position:absolute;left:0;text-align:center">
            <span *ngIf="view=='enabled'" (click)="viewModels('available')">
              <fa-icon class="icon" icon="search"></fa-icon>
            </span>
            <span *ngIf="view=='available'" (click)="viewModels('enabled')">
              <fa-icon class="icon" icon="search-plus"></fa-icon>
            </span>
          </div>

          <span style="margin-left:20px; width:100%">
            <mat-form-field floatLabel="never" style="width:100%">
              <input matInput type="text" class="formControl" placeholder="Search model" (keyup)="search($event.target.value)" autocomplete="off" [value]="searchTerm" />
            </mat-form-field>
          </span>

        </span>
      </mat-list-item>

    </mat-nav-list>

    <mat-nav-list dense class="model" style="padding:0">
      <mat-list-item *ngFor="let model of filteredModels" (click)="_modelService.selectModel(model)" routerLink="/model/{{model}}" [class.active]="isSelected(model)" [class.enabled]="isEnabled(model)" class="model">
        {{ model }}
      </mat-list-item>
    </mat-nav-list>

  </span>

</ng-container>
