<mat-menu #configMenu="matMenu">
  <button mat-menu-item (click)="resetModelConfigs()">
    <fa-icon icon="eraser"></fa-icon>
     Reset configuration
  </button>
</mat-menu>

<mat-toolbar style="font-size:16px;line-height:32px;height:32px" color="accent">
  <span class="flex">
    Models
    <nav mat-tab-nav-bar class="modelMode">
      <a mat-tab-link
         (click)="_modelService.editing=false"
         [active]="_modelService.editing==false" matTooltip="View model"> <fa-icon icon="info"></fa-icon> </a>
      <a mat-tab-link
         (click)="_modelService.editing=true"
         [active]="_modelService.editing==true" matTooltip="Edit model"> <fa-icon icon="pencil-alt"></fa-icon> </a>
      <a mat-tab-link
        [matMenuTriggerFor]="configMenu" class="button"> <fa-icon icon="ellipsis-v" style="font-size:11px"></fa-icon> </a>
    </nav>
  </span>
</mat-toolbar>

<nav mat-tab-nav-bar class="modelMode">
  <a mat-tab-link style="width:160px"
     (click)="viewModels('available')"
     [active]="view=='available'" matTooltip="Available models"> Available models </a>
  <a mat-tab-link style="width:160px"
     (click)="viewModels('enabled')"
     [active]="view=='enabled'" matTooltip="Enabled models"> Enabled models </a>
</nav>

<mat-list dense>
  <mat-list-item>
    <span style="display:flex; width:100%">
      <mat-form-field floatLabel="never" style="flex-grow:1">
        <fa-icon matPrefix icon="search" style="padding-right: 10px"></fa-icon>
        <input matInput type="text" class="formControl" placeholder="Search a model" (keyup)="search($event.target.value)" autocomplete="off" [value]="searchTerm" />
      </mat-form-field>
    </span>
  </mat-list-item>
</mat-list>

<mat-nav-list dense class="model">
  <mat-list-item *ngFor="let model of filteredModels" (click)="_modelService.selectModel(model)" routerLink="/model/{{model}}" [class.active]="isSelected(model)" [class.enabled]="isEnabled(model)" class="model">
    {{ model }}
  </mat-list-item>
</mat-nav-list>
