.node {
  width: calc(100% - 17.5px);
  margin: 0 8px;
}

.node .header {
  line-height: 40px;
  height: 40px;
  margin-left: 1.5px;
}

.item {
  border-left: 1.5px solid black;
  height: 20px !important;
}
