.node {
  width: calc(100% - 17.5px);
  margin: 0 8px;
}

.node .header {
  line-height: 32px;
  height: 32px;
  margin-left: 1.5px;
}

.node button.nodeButton {
  line-height: 32px;
  width: 32px;
  height: 32px;
  border: 1.5px solid black;
  font-size: 11px;
  margin-right: 5px;
}

.item {
  border-left: 1.5px solid black;
  height: 1.5em !important;
}

.item .label {
  min-width: 50%;
  max-width: 80%;
  white-space: nowrap;
}

.item .slider {
  display: none;
}

.item:hover .view {
  display: none;
}

.item:hover .control {
  display: flex;
}

::ng-deep .item mat-slider {
  height: 14px;
  padding: 0;
}

::ng-deep .item mat-slider .mat-slider-wrapper {
  top: 6px;
}

::ng-deep .item .mat-slider-thumb-label {
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
}

::ng-deep .item .mat-slider-thumb {
  transform: scale(0) !important;
}

::ng-deep .item .mat-slider-thumb-label-text {
  opacity: 1 !important;
}
