<span class="nodes" *ngIf="!_controllerService.options.editing || !editing">
  <ng-container *ngFor="let node of data.collections">
    <mat-list dense class="node" [style.display]="nodeDisplay(node) ? '' : 'none'">
      <mat-list-item class="header">
        <span class="flex">
          <span style="display:flex">
            <svg width="40" height="40">
              <g app-node [node]="node" (nodeClick)="_sketchService.selectNode(node)" transform="translate(20,20)"></g>
            </svg>
            <span style="font-weight: bold; margin-left: 8px">{{ modelConfig(node).label | capitalize }}</span>
          </span>
          <span [style.display]="paramDisplay(node, 'n') ? '' : 'none'">({{ node.n || 1 }})</span>
        </span>
      </mat-list-item>

      <ng-container *ngFor="let param of modelConfig(node).params ">
        <mat-list-item class="item" [style.border-color]="_colorService.node(node)" [style.display]="paramDisplay(model(node), param.id) ? '' : 'none'">
          <span class="flex">
            <span class="label ellipsis">{{ param.label | capitalize }}</span>
            <span class="flex-spacer"></span>
            <span class="ellipsis">{{ _formatService.format(model(node).params[param.id] || param.value) }}</span>
            <span style="margin-left: 2px">{{ param.unit }}</span>
          </span>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </ng-container>
</span>

<span class="nodes" *ngIf="_controllerService.options.editing && editing">
  <ng-container *ngFor="let node of data.collections">
    <mat-selection-list dense class="node mat-primary" [(ngModel)]="model.display">
      <mat-list-option value="node" class="header" (dblclick)="dblclick(node)">
        <span class="flex">
          <span style="display:flex;">
            <svg width="40" height="40">
              <g app-node [node]="node" transform="translate(20,20)"></g>
            </svg>
            <span style="font-weight: bold; margin-left:8px">{{ modelConfig(node).label | capitalize }}</span>
          </span>
        </span>
      </mat-list-option>

      <mat-list-option value="n" class="item" [style.border-color]="_colorService.node(node)">
        <span class="flex">
          <span>Population size</span>
          <span>{{ node.n }}</span>
        </span>
      </mat-list-option>

      <ng-container *ngFor="let param of modelConfig(node).params ">
        <mat-list-option [value]="param.id" [style.border-color]="_colorService.node(node)" class="item">
          <span class="flex" matTooltip="{{ param.id }}" matTooltipPosition="before">
            <span class="ellipsis" style="min-width: 50%; max-width: 80%; white-space: nowrap">{{ param.label | capitalize }}</span>
            <span class="flex-spacer"></span>
            <span class="ellipsis">{{ _formatService.format(model(node).params[param.id] || param.value) }}</span>
            <span style="margin-left: 2px">{{ param.unit }}</span>
          </span>
        </mat-list-option>
      </ng-container>
    </mat-selection-list>
  </ng-container>
</span>
