<div id="controller">
  <ng-container *ngIf="mode.startsWith('network')">
    <app-network-navbar class="no-print"></app-network-navbar>
  </ng-container>

  <div class="controller-content">
    <ng-container [ngSwitch]="mode">
      <ng-container *ngSwitchCase="'networkSelection'">
        <app-network-selection
          (appChange)="onAppChange($event)"
          [(data)]="data"
        ></app-network-selection>
      </ng-container>

      <ng-container *ngSwitchCase="'networkController'">
        <app-network-controller
          (appChange)="onAppChange($event)"
          (dataChange)="onDataChange($event)"
          [(data)]="data"
        ></app-network-controller>
      </ng-container>

      <ng-container *ngSwitchCase="'simulation'">
        <app-kernel-controller
        (dataChange)="onDataChange($event)"
        [(data)]="data"
        class="kernel"
        ></app-kernel-controller>

        <app-simulation-controller
        (dataChange)="onDataChange($event)"
        [(data)]="data"
        class="simulation"
        ></app-simulation-controller>
      </ng-container>

      <ng-container *ngSwitchCase="'codeEditor'">
          <app-simulation-code-editor
            style="height: 100%"
          ></app-simulation-code-editor>
      </ng-container>

      <ng-container *ngSwitchCase="'rawData'">
          <app-simulation-raw-data
            style="height: 100%"
          ></app-simulation-raw-data>
      </ng-container>

      <ng-container *ngSwitchCase="'sketchSettings'">
        <app-network-sketch-controller></app-network-sketch-controller>
      </ng-container>

      <ng-container *ngSwitchCase="'chart'">
        <app-chart-controller></app-chart-controller>
      </ng-container>

      <ng-container *ngSwitchCase="'animation'">
        <app-animation-controller></app-animation-controller>
      </ng-container>

      <ng-container *ngSwitchCase="'stats'">
        <app-simulation-stats
        [data]="data"
        [records]="records"
        ></app-simulation-stats>
      </ng-container>

    </ng-container>
  </div>
</div>
