#main {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  width: calc(100vw = 320px);
  height: 100vh;
  line-height: 1.5em;
  max-width: 800px;
}

#main mat-card {
  margin: 5px;
}

.quote {
  font-size: 28px;
  line-height: 1.2em;
  font-style: italic;
  text-align: right;
}

.author {
  float:right;
}
