<div id="main">

  <mat-card>
    <mat-card-title>
      Welcome to NEST Desktop
    </mat-card-title>
    <mat-card-content>
      bla bla bla bla
    </mat-card-content>
  </mat-card>

  <div class="cards">
    <mat-card>
      <mat-card-subtitle>
        Views
      </mat-card-subtitle>
      <mat-card-content>
        Views
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-subtitle>
        Simulation
      </mat-card-subtitle>
      <mat-card-content>
        Simulation
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-subtitle>
        Configuration
      </mat-card-subtitle>
      <mat-card-content>
        Configuration
      </mat-card-content>
    </mat-card>

  </div>

</div>
