<mat-menu #linkMenu="matMenu" class="menu link-menu" >
    <!-- <button mat-menu-item class="menu-item" (click)="resetParameters()" [class.disabled]="linkedNode">
      <fa-icon class="menu-icon" icon="eraser"></fa-icon> Reset parameters
    </button> -->

    <button mat-menu-item class="menu-item" (click)="deleteLink()">
      <fa-icon class="menu-icon" icon="trash-alt"></fa-icon> Delete link
    </button>
</mat-menu>

<ng-container *ngIf="idx != undefined">
  <ng-container *ngIf="selection">
    <app-link-selection [data]="data" [idx]="idx"></app-link-selection>
  </ng-container>

  <ng-container *ngIf="!selection">

    <span class="controller link-controller" [style.display]="linkDisplay()">

      <span [class.dark-theme]="advanced()">
        <mat-toolbar [style.background-image]="backgroundImage" color="primary">
          <span class="flex" style="height:40px">
            <app-link-sketch [data]="data" [idx]="idx" style="width:100%"></app-link-sketch>
            <ng-container *ngIf="advanced()">
              <span style="margin-right:-16px">
                <button mat-icon-button [matMenuTriggerFor]="linkMenu">
                  <fa-icon icon="ellipsis-v"></fa-icon>
                </button>
              </span>
            </ng-container>
          </span>
        </mat-toolbar>
      </span>

      <ng-container *ngIf="!isBothSpatial()">
        <mat-list dense class="controller-menu">
          <mat-list-item [style.border-left-color]="preColor" [style.border-right-color]="postColor" [style.display]="paramDisplay('conn_spec.rule') ? '' : 'none'" style="height:40px; line-height:40px">
            <app-select [options]="connRules" [selected]="selectedConnRule()" (selectedChange)="onSelectConnRule($event)"></app-select>
          </mat-list-item>
        </mat-list>

        <mat-nav-list dense class="controller-menu">
          <ng-container *ngFor="let conn of slider.connection">
            <mat-list-item [style.border-left-color]="preColor" [style.border-right-color]="postColor" [style.display]="paramDisplay('conn_spec.' + conn.id) ? '' : 'none'">
              <app-input-popup
                view="valueSlider"
                [value]="connectome().conn_spec ? connectome().conn_spec[conn.id] : conn.value"
                [options]="conn"
                (inputChange)="onConnChange(conn.id, $event)"
                class="input"
              ></app-input-popup>
            </mat-list-item>
          </ng-container>
        </mat-nav-list>

        <mat-list dense class="controller-menu">
          <mat-list-item [style.border-left-color]="preColor" [style.border-right-color]="postColor" [style.display]="paramDisplay('syn_spec.model') ? '' : 'none'" style="height:40px; line-height:40px">
            <app-select [options]="synModels" [selected]="selectedSynModel()" (selectedChange)="onSelectSynModel($event)"></app-select>
          </mat-list-item>
        </mat-list>

        <mat-nav-list dense class="controller-menu">
          <ng-container *ngFor="let syn of slider.synapse">
            <mat-list-item [style.border-left-color]="preColor" [style.border-right-color]="postColor" [style.display]="paramDisplay('syn_spec.' + syn.id) ? '' : 'none'">
              <app-input-popup
                [view]="syn.input"
                [value]="connectome().syn_spec ? connectome().syn_spec[syn.id] : syn.value"
                [options]="syn"
                (inputChange)="onSynChange(syn.id, $event)"
                class="input"
              ></app-input-popup>
            </mat-list-item>
          </ng-container>
        </mat-nav-list>
      </ng-container>

      <ng-container *ngIf="isBothSpatial()">
        <mat-list dense class="controller-menu" style="cursor:pointer">
          <mat-list-item [style.border-left-color]="preColor" [style.border-right-color]="postColor" style="height:40px; line-height:40px">
            <app-select [options]="_networkConfigService.config.projections.connection_type" [selected]="connectome().projections.connection_type" (selectedChange)="onSelectConnectionType($event)"></app-select>
          </mat-list-item>

          <mat-list-item [style.border-left-color]="preColor" [style.border-right-color]="postColor">
            <app-param-slider-popup [value]="connectome().projections.kernel" [options]="_networkConfigService.config.projections.kernel" (valueChange)="onProjectionsValueChange('kernel', $event)" class="slider"></app-param-slider-popup>
          </mat-list-item>

          <mat-list-item [style.border-left-color]="preColor" [style.border-right-color]="postColor">
            <app-value-slider-popup [value]="connectome().projections.number_of_connections" [options]="_networkConfigService.config.projections.number_of_connections" (valueChange)="onProjectionsValueChange('number_of_connections', $event)" class="slider"></app-value-slider-popup>
          </mat-list-item>

          <mat-list-item [style.border-left-color]="preColor" [style.border-right-color]="postColor">
            <app-link-mask [link]="link" [connectome]="connectome()" (maskChange)="onMaskChange($event)"></app-link-mask>
          </mat-list-item>

          <mat-list-item [style.border-left-color]="preColor" [style.border-right-color]="postColor">
            <app-param-slider-popup [value]="connectome().projections.weights" [options]="_networkConfigService.config.projections.weights" (valueChange)="onProjectionsValueChange('weights', $event)" class="slider"></app-param-slider-popup>
          </mat-list-item>

          <mat-list-item [style.border-left-color]="preColor" [style.border-right-color]="postColor">
            <app-param-slider-popup [value]="connectome().projections.delays" [options]="_networkConfigService.config.projections.delays" (valueChange)="onProjectionsValueChange('delays', $event)" class="slider"></app-param-slider-popup>
          </mat-list-item>

        </mat-list>

        <span>
          <mat-selection-list dense class="controller-menu" (selectionChange)="onProjectionSelectionChange($event)">
              <mat-list-option value="allow_autapses" [selected]="connectome().projections.allow_autapses" [style.border-left-color]="preColor" [style.border-right-color]="postColor">
                {{ _networkConfigService.config.projections.allow_autapses.label | capitalize }}
              </mat-list-option>

              <mat-list-option value="allow_multapses" [selected]="connectome().projections.allow_multapses" [style.border-left-color]="preColor" [style.border-right-color]="postColor">
                {{ _networkConfigService.config.projections.allow_multapses.label | capitalize }}
              </mat-list-option>

              <mat-list-option value="allow_oversized_mask" [selected]="connectome().projections.allow_oversized_mask" [style.border-left-color]="preColor" [style.border-right-color]="postColor">
                {{ _networkConfigService.config.projections.allow_oversized_mask.label | capitalize }}
              </mat-list-option>
          </mat-selection-list>
        </span>
      </ng-container>

    </span>
  </ng-container>
</ng-container>
