<div style="position:relative">
  <canvas class="plot areas"
    [style.left]="margin.left + 'px'"
    [style.top]="margin.top + 'px'"
  ></canvas>

  <app-coordinate-axes
    (change)="onAxesChange($event)"
    [height]="height"
    [idx]="n-idx-1"
    [margin]="margin"
    [n]="n"
    [width]="width"
    [xAxis]="xAxis"
    [xDomain]="xDomain"
    [xLabel]="xLabel"
    [xScale]="xScale"
    [yAutoscale]="yAutoscale"
    [yAxis]="yAxis"
    [yDomain]="yDomain"
    [yLabel]="yLabel"
    [yScale]="yScale"
  ></app-coordinate-axes>
</div>
