#graph {
    position: relative;
}

#graph #point {
    background-color: white;
    position: absolute;
    top: -24px;
    left: 80px;
}

#graph .checkbox {
    color: black;
    background-color: white;
    position: absolute;
    top: -32px;
    right: 380px;
}

#graph svg {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: fixed;
    top: 0;
    z-index: -1000;
}

#graph .overlay {
    fill: none;
    pointer-events: all;
    z-index: 100;
}

/*
            Chart
*/

#chart #clip {
    cursor: crosshair;
    z-index: 1000;
}

#chart #clip.active #chart .aline.active {
    stroke: #FF9900;
    z-index: 1000;
}

#chart .axis path, #chart .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#chart .line {
    fill: none;
    stroke: black;
    stroke-width: 1.5px;
    pointer-events: all;
    z-index: 1;
}

#chart .Vth_line {
    fill: none;
    stroke: red;
    stroke-width: 1.5px;
    pointer-events: all;
    z-index: 1;
}

#chart .focus circle {
    fill: black;
    stroke: none;
    cursor: crosshair;
}

#chart .hover-line {
    stroke: black;
    stroke-width: 2px;
    stroke-dasharray: 3, 3;
    pointer-events: all;
    z-index: 10;
}

#chart .bar {
    /*fill: white;*/
    stroke: white;
}

/*
            Network layout
*/

#networkLayout {
    cursor: pointer;
    display: none;
}

#networkLayout .node circle {
    fill: white;
    pointer-events: all;
    stroke-width: 3px;
}

#networkLayout .node text {
    pointer-events: none;
    font: 14px sans-serif;
    text-anchor: middle;
    font-weight: bold;
}

#networkLayout .select text {
    pointer-events: none;
    font: 14px sans-serif;
    text-anchor: middle;
    font-weight: bold;
}

#networkLayout .link {
    stroke: #aaa;
    stroke-width: 5px;
    fill: none;
}

#networkLayout .link.inh {
    stroke: #b34846;
}

#networkLayout .link.exc {
    stroke: #467ab3;
}
