body {
    position: relative;
}
.jumbotron {
    background-color: transparent;
    height: 250px;
    padding-bottom: 0px;
}
#jumbotron-bg {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-size: cover;
    width: 100%;
    height: 250px;
    opacity: 0.2;
    top: 0px;
    position: absolute;
    z-index: -1;
    border-bottom: 1px solid #000;
}
#header {
    position: fixed;
    left: 70px;
}

/*#title {
    text-transform:capitalize;
}*/

.navbar {
    margin-bottom: 0px;
    background-color: white
}
#message {
    position: absolute;
    left: 300px;
    padding: 10px;
    z-index: 1000;
}
#message div {
    margin-bottom: 5px
}
#controller {
    /*z-index: 1000;*/
    position: relative
}
#controller-body {
    width: 304px;
}
#myScrollspy {
    position: fixed;
    right: 366px;
}
.nav-pills {
    top: 51px;
    position: fixed;
}
.nav-pills li a {
    border-radius: 25px;
    color: black;
    font-weight: bold;
    text-align: center;
}
.nav-pills li.active a, .nav-pills li.active a:focus, .nav-pills li.active a:hover {
    background-color: white !important;
    color: black;
}
#controller-panel {
    padding-left: 0px;
    padding-right: 0px;
}
#tabs {
    padding: 5px
}
.panel-body {
    padding: 0px;
    margin: 0px;
}
.panel-body .content {
    padding: 10px 15px;
    margin: 4px 0px;
}

/*#controller-panel {
    background-color: transparent;
}
#controller-panel:hover {
    background-color: white;
}*/

.paramSlider, .dataSlider {
    margin-bottom: 0px;
}
.paramSlider dt, .dataSlider dt {
    margin-top: 10px;
}
.slider-handle {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
}
.slider-selection {
    background: #dcdcdc none repeat scroll 0 0;
}
