body {
    position: relative;
}
.jumbotron {
    background-color: transparent;
    height: 200px;
    padding-bottom: 0px;
}
.jumbotron h1 {
    font-size: 60px;
}
#jumbotron-bg {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-size: cover;
    width: 100%;
    height: 250px;
    opacity: 0.2;
    top: 0px;
    position: absolute;
    z-index: -1;
    border-bottom: 1px solid #000;
}
#header {
    position: fixed;
    left: 70px;
}
.tooltip-inner {
    white-space: pre-wrap;
    min-width: 400px;
    text-align: left;
}
.thumbnail {
    cursor: pointer;
    position: relative;
}
.thumbnail img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 10px;
}
.description {
    white-space: pre-wrap;
}
.navbar {
    height: 50px;
    margin-right:15px;
    margin-bottom: 0px;
    background-color: white;
}
#message {
    padding: 10px 20px;
}
#view-protocol {
    width: 220px;
}
#view-protocol #get-protocol-list {
    text-align: left;
    width: 180px;
}
#view-protocol #protocol-list {
    width: 180px;
}
#protocol-list .popover {
    width: 300px;
}
#protocol-list .popover dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0
}
#protocol-list .popover dt {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0
}
#protocol-list .popover dd {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0
}
#config {
    width: 200px;
}
#controller {
    z-index: 1000;
    position: relative
}
#controller-body {
    width: 304px;
}
#nodeScrollspy {
    position: fixed;
    right: 366px;
}
.nav-stacked>li {
    margin-top: 0px !important;
    padding-top: 2px;
}
.nav-pills {
    top: 51px;
    position: fixed;
}
.nav-pills>li {
    width: 46px;
}
.nav-pills>li>a {
    border-radius: 23px;
    color: black;
    font-weight: bold;
    text-align: center;
    width: 46px;
    background-color: white !important;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    border-radius: 20px;
    color: black;
}
#controller-panel {
    padding-left: 0px;
    padding-right: 0px;
}
#tabs {
    padding: 5px
}
.panel-body {
    padding: 0px;
    margin: 0px;
}
.panel-body .content {
    padding: 11px;
    margin: 4px 0px;
}
/*#controller-panel {
    background-color: transparent;
}
#controller-panel:hover {
    background-color: white;
}*/
#nodes .modelSelect {
    width: 218px;
}
#connections .modelSelect {
    width: 214px;
}
.paramSlider, .dataSlider {
    margin-bottom: 0px;
}
.slider-horizontal {
    width: 200px !important;
}
.slider-horizontal .slider-track {
    height: 1px !important;
    margin-top: 0px !important;
}
.slider-horizontal .slider-handle {
    background: #fff none repeat scroll 0 0 !important;
    border: 2px solid #333;
}
.slider-horizontal.slider-disabled .slider-track {
    border: 1px solid #ccc !important;
}
.slider-horizontal.slider-disabled .slider-handle {
    background: #fff none repeat scroll 0 0 !important;
    border: 2px solid #ccc !important;
}
.slider-horizontal .slider-tick {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
}

select.form-control {
    width: 95%;
}

input.form-control {
    height: 23px;
    padding: 0;
    border: 0px;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.slider-handle:focus{
    cursor: pointer;
}
