<mat-menu #contextMenu="matMenu"class="context-menu">
  <ng-container *ngIf="contextMenuData.node">
    <app-node-menu
      (dataChange)="dataChange.emit($event)"
      [(data)]="data"
      [node]="contextMenuData.node"
      class="node-menu"
    ></app-node-menu>
  </ng-container>

  <ng-container *ngIf="contextMenuData.link">
    <app-link-menu
      (dataChange)="dataChange.emit($event)"
      [(data)]="data"
      [link]="contextMenuData.link"
      class="link-menu"
    ></app-link-menu>
  </ng-container>
</mat-menu>

<div style="visibility: hidden; position: fixed"
  [matMenuTriggerFor]="contextMenu"
  [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y"
></div>


<span class="network-sketch-container" [style.width]="width + 'px'" [style.height]="height + 'px'">

  <svg
    (mouseenter)="onSVGEnter($event)"
    (mouseleave)="onSVGLeave($event)"
    [attr.height]="(height-12) + 'px'"
    [attr.width]="(width-10) + 'px'"
    class="network-sketch">

    <g app-background-sketch
      [(data)]="data"
      [width]="(width-10)"
      [height]="(height-12)"
      transform="translate(1,1)"
    ></g>

    <ng-container *ngFor="let link of data.app.links">
      <g app-link-sketch
        (click)="onLinkClick($event)"
        (contextmenu)="onContextMenu($event, null, link)"
        (mouseenter)="onLinkEnter($event, link)"
        (dataChange)="onDataChange($event)"
        [(data)]="data"
        [color]="colorLink(link)"
        [link]="link"
        [selected]="selectedLink()"
        transform="translate(1,1)"
      ></g>
    </ng-container>

    <svg:g>
      <svg:path
        class="dragline"
        d="M0,0L0,0"
        stroke-linecap="round"
        >
      </svg:path>
      <svg:path
        class="dragline mask"
        d="M0,0L0,0"
        >
      </svg:path>
    </svg:g>

    <ng-container *ngFor="let node of data.app.nodes">
      <g app-node-sketch
        (click)="onNodeClick($event)"
        (contextmenu)="onContextMenu($event, node, null)"
        (mouseenter)="onNodeEnter($event, node)"
        (dataChange)="onDataChange($event)"
        [(data)]="data"
        [color]="colorNode(node)"
        [dragable]="eventTrigger"
        [height]="(height-12)"
        [node]="node"
        [selected]="selectedNode()"
        [width]="(width-10)"
        transform="translate(1,1)"
        ></g>
    </ng-container>

    <svg:g class="select-panel">
      <svg:g
        class="tooltip"
        style="visibility:hidden;"
        transform="translate(0, -45)">
        <svg:rect fill="white" fill-opacity="0.75" width="50" height="12" transform="translate(-25,-10)"></svg:rect>
        <svg:text class="label"></svg:text>
      </svg:g>
    </svg:g>
  </svg>

  <ng-container *ngIf="eventTrigger">
    <span style="position:absolute; left:10px; bottom:10px; display:flex; line-height:40px; height:40px">
      <button mat-icon-button
        (click)="clearDialog()"
        matTooltip="Clear network configuration"
        matTooltipPosition="above">
        <fa-icon icon="trash-alt"></fa-icon>
      </button>
    </span>
  </ng-container>

<span>
