.network-sketch {
  display: block;
  position: relative;
}

#sketch {
  margin: 3px;
  border: 2px dashed white;
}

::ng-deep #sketch text {
  pointer-events: none;
  font-size: 11px;
  text-anchor: middle;
}

::ng-deep #sketch :not(.active) .tooltip {
  visibility: hidden;
}

::ng-deep #sketch .active .tooltip {
  visibility: visible;
}

.message {
  position: absolute;
  top: 0px;
  background-color: white;
  color: #ff6633;
  font-weight: bold;
}
