<div style="position:relative">
  <svg class="dataChart"
    [attr.height]="height-_chartService.g.top-_chartService.g.bottom"
    [attr.width]="_chartService.svg.width-_chartService.g.left-_chartService.g.right"
    [style.left]="_chartService.g.left + 'px'"
    [style.top]="_chartService.g.top + 'px'"
    [style.pointer-events] = "_chartService.pointerEvents()"
    >
    <svg:g class="lines">
      <svg:path class="line" *ngFor="let d of data; let i = index"
        [attr.transform]="transform(d,i)"
        [attr.d]="line(d)"
        [style.stroke]="color(d,i)"
        ></svg:path>
    </svg:g>
  </svg>

  <app-coordinate-axes
    (change)="onAxesChange($event)"
    [height]="height"
    [n]="n"
    [xAxis]="xAxis"
    [xDomain]="xDomain"
    [xLabel]="xLabel"
    [xScale]="_chartService.xScale"
    [yAutoscale]="yAutoscale"
    [yAxis]="yAxis"
    [yDomain]="yDomain"
    [yLabel]="yLabel"
    [yScale]="yScale"
  ></app-coordinate-axes>
</div>
