<div class="node-list"
  [style.border-color]="color()">

  <app-node-toolbar
    [(data)]="data"
    [node]="node"
    [disabled]="true"
  ></app-node-toolbar>

  <mat-list dense>
    <span [@listAnimation]="modelConfig.params.length">
      <ng-container *ngFor="let param of modelConfig.params">
        <mat-list-item [style.display]="paramDisplay(param.id) ? '' : 'none'">
          <span class="flex">
            <span class="ellipsis">{{ param.label | capitalize }}</span>
            <span class="flex-spacer"></span>
            <span class="ellipsis">{{ _formatService.format(node.params[param.id] || param.value) }}</span>
            <span class="unit">{{ param.unit }}</span>
          </span>
        </mat-list-item>
      </ng-container>
    </span>
  </mat-list>
</div>
