:host {
  width: 100%;
  height: 40px;
  line-height: 40px;
}

.slider-container {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 40px;

  .slider-header {
    width: 100%;
    position: absolute;
    white-space: nowrap;
    top: -12px;
    pointer-events: none;
  }

  .slider-content {
    display: inline-flex;
    width: 100%;

    mat-slider {
      width: 100%;
      height: 40px;
    }

    .slider-input {
      width: 50px;
      margin-left: 2px;
    }
  }

}
