<div class="slider-container">
  <span class="slider-header">
    {{ options.label | capitalize }}
    <span *ngIf="options.unit"> ({{ options.unit }})</span>
  </span>

  <div class="slider-content">
    <mat-slider
      (change)="onChange($event)"
      [displayWith]="displayWith()"
      [max]="options.ticks.length-1"
      [ngModel]="idx"
      class="slider"
      min="0"
      step="1"
      tickInterval="1"
    ></mat-slider>

    <mat-form-field class="slider-input" floatLabel="never">
      <input matInput readonly
        [ngModel]="value"
        [placeholder]="options.value"
        tabindex="-1">
    </mat-form-field>
  </div>
</div>
