.slider-container {
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.slider-header {
  width: 100%;
  position: absolute;
}

.slider-content {
  display: inline-flex;
  width: 100%;
}

.slider-content .slider {
  width: 100%;
}

.slider-input {
  width: 50px;
  margin-left: 2px;
  height: 40px;
  font-size: 12px;
  line-height: 20px;
}

.slider-container .button {
  font-size: 11px;
  opacity: 0;
}

.slider-container:hover .button {
  opacity: 1;
}

::ng-deep .value-menu .button[mat-menu-item] {
  height: 32px !important;
  line-height: 32px;
}
