<div class="slider-container">

  <span class="slider-header ellipsis">
    <span class="ellipsis">{{ options.label | capitalize }}</span>
    <span *ngIf="options.unit"> ({{ options.unit }})</span>
  </span>

  <div class="slider-content">
    <span class="flex">
      <mat-slider
        (change)="onChange($event)"
        (input)="value=$event.value"
        [max]="options.max"
        [min]="options.min"
        [(ngModel)]="value"
        [step]="options.step"
      ></mat-slider>

      <mat-form-field class="slider-form-field" floatLabel="never">
        <input matInput
          (change)="onChange($event)"
          [defaultValue]="options.value"
          [max]="options.max"
          [min]="options.min"
          [(ngModel)]="value"
          [placeholder]="options.value"
          [step]="options.step"
          type="number"
          tabindex="-1"
        >
      </mat-form-field>

    </span>
  </div>

</div>
