<ng-container [ngSwitch]="view">
  <ng-container *ngSwitchCase="'valueInput'">
    <app-value-input-popup
      [value]="value"
      [options]="options"
      (valueChange)="onValueChange($event)"
      class="list-item"
    ></app-value-input-popup>
  </ng-container>
  <ng-container *ngSwitchCase="'arrayInput'">
    <app-array-input-popup
      [value]="value"
      [options]="options"
      (valueChange)="onValueChange($event)"
      class="list-item"
    ></app-array-input-popup>
  </ng-container>
  <ng-container *ngSwitchCase="'valueSlider'">
    <app-value-slider-popup
      [value]="value"
      [options]="options"
      (valueChange)="onValueChange($event)"
      class="list-item"
    ></app-value-slider-popup>
  </ng-container>
  <ng-container *ngSwitchCase="'tickSlider'">
    <app-ticks-slider-popup
      [value]="value"
      [options]="options"
      (valueChange)="onValueChange($event)"
      class="list-item"
    ></app-ticks-slider-popup>
  </ng-container>
</ng-container>
