.elementType {
  text-align: center
}

.label {
  width: calc(100% - 10px);
}

.label .button {
  opacity: 0;
}

.label:hover .button {
  opacity: 1;
}

.controller-menu {
  border-bottom: 1px solid rgba(0,0,0,0.12);
}
