<div id="controller" style="position:relative;">
  <ng-container [ngSwitch]="mode">

    <ng-container *ngSwitchCase="'network'">
      <app-network-controller
        (appChange)="onAppChange($event)"
        (dataChange)="onDataChange($event)"
        [(data)]="data"
      ></app-network-controller>
    </ng-container>

    <ng-container *ngSwitchCase="'simulation'">
      <app-kernel-controller
        (dataChange)="onDataChange($event)"
        [(data)]="data"
        class="kernel"
      ></app-kernel-controller>

      <app-simulation-controller
        (dataChange)="onDataChange($event)"
        [(data)]="data"
        class="simulation"
      ></app-simulation-controller>
    </ng-container>

    <ng-container *ngSwitchCase="'plot'">
      <app-plot-controller></app-plot-controller>
    </ng-container>

    <ng-container *ngSwitchCase="'animation'">
      <app-animation-controller></app-animation-controller>
    </ng-container>

    <ng-container *ngSwitchCase="'stats'">
      <app-simulation-stats
        [data]="data"
        [records]="records"
      ></app-simulation-stats>
    </ng-container>

  </ng-container>
</div>
