<mat-menu #nodeMenu="matMenu" class="menu node-menu">
  <button mat-menu-item class="menu-item">
    <fa-icon class="menu-icon" [style.color]="color" icon="paint-brush"></fa-icon>
    <mcc-color-picker [selectedColor]="color" (selected)="selectColor($event)" class="color-picker" hideEmptyUsedColors>
      <mcc-color-picker-collection [colors]="_colorService.colors()" hideEmpty="true"></mcc-color-picker-collection>
    </mcc-color-picker>
    Colorize node
  </button>

  <button mat-menu-item (click)="deleteNode()">
    <fa-icon class="menu-icon" icon="trash-alt"></fa-icon> Delete node
  </button>
</mat-menu>

<mat-menu #levelMenu="matMenu" class="menu level-menu">
  <button mat-menu-item class="menu-item" (click)="setLevel(1)">
    <span>Rookie</span>
  </button>
  <button mat-menu-item class="menu-item" (click)="setLevel(2)">
    <span>Beginner</span>
  </button>
  <button mat-menu-item class="menu-item" (click)="setLevel(3)">
    <span>Advanced</span>
  </button>
  <button mat-menu-item class="menu-item" (click)="setLevel(4)">
    <span>Expert</span>
  </button>
</mat-menu>

<span class="node-selection" [style.display]="nodeDisplay()">

  <span [class.dark-theme]="advanced()">
    <mat-toolbar color="primary" class="header" [style.border-color]="color" [style.background-color]="advanced() ? '' : color">
      <span style="display:inherit; margin-left:-8px; margin-right: 10px">
        <svg width="40" height="40">
          <g app-node-shape
            (click)="selectNode(node)"
            [color]="color"
            [elementType]="collection.element_type"
            [idx]="idx"
            [spatial]="isSpatial()"
            transform="translate(20,20)"
          ></g>
        </svg>
      </span>

      <mat-select
          (selectionChange)="selectModel($event)"
          [matTooltip]="collection.element_type + ' model'"
          [(ngModel)]="data.simulation.models[collection.model].existing"
          matTooltipPosition="before"
          style="font-size:14px"
        >
        <ng-container *ngFor="let model of models">
          <mat-option [value]="model.value">{{ model.label | capitalize }}</mat-option>
        </ng-container>
      </mat-select>

      <ng-container [ngSwitch]="advanced()">
        <!-- <ng-container *ngSwitchCase="false">
          <span style="margin-right:-16px" >
            <button mat-menu-item (click)="deleteNode()" matTooltip="Delete node">
              <fa-icon class="menu-icon" icon="trash-alt"></fa-icon>
            </button>
          </span>
        </ng-container> -->
        <ng-container *ngSwitchCase="true">
          <span style="margin-right:-16px" >
            <button mat-icon-button [matMenuTriggerFor]="nodeMenu">
              <fa-icon icon="ellipsis-v"></fa-icon>
            </button>
          </span>
      </ng-container>
    </ng-container>
    </mat-toolbar>
  </span>

  <span>
    <ng-container *ngIf="!isRecorder()">
      <mat-nav-list dense>
        <ng-container *ngIf="!isSpatial()">
          <mat-list-item class="list-item controller" [style.border-color]="color">
            <app-input-popup
              (inputChange)="onNodeChange($event)"
              [options]="_networkConfigService.config['node'].npop"
              [value]="collection.n"
              class="input"
              view="valueSlider"
            ></app-input-popup>
          </mat-list-item>
        </ng-container>

        <ng-container *ngIf="isSpatial()">
          <mat-list-item class="list-item" [style.border-color]="color">
            <app-node-spatial [node]="node" [collection]="collection"></app-node-spatial>
          </mat-list-item>
        </ng-container>
      </mat-nav-list>

      <mat-selection-list dense (selectionChange)="spatialEvent($event)">
        <mat-list-option
          [selected]="isSpatial()"
          [style.border-color]="color"
          class="list-item"
          value="spatial"
          >
          Spatial
        </mat-list-option>
      </mat-selection-list>
    </ng-container>

    <mat-selection-list dense
      (click)="nodeChange.emit(data)"
      [(ngModel)]="data.app.models[collection.model].display"
      >
      <ng-container *ngFor="let param of configModel.params">
        <mat-list-option [value]="param.id" [style.border-color]="color" class="list-item">
          <span class="flex">
            <span class="ellipsis">{{ param.label | capitalize }}</span>
            <span class="flex-spacer"></span>
            <span class="unit">{{ param.unit }}</span>
            <!-- <span>{{ data.simulation.models[collection.model].params[param.id] || param.value }}</span> -->
          </span>
        </mat-list-option>
      </ng-container>
    </mat-selection-list>
  </span>
</span>
