.node-selection {

  mat-nav-list, mat-selection-list {
    padding: 0;

    .list-item {
      border-left: 2.5px solid black;
      width: calc(100% - 2.5px);
      height: 24px;
      line-height: 24px;
    }
  }
}
