<mat-toolbar color="primary" style="height:40px; padding-left:60px" [style.background-color]="color">
  Statistics of Spikes
</mat-toolbar>

<table mat-table [dataSource]="dataSource" matSort>

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sticky> Id </th>
    <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- Count Column -->
  <ng-container matColumnDef="count">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Count </th>
    <td mat-cell *matCellDef="let element"> {{ element.count }} </td>
    <td mat-footer-cell *matFooterCellDef> &Sigma; = {{ sum('count') }} </td>
  </ng-container>

  <!-- ISI mean Column -->
  <ng-container matColumnDef="isi_mean">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> &mu;(ISI) [ms] </th>
    <td mat-cell *matCellDef="let element"> {{ element.isi_mean | format }} </td>
    <td mat-footer-cell *matFooterCellDef> &lambda; = {{ mean('isi_mean') | format }} </td>
  </ng-container>

  <!-- ISI std Column -->
  <ng-container matColumnDef="isi_std">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> &sigma;(ISI) [ms] </th>
    <td mat-cell *matCellDef="let element"> {{ element.isi_std | format }} </td>
    <td mat-footer-cell *matFooterCellDef> &lambda; = {{ mean('isi_std') | format }} </td>
  </ng-container>

  <!-- CV ISI Column -->
  <ng-container matColumnDef="cv_isi">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> CV(ISI) </th>
    <td mat-cell *matCellDef="let element" (click)="onCellClicked(element)"> {{ element.cv_isi | format }} </td>
    <td mat-footer-cell *matFooterCellDef> &lambda; = {{ mean('cv_isi') | format }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (mouseover)="onRowHover(row)"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true" ></tr>
</table>
