<div style="visibility: hidden; position: fixed"
    [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y"
    [matMenuTriggerFor]="simulationMenu"
    >
</div>

<mat-menu #simulationMenu="matMenu" class="context-menu">
  <mat-toolbar class="ellipsis">Simulation</mat-toolbar>

  <button mat-menu-item (click)="configSimulation()">
    <fa-icon icon="cog"></fa-icon> Configure simulation
  </button>

  <mat-selection-list dense style="padding:0" (selectionChange)="onSelectionChange($event)" (click)="$event.stopPropagation()">
    <mat-list-option
      [selected]="_simulationRunService.config['autoRandomSeed']"
      value="autoRandomSeed"
      class="mat-menu-item">
      <span>Randomize seed</span>
    </mat-list-option>
    <mat-list-option
      [selected]="_simulationRunService.config['runAfterChange']"
      value="runAfterChange"
      class="mat-menu-item">
      <span>Simulate after change</span>
    </mat-list-option>
    <mat-list-option
      [selected]="_simulationRunService.config['runAfterLoad']"
      value="runAfterLoad"
      class="mat-menu-item">
      <span>Simulate after load</span>
    </mat-list-option>
  </mat-selection-list>

  <mat-nav-list dense style="padding:0">
    <mat-list-item class="mat-menu-item" (click)="download()">
      <fa-icon class="menu-icon" icon="download"></fa-icon>
      <span *ngIf="!hasRecords()"> Download data</span>
      <span *ngIf="hasRecords()"> Download data and records</span>
    </mat-list-item>
  </mat-nav-list>

</mat-menu>

<ng-container *ngIf="_simulationService.dataLoaded; else loading">
  <span class="simulation-theme">
    <mat-toolbar class="navbar flex no-print" color="primary" style="padding:0">
      <button mat-icon-button
        (click)="_simulationService.mode='details'"
        [class.active]="_simulationService.mode=='details'"
        matTooltip="View node and connection details"
        >
        <span class="fa-stack">
          <fa-icon icon="brain" class="fa-stack-1x fa-lg"></fa-icon>
          <fa-icon icon="eye" class="fa-stack-2x fa-inverse"></fa-icon>
        </span>
      </button>
      <button mat-icon-button
        (click)="_simulationService.mode='edit'"
        [class.active]="_simulationService.mode=='edit'"
        matTooltip="Modify network"
        >
        <span class="fa-stack">
          <fa-icon icon="brain" class="fa-stack-1x fa-lg"></fa-icon>
          <fa-icon icon="pen" class="fa-stack-2x fa-inverse"></fa-icon>
        </span>
      </button>
      <button mat-icon-button
        (click)="_simulationService.mode='playground'"
        [class.active]="_simulationService.mode=='playground'"
        matTooltip="Simulation playground"
        >
        <span class="fa-stack">
          <fa-icon icon="brain" class="fa-stack-1x fa-lg"></fa-icon>
          <fa-icon icon="play" class="fa-stack-2x fa-inverse"></fa-icon>
        </span>
      </button>
        <span class="title">
          {{ _simulationService.data.name }}
        </span>
        <span class="flex-spacer"></span>
        <ng-container *ngIf="_simulationService.mode=='playground'">
        </ng-container>
        <button mat-icon-button
          (click)="run(true)"
          (contextmenu)="onContextMenu($event)"
          (mouseout)="onMouseOut($event)"
          (mouseover)="onMouseOver($event)"
          [disabled]="_simulationRunService.running"
          matTooltip="Simulate"
          style="width:128px"
          >
          <span style="width:128px; display:block">
            <fa-icon
              icon="cog"
              class="fa-spin fa-lg"
              style="height:40px;line-height:42px"
              [style.display]="_simulationRunService.running ? 'inline-block': ''"
              ></fa-icon>
              Simulate
          </span>
        </button>
    </mat-toolbar>
  </span>

  <ng-container [ngSwitch]="_simulationService.mode">
    <ng-container *ngSwitchCase="'details'">
      <app-simulation-details
        [(data)]="_simulationService.data"
        (dataChange)="onDataChange($event)"
      ></app-simulation-details>
    </ng-container>

    <ng-container *ngSwitchCase="'edit'">
      <app-network
        [(data)]="_simulationService.data"
        (dataChange)="onDataChange($event)"
      ></app-network>
    </ng-container>

    <ng-container *ngSwitchCase="'playground'">
      <app-simulation-playground
        [(data)]="_simulationService.data"
        [(records)]="_simulationEventService.records"
        (dataChange)="onDataChange($event)"
      ></app-simulation-playground>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #loading>
  <div style="height:100%" class="flex">
    <span style="margin:auto">
      <fa-icon icon="compact-disc" class="fa-lg fa-spin" style="display:inline-block"></fa-icon>
      <span style="margin-left: 8px">Data is loading.</span>
    </span>
  </div>
</ng-template>
