:host {
  height: 100vh;
}

.title {
  height: 48px;
  line-height: 48px;
  margin-top: -23px;
  width: 100%;

  mat-form-field {
    width: 100%;
    font-weight: 500;
  }
}

#controller {
  width: 338px;
}

.visualization-content {
  height: 100vh;
  overflow: hidden;
}
