:host {
  height: 100vh;
}

.title {
  height: 48px;
  line-height: 48px;
  margin-top: -23px;
  width: 100%;

  mat-form-field {
    width: 100%;
    font-weight: 500;
  }
}

.button-toolbar {
  position: absolute;
  top: 40px;
  right: 338px;
  width: 36px;
  z-index: 1000;
}

#controller {
  width: 338px;
}

.visualization-content {
  height: 100vh;
  overflow: hidden;
}
