<mat-sidenav-container id="simulation" (window:resize)="resize()">

  <mat-sidenav id="controller" role="region" mode="side" [opened]="isOpened()" position="end"
    (mousemove)="buttonDisplay='1'"
    (mouseleave)="buttonDisplay='0.2'"
    >

    <span *ngIf="_dataService.data.name">
      <mat-form-field floatLabel="never" style="width: 100%; margin-bottom:-20px">
        <div matPrefix style="width:10px"></div>
        <input matInput type="text" class="formControl" [readonly]="!_controllerService.options.edit" [(ngModel)]="_dataService.data.name" placeholder="Name of the network model" />
        <button mat-button *ngIf="_controllerService.options.edit && _dataService.data.name" matSuffix mat-icon-button aria-label="Clear" (click)="_dataService.data.name=''">
          <fa-icon icon="times"></fa-icon>
        </button>
      </mat-form-field>
    </span>

    <app-controller *ngIf="_configService.config.app.simulation.showSlider"></app-controller>

    <span *ngIf="!_configService.config.app.simulation.showSlider">
      <app-nodes-view [nodes]="_dataService.data.collections" selectiveView="true"></app-nodes-view>
      <app-links-view [links]="_dataService.data.connectomes" selectiveView="true"></app-links-view>
    </span>

  </mat-sidenav>

  <mat-sidenav-content #content id="chart">
    <div style="position:absolute; right:0; width:4px; height:100vh; z-index: 1000;" (mousemove)="buttonDisplay='1'"
      (mouseleave)="buttonDisplay='0.2'"></div>

    <button mat-fab type="button" class="buttonRight no-print"
      [style.top]="(content.elementRef.nativeElement.clientHeight / 2) + 'px'"
      [style.opacity]="buttonDisplay"
      (click)="toggleControllerSidenav()"
      (mousemove)="buttonDisplay='1'"
      (mouseleave)="buttonDisplay='0.2'"
      >
      <fa-icon *ngIf="!isOpened()" icon="chevron-left"></fa-icon>
      <fa-icon *ngIf="isOpened()" icon="chevron-right"></fa-icon>
    </button>

    <div *ngIf="_dataService.records">
      <app-chart></app-chart>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>


<div *ngIf="!_controllerService.options.sheetOpened" class="no-print" style="position:absolute;left:10px;bottom:10px;z-index:1000;">
  <button mat-mini-fab type="button" (click)="toggleControllerSheet()" color="primary">
    <fa-icon icon="chevron-up"></fa-icon>
  </button>
</div>
