<div style="visibility: hidden; position: fixed"
    [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y"
    [matMenuTriggerFor]="simulationMenu"
    >
</div>

<mat-menu #simulationMenu="matMenu" class="context-menu">
  <mat-toolbar class="ellipsis">Simulation</mat-toolbar>

  <button mat-menu-item (click)="configSimulation()">
    <fa-icon icon="cog"></fa-icon> Configure simulation
  </button>

  <mat-selection-list dense style="padding:0" (selectionChange)="onSelectionChange($event)" (click)="$event.stopPropagation()">
    <mat-list-option
      [selected]="_simulationRunService.config['autoRandomSeed']"
      value="autoRandomSeed"
      class="mat-menu-item">
      <span>Randomize seed</span>
    </mat-list-option>
    <mat-list-option
      [selected]="_simulationRunService.config['runAfterChange']"
      value="runAfterChange"
      class="mat-menu-item">
      <span>Simulate after change</span>
    </mat-list-option>
    <mat-list-option
      [selected]="_simulationRunService.config['runAfterLoad']"
      value="runAfterLoad"
      class="mat-menu-item">
      <span>Simulate after load</span>
    </mat-list-option>
  </mat-selection-list>

  <mat-nav-list dense style="padding:0">
    <mat-list-item class="mat-menu-item" (click)="download()">
      <fa-icon class="menu-icon" icon="download"></fa-icon>
      <span *ngIf="!hasRecords()"> Download data</span>
      <span *ngIf="hasRecords()"> Download data and records</span>
    </mat-list-item>
  </mat-nav-list>

</mat-menu>

<ng-container *ngIf="data.hasOwnProperty('app'); else loading">
  <span class="simulation-theme">
    <mat-toolbar class="navbar content flex" color="primary">
      <!-- <ng-container *ngIf="data"> -->
        <span class="title">
          <mat-form-field floatLabel="never">
            <input matInput type="text" class="formControl" [(ngModel)]="data.name" [disabled]="this._simulationService.mode!='edit'" placeholder="Name of the simulation"/>
            <span *ngIf="this._simulationService.mode=='edit'" matSuffix>
              <button mat-icon-button aria-label="Clear" (click)="data.name=''" class="button">
                <fa-icon icon="times" [style.display]="data.name ? '' : 'none'"></fa-icon>
              </button>
            </span>
          </mat-form-field>
        </span>
        <span class="flex-spacer"></span>
        <ng-container *ngIf="_simulationService.mode=='run'">
          <button
            (click)="selectVisualizationModus('chart')"
            [class.mat-icon-button]="_visualizationService.mode!='chart'"
            [class.mat-fab]="_visualizationService.mode=='chart'"
            matTooltip="View chart"
            >
            <fa-icon icon="chart-line"></fa-icon>
          </button>
          <button
            [disabled]="!_visualizationService.hasPositions"
            (click)="selectVisualizationModus('animation')"
            [class.mat-icon-button]="_visualizationService.mode!='animation'"
            [class.mat-fab]="_visualizationService.mode=='animation'"
            matTooltip="View animation"
            >
            <fa-icon icon="braille"></fa-icon>
          </button>
          <mat-divider class="style-fix" [vertical]="true"></mat-divider>
          <!-- <button
            (click)="toggleBottomSheet()"
            [class.mat-icon-button]="!isBottomSheetOpened()"
            [class.mat-fab]="isBottomSheetOpened()"
            matTooltip="Quick view network sketch"
            >
            <fa-icon icon="shapes" rotate="90"></fa-icon>
          </button> -->
          <button
            (click)="toggleQuickView()"
            [class.mat-icon-button]="!isQuickViewOpened()"
            [class.mat-fab]="isQuickViewOpened()"
            matTooltip="Quick view network sketch"
            >
            <fa-icon icon="shapes" rotate="90"></fa-icon>
          </button>
        </ng-container>
        <mat-divider class="style-fix" [vertical]="true"></mat-divider>
        <button mat-icon-button (click)="save()" matTooltip="Save the current network">
          <fa-icon icon="save"></fa-icon>
        </button>
        <button
          (click)="details()"
          [class.mat-icon-button]="_simulationService.mode!='details'"
          [class.mat-fab]="_simulationService.mode=='details'"
          matTooltip="View node and connection details"
          >
          <fa-icon icon="eye"></fa-icon>
        </button>
        <button
          (click)="edit()"
          [class.mat-icon-button]="_simulationService.mode!='edit'"
          [class.mat-fab]="_simulationService.mode=='edit'"
          matTooltip="Modify network"
          >
          <fa-icon icon="pen"></fa-icon>
        </button>
        <button
          (click)="run(true)"
          (contextmenu)="onContextMenu($event)"
          (mouseout)="onMouseOut($event)"
          (mouseover)="onMouseOver($event)"
          [class.mat-icon-button]="_simulationService.mode!='run'"
          [class.mat-fab]="_simulationService.mode=='run'"
          [matTooltip]="_simulationService.mode=='run' ? 'Simulate': 'Simulation playground'"
          class="mat-button-base"
          >
          <span class="mat-button-wrapper">
            <ng-container [ngSwitch]="_simulationRunService.running">
              <ng-container *ngSwitchCase="true">
                <fa-icon icon="spinner"
                  class="fa-lg fa-pulse"
                  style="display:inline-block"></fa-icon>
              </ng-container>
              <ng-container *ngSwitchCase="false">
                <fa-icon icon="play"></fa-icon>
                <div *ngIf="_simulationService.mode=='run'"
                  style="font-size:9px; position: absolute; left: 0; bottom: 2px; width: 100%">Simulate</div>
              </ng-container>
            </ng-container>
          </span>
        </button>
      <!-- </ng-container> -->
    </mat-toolbar>
  </span>

  <ng-container [ngSwitch]="_simulationService.mode">
    <ng-container *ngSwitchCase="'details'">
      <app-simulation-details [(data)]="data" (dataChange)="onDataChange($event)"></app-simulation-details>
    </ng-container>

    <ng-container *ngSwitchCase="'edit'">
      <app-network [(data)]="data" (dataChange)="onDataChange($event)"></app-network>
    </ng-container>

    <ng-container *ngSwitchCase="'run'">
      <div class="button-toolbar">
        <button mat-icon-button
          (click)="selectControllerMode('network')"
          [class.mat-fab]="_simulationControllerService.mode=='network'"
          matTooltip="Network configurations"
          matTooltipPosition="before"
          class="app-button"
          >
          <fa-icon icon="project-diagram"></fa-icon>
        </button>
        <button mat-icon-button
          (click)="selectControllerMode('simulation')"
          [class.mat-fab]="_simulationControllerService.mode=='simulation'"
          matTooltip="Simulation configurations"
          matTooltipPosition="before"
          class="app-button"
          >
          <fa-icon icon="cog"></fa-icon>
        </button>
        <button mat-icon-button *ngIf="_visualizationService.mode=='chart'"
          (click)="selectControllerMode('chart')"
          [class.mat-fab]="_simulationControllerService.mode=='chart'"
          matTooltip="Chart controller"
          matTooltipPosition="before"
          class="app-button"
          >
          <fa-icon icon="chart-line"></fa-icon>
        </button>
        <button mat-icon-button *ngIf="_visualizationService.mode=='animation'"
          (click)="selectControllerMode('animation')"
          [class.mat-fab]="_simulationControllerService.mode=='animation'"
          matTooltip="Animation controller"
          matTooltipPosition="before"
          class="app-button"
          >
          <fa-icon icon="braille"></fa-icon>
        </button>
        <button mat-icon-button
          (click)="selectControllerMode('stats')"
          [class.mat-fab]="_simulationControllerService.mode=='stats'"
          matTooltip="Simulation stats"
          matTooltipPosition="before"
          class="app-button"
          >
          <fa-icon icon="poll"></fa-icon>
        </button>
      </div>

      <span class="simulation">
        <mat-sidenav-container style="height:calc(100vh - 40px)">
          <mat-sidenav
            disableClose="true"
            id="controller"
            mode="side"
            opened="true"
            position="end"
            role="region"
            style="height:100vh"
            >
            <app-controller
              (appChange)="onAppChange($event)"
              (dataChange)="onDataChange($event)"
              [(data)]="data"
              [mode]="_simulationControllerService.mode"
              [records]="records"
            ></app-controller>
          </mat-sidenav>

          <mat-sidenav-content class="visualization-content">
            <ng-container *ngIf="records.length > 0 && data != undefined; else noRecords">
              <app-visualization
                [data]="data"
                [records]="records"
              ></app-visualization>
            </ng-container>

            <ng-template #noRecords>
              <div style="height:100%" class="flex">
                <span style="margin:auto">
                  <span style="margin-left: 8px">No record found. Please simulate.</span>
                </span>
              </div>
            </ng-template>

          </mat-sidenav-content>
        </mat-sidenav-container>

        <ng-container *ngIf="isQuickViewOpened()">
          <mat-card cdkDrag cdkDragBoundary=".simulation"
            style="cursor:pointer; width:540px; height:200px; position:absolute; bottom: 0; z-index:1000; left:calc(50% - 150px - 270px)"
            >
            <button mat-icon-button (click)="toggleQuickView()" style="position:absolute; right:20px; top:20px; z-index:1000">
              <fa-icon icon="times"></fa-icon>
            </button>
            <app-network-sketch [(data)]="data" width="540" height="200" [eventTrigger]="false"></app-network-sketch>
          </mat-card>
        </ng-container>

      </span>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #loading>
  <div style="height:100%" class="flex">
    <span style="margin:auto">
      <fa-icon icon="compact-disc" class="fa-lg fa-spin" style="display:inline-block"></fa-icon>
      <span style="margin-left: 8px">Data is loading.</span>
    </span>
  </div>
</ng-template>
