<mat-menu #networksMenu="matMenu" class="networks-menu dense">
  <button mat-menu-item (click)="clearDisplay()">
    <fa-icon icon="eye" style="margin-right:10px"></fa-icon>
    Default network display
  </button>
</mat-menu>

<mat-toolbar>
  {{ _dataService.data.name }}
</mat-toolbar>

<div style="margin:0 16px">
  <span style="width:540px; display:block">
    <app-sketch [data]="_dataService.data" width="540" height="200" [drawing]="false" style="width:540px"></app-sketch>
  </span>

  <span style="position:relative; display: block; width: 100%; height: 100%">
    <span style="position:absolute; top:10px; right:10px; z-index:1000">
      <mat-slide-toggle [checked]="_controllerService.options.editing" (change)="_controllerService.options.editing=$event.checked" class="mat-primary no-print"></mat-slide-toggle>
      <button mat-icon-button [matMenuTriggerFor]="networksMenu" class="button">
        <fa-icon icon="ellipsis-v" style="font-size:12px"></fa-icon>
      </button>
    </span>

    <mat-tab-group class="maxWidth" style="height:calc(100% - 208px)">

      <mat-tab label="Details">
        <div style="display:flex; width:100%;">
          <app-nodes-view [data]="_dataService.data" [editing]="true" [selective]="true" style="width:50%"></app-nodes-view>
          <app-links-view [data]="_dataService.data" [editing]="true" [selective]="true" style="width:50%"></app-links-view>
        </div>
      </mat-tab>

      <mat-tab label="Description">
        <div style="padding:20px">{{ _dataService.data.description }}</div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <fa-icon icon="code" style="margin-right:10px"></fa-icon> Python script
        </ng-template>
        <app-network-script [id]="_dataService.data._id"></app-network-script>
      </mat-tab>

      <mat-tab label="Raw view">
        <pre>{{ _dataService.clean(_dataService.data) | json }}</pre>
      </mat-tab>

      <mat-tab label="Comment">
        <mat-form-field style="width:100%" floatLabel="never">
          <textarea matInput cdkTextareaAutosize placeholder='Leave a comment'></textarea>
        </mat-form-field>
      </mat-tab>

    </mat-tab-group>
  </span>
<div>

<span style="position:fixed; right:0; top:0; width:160px; z-index:1000; border-bottom: 1px solid rgba(0,0,0,0.12)">
  <mat-nav-list class="controller-menu" dense style="padding:0; display:flex">
    <mat-list-item (click)="simulate()">
      <span style="text-align:center; width:100%;">Simulate</span>
    </mat-list-item>
  </mat-nav-list>
</span>
