<svg:g>
  <ng-container [ngSwitch]="spatial">
    <ng-container *ngSwitchCase="true">
      <svg:polygon
        class="node"
        [attr.points]="layer()"
        [style.fill]="fillColor"
        [style.stroke]="strokeColor"
        [style.stroke-dasharray]="selected ? '7.85' : ''"
        [style.stroke-width.px]="strokeWidth"
        ></svg:polygon>
      <svg:text class="label" dx="0" dy=".4em" text-anchor="middle" [style.font-size.px]="labelSize">{{ label }}</svg:text>
    </ng-container>
    <ng-container *ngSwitchCase="false">
      <ng-container [ngSwitch]="elementType">
        <ng-container *ngSwitchCase="'neuron'">
          <svg:circle
            class="node circle"
            [attr.r]="radius"
            [style.fill]="fillColor"
            [style.stroke]="strokeColor"
            [style.stroke-dasharray]="selected ? '7.85' : ''"
            [style.stroke-width.px]="strokeWidth"
          ></svg:circle>
          <svg:text class="label" dx="0" dy=".4em" text-anchor="middle" [style.font-size.px]="labelSize">{{ label }}</svg:text>
        </ng-container>
        <ng-container *ngSwitchCase="'stimulator'">
          <svg:polygon
            class="node triangle"
            [attr.points]="triangle()"
            [style.fill]="fillColor"
            [style.stroke]="strokeColor"
            [style.stroke-dasharray]="selected ? '7.85' : ''"
            [style.stroke-width.px]="strokeWidth"
          ></svg:polygon>
          <svg:text class="label" dx="0" dy=".4em" text-anchor="middle" [style.font-size.px]="labelSize">{{ label }}</svg:text>
        </ng-container>
        <ng-container *ngSwitchCase="'recorder'">
          <svg:polygon
            class="node square"
            [attr.points]="square()"
            [style.fill]="fillColor"
            [style.stroke]="strokeColor"
            [style.stroke-dasharray]="selected ? '7.85' : ''"
            [style.stroke-width.px]="strokeWidth"
          ></svg:polygon>
          <svg:text class="label" dx="0" dy=".4em" text-anchor="middle" [style.font-size.px]="labelSize">{{ label }}</svg:text>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</svg:g>
