<button mat-icon-button (click)="onClick($event)">
  <fa-icon
    class="fa-lg"
    icon="wrench"
    [style.opacity]="_loadingService.isConfigReady() ? 1 : 0"
  ></fa-icon>
</button>

<button mat-icon-button (click)="onClick($event)">
  <fa-icon
    class="fa-lg"
    icon="database"
    [style.opacity]="_loadingService.isDatabaseReady() ? 1 : 0"
  ></fa-icon>
</button>

<button mat-icon-button (click)="onClick($event)">
  <fa-icon
    class="fa-lg"
    icon="server"
    [class.green]="_loadingService._nestServerService.status.simulator.valid"
    [class.red]="!_loadingService._nestServerService.status.simulator.valid"
    [style.opacity]="_loadingService._nestServerService.status.server.response ? 1 : 0"
  ></fa-icon>
</button>
