.loading {
  background-color: #fafafa;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading .left {
  width: 240px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.loading mat-card {
  width: 280px;
  margin: 10px;
}

.loading mat-list-item {
  height: 18px;
}

.green {
  color: green;
  margin-left: 10px;
}

.red {
  color: red;
  margin-left: 10px;
}


.quote {
  font-size: 28px;
  line-height: 1.2em;
  font-style: italic;
  text-align: right;
}

.author {
  float:right;
}
