[Unit]
Description=NEST Desktop
Requires=network.target
After=network.target

[Service]
ExecStart=systemctl start docker
ExecStart=/usr/bin/docker run -i -p 80:8000 -p 5000:5000 -t {{ nest_desktop_image }}

[Install]
WantedBy=network.target
