#container {
  height: 100vh;
}

router-outlet {
  height: 100%;
}

::ng-deep .flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

::ng-deep .ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

::ng-deep mat-toolbar {
  background-color: white !important;
}

::ng-deep mat-sidenav-content {
  background-color: white !important;
}

::ng-deep a[mat-list-item].active {
  background-color: #f2f2f2;
}

::ng-deep .nodes .mat-list-item-content, ::ng-deep .links .mat-list-item-content {
  padding: 0 10px !important;
}

::ng-deep input {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.buttonLeft {
  left: -20px;
  padding-left: 15px;
  position: absolute;
  z-index: 1000;
  height: 40px;
  width: 40px;
  line-height: 40px !important;
}

::ng-deep .buttonLeft .mat-button-wrapper {
  padding: 0 !important;
}
