#container {
  height: 100vh;
  width: calc(100% - 40px);
}

#navigation {
  width: 260px
}

router-outlet {
  height: 100%;
}

.mouse-right-click {
  position: fixed;
  bottom: 2px;
  left: 1px;
  z-index: 1000;

  img {
    margin: -16px 0;
    pointer-events: none;
  }
}
