<mat-toolbar color="accent">
<!-- <mat-toolbar color="accent"> -->
  <app-navigation></app-navigation>
</mat-toolbar>

<router-outlet></router-outlet>

<!-- <mat-sidenav-container style="height:100vh">
  <mat-sidenav mode="side" role="region" [(opened)]="_menuService.options.opened" position="start" style="min-width:200px">
    <app-menu></app-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-icon-button (click)="toggleMenu()" style="position:absolute;top:10px;left:10px;z-index:1000">
      <fa-icon [icon]="faBars"></fa-icon>
    </button>

  </mat-sidenav-content>
</mat-sidenav-container> -->
