<app-navigation
  id="navigation-button"
  [(ready)]="ready"
  >
</app-navigation>

<mat-sidenav-container id="container" autosize>
  <mat-sidenav
    id="navigation"
    (openedChange)="triggerResize()"
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [(opened)]="_navigationService.sidenavOpened"
    role="region"
    position="start"
    autoFocus="false">
    <ng-container [ngSwitch]="ready">
      <ng-container *ngSwitchCase="false">
        <app-loading
        (buttonClick)="ready=true"
        [(ready)]="ready"
        [style.display]="_appConfigService.config.app.loading ? '' : 'None'"
        ></app-loading>
      </ng-container>
      <ng-container *ngSwitchCase="true">
        <router-outlet name="nav"></router-outlet>
      </ng-container>
    </ng-container>
  </mat-sidenav>

  <mat-sidenav-content #content>
    <ng-container [ngSwitch]="ready">
      <ng-container *ngSwitchCase="false">
        <span class="background" [style.display]="_appConfigService.config.app.loading ? '' : 'None'">
          <div style="margin:auto">
            <figure>
              <img width="720" src="/assets/img/spike-transmission-carlos.png" />
            </figure>
          </div>
        </span>

        <div style="position:absolute; bottom: 20px; right: 20px; background: rgb(250,250,250)">
          <div class="quote">"Ah! My poor brain is racked and crazed, my spirit and senses amazed!"</div>
          <div class="author">Johann Wolfgang Von Goethe (from Faust, 1808)</div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="true">
        <!-- <app-navigation id="navigation-button"></app-navigation> -->
        <router-outlet></router-outlet>
      </ng-container>
    </ng-container>

  </mat-sidenav-content>

</mat-sidenav-container>

<div
  [style.display]="_appService.rightClick && !advanced() ? '' : 'none'"
  class="mouse-right-click dark-theme"
  >
  <button mat-mini-fab>
    <img src="/assets/img/mouse-right-click.png" width="32px"/>
  </button>
</div>
