#container {
  height: 100vh;
}

#navigation-button {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 40px;
}

.background {
  display: flex;
  height: 100%;
  width: 100%;

  figure {
    margin: 0;
  }
}

router-outlet {
  height: 100%;
}

.buttonLeft {
  left: -20px;
  padding-left: 15px;
  position: absolute;
  z-index: 1000;
  height: 40px;
  width: 40px;
  line-height: 40px !important;

  .mat-button-wrapper {
    padding: 0 !important;
  }
}

.navButton {
  position: absolute;
  left: 0;
  width: 4px;
  height: 100vh;
  z-index: 1000;
}

.quote {
  font-family: mono;
  margin: 20px;
  display: flex;
  font-size: 24px;
  line-height: 1.2em;
  font-style: italic;
  text-align: right;
}

.author {
  float: right;
}

.mouse-right-click {
  position: fixed;
  background-color: white;
  bottom: 0;
  left: 0;
  z-index: 1000;

  img {
    pointer-events: none;
  }
}

.mouse-right-click:hover {
  display: none;
}
