#container {
  height: 100vh;
}

#container .mat-sidenav {
  width: 321px;
}

app-navigation {
  width: 100vw;
}

router-outlet {
  height: 100%;
}

/* ::ng-deep .mat-sidenav {
  border-left: none !important;
  border-right: none !important;
} */
::ng-deep .mat-drawer {
  background-color: #fafafa !important;
}

::ng-deep a[mat-list-item].active {
  background-color: #f2f2f2;
}

.buttonLeft {
  position: absolute;
  left: -28px;
  z-index: 1000;
  padding-left: 20px;
}

.colorPicker {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 260px;
  height: 460px;
  margin-left: -130px;
  margin-top: -230px;
}
