<span
  *ngIf="_visualizationService.hasPositions"
  class="no-print"
  style="position:absolute;z-index:1000; padding: 8px;"
  >

  <mat-button-toggle-group
    (change)="selectVisualizationModus($event.value)"
    [value]="_visualizationService.mode"
    [vertical]="true"
    ><mat-button-toggle
      matTooltip="View chart"
      matTooltipPosition="right"
      value="chart"
      ><fa-icon icon="chart-line"></fa-icon>
    </mat-button-toggle>
    <mat-button-toggle
      matTooltip="View animation"
      matTooltipPosition="right"
      value="animation"
      ><fa-icon icon="braille"></fa-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>

</span>

<div style="overflow:hidden; height:calc(100vh - 40px)">
  <ng-container [ngSwitch]="_visualizationService.mode">
    <ng-container *ngSwitchCase="'chart'">
      <app-chart-records></app-chart-records>
    </ng-container>

    <ng-container *ngSwitchCase="'animation'">
      <ng-container *ngIf="hasAnalogData(); else spike">
        <app-animation-analog [activities]="project.activities"></app-animation-analog>
      </ng-container>
      <ng-template #spike>
        <app-animation-spike [activities]="project.activities"></app-animation-spike>
      </ng-template>
    </ng-container>
  </ng-container>
</div>
