.item .description {
  color: #666;
  padding: 0 10px;
  font-size: 11px
}

.item.enabled {
  background-color: #3366ff;
  color: white !important;
}

.item.enabled .description {
  color: white !important;
}
