<ng-container *ngIf="project.activities.length > 0; else noActivity">
  <app-visualization [project]="project"></app-visualization>
</ng-container>

<ng-template #noActivity>
  <div style="height:100%" class="flex">
    <span style="margin:auto">
      <span style="margin-left: 8px">
        <ng-container *ngIf="_simulationRunService.running">
          Simulation is currently running. Please wait.
        </ng-container>
        <ng-container *ngIf="!_simulationRunService.running">
          No activity found. Please simulate.
        </ng-container>
      </span>
    </span>
  </div>
</ng-template>
