<div class="form-fields" style="margin: 10px 20px">
  <mat-form-field>
    <input matInput placeholder="Name" name="name" [(ngModel)]="_configService.selectedModel.label" (change)="save()">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Element type" [value]="_configService.selectedModel.element_type" readonly>
  </mat-form-field>
</div>

<h4 class="subheading-1">Parameters</h4>

<mat-accordion>
  <mat-expansion-panel *ngFor="let param of _configService.selectedModel.params">
    <mat-expansion-panel-header class="right-aligned-header">
      <mat-panel-title>
        {{ param }}
      </mat-panel-title>
      <mat-panel-description>
        {{ _configService.selectedModel.options[param].value }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="form-fields">
      <mat-form-field>
        <input matInput placeholder="Label" name="label" [(ngModel)]="_configService.selectedModel.options[param].label" (change)="save()">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" placeholder="Level" name="level" [(ngModel)]="_configService.selectedModel.options[param].level" (change)="save()">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" placeholder="Default value" name="value" [(ngModel)]="_configService.selectedModel.options[param].value" (change)="save()">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Unit" name="unit" [(ngModel)]="_configService.selectedModel.options[param].unit" (change)="save()">
      </mat-form-field>

      <mat-form-field class="select">
        <mat-select placeholder="View" [(ngModel)]="_configService.selectedModel.options[param].view">
          <mat-option value="valueInput">Value input</mat-option>
          <mat-option value="arrayInput">Array input</mat-option>
          <mat-option value="valueSlider">Value slider</mat-option>
          <mat-option value="rangeSlider">Range slider</mat-option>
          <mat-option value="tickSlider">Tick slider</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="_configService.selectedModel.options[param].view == 'valueSlider'">
        <input matInput type="number" placeholder="Minimum value" name="min" [(ngModel)]="_configService.selectedModel.options[param].viewSpec.min" (change)="save()">
      </mat-form-field>

      <mat-form-field *ngIf="_configService.selectedModel.options[param].view == 'valueSlider'">
        <input matInput type="number" placeholder="Maximum value" name="max" [(ngModel)]="_configService.selectedModel.options[param].viewSpec.max" (change)="save()">
      </mat-form-field>

      <mat-form-field *ngIf="_configService.selectedModel.options[param].view.indexOf('value') != -1">
        <input matInput type="number" placeholder="Change step" name="step" [(ngModel)]="_configService.selectedModel.options[param].viewSpec.step" (change)="save()">
      </mat-form-field>

      <mat-form-field *ngIf="_configService.selectedModel.options[param].view == 'tickSlider'">
        <input matInput placeholder="Tick values" name="ticks" [ngModel]="_configService.selectedModel.options[param].viewSpec.ticks" (change)="valueChanged(param, $event)">
      </mat-form-field>

    </div>
  </mat-expansion-panel>
</mat-accordion>
