<svg:g>
  <ng-container *ngIf="drawCircle(); else polygon">
    <ng-container *ngIf="node.size > 1">
      <svg:circle
        [attr.r]="radius"
        [style.stroke-dasharray]="showSelection && node.view.isSelected() ? '7.85' : ''"
        [style.stroke-width.px]="2*strokeWidth"
        [style.stroke]="node.view.color"
        class="node circle"
      ></svg:circle>
    </ng-container>

    <svg:circle
      [attr.r]="radius"
      [style.fill]="node.size > 1 ? 'none' : 'white'"
      [style.stroke-dasharray]="showSelection && node.view.isSelected() ? '7.85' : ''"
      [style.stroke-width.px]="node.size > 1 ? (strokeWidth / 2) : strokeWidth"
      [style.stroke]="node.size > 1 ? 'white' : node.view.color"
      class="node circle"
    ></svg:circle>
  </ng-container>

  <ng-template #polygon>
    <ng-container *ngIf="node.size > 1">
      <svg:polygon
        [attr.points]="points"
        [style.stroke-dasharray]="showSelection && node.view.isSelected() ? '7.85' : ''"
        [style.stroke-width.px]="2*strokeWidth"
        [style.stroke]="node.view.color"
        class="node polygon"
      ></svg:polygon>
    </ng-container>

    <svg:polygon
      [attr.points]="points"
      [style.fill]="node.size > 1 ? 'none' : 'white'"
      [style.stroke-dasharray]="showSelection && node.view.isSelected() ? '7.85' : ''"
      [style.stroke-width.px]="node.size > 1 ? (strokeWidth / 2) : strokeWidth"
      [style.stroke]="node.size > 1 ? 'white' : node.view.color"
      class="node polygon"
    ></svg:polygon>
  </ng-template>

  <svg:text
    [attr.dy]="dy"
    [style.fontSize]="labelSize"
    class="label"
    dx="0"
    text-anchor="middle">
    {{ node.view.label }}
  </svg:text>
</svg:g>
