<mat-sidenav-container id="content" (window:resize)="resize()" hasBackdrop="false" style="height:90vh">

  <mat-sidenav role="region" mode="over" [(opened)]="_controllerService.options.opened" position="end" [style.width]="_controllerService.options.width" [style.background-color]="_controllerService.options.color">
    <app-controller></app-controller>
  </mat-sidenav>

  <mat-sidenav-content id="content-center" (window:resize)="resize()">

    <svg id="chart" width="800" height="600" *ngIf="_chartService.options.show && !_sketchService.options.drawing">
        <g *ngFor="let record of _dataService.records">
            <g app-spike-chart *ngIf="_dataService.data.collections[record.node].model == 'spike_detector'" [idx]="record.idx"></g>
            <g app-trace-chart *ngIf="_dataService.data.collections[record.node].model == 'voltmeter'" [idx]="record.idx"></g>
        </g>
      </svg>

    <svg id="sketch" width="800" height="600" *ngIf="_sketchService.options.show || _sketchService.options.drawing">
          <g app-background-sketch></g>
          <g app-node-sketch></g>
          <g app-link-sketch></g>
      </svg>

    <!-- <app-points style="position:absolute; left: 0; top: 0"></app-points> -->

  </mat-sidenav-content>

</mat-sidenav-container>
