<div style="visibility: hidden; position: fixed"
    [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y"
    [matMenuTriggerFor]="projectMenu"
    >
</div>

<mat-menu #projectMenu="matMenu" class="context-menu">
  <!-- <mat-toolbar class="ellipsis">{{ focused.name }}</mat-toolbar> -->
  <button mat-menu-item class="menu-item" (click)="downloadSimulation()">
    <fa-icon class="menu-icon" icon="download"></fa-icon> Download
  </button>
  <button mat-menu-item class="menu-item" (click)="deleteSimulation()">
    <fa-icon class="menu-icon" icon="trash"></fa-icon> Delete
  </button>
</mat-menu>

<mde-popover
  #projectDetails="mdePopover"
  mdeFocusTrapEnabled="false"
  mdePopoverPositionX="before"
  mdePopoverOffsetX="261"
  mdePopoverPositionY="below"
  mdePopoverOffsetY="0">
  <ng-container *ngIf="focused && quickview">
    <mat-card style="width:600px">
      <app-network-sketch
        [data]="focused"
        [eventTrigger]="false"
        width="600"
        height="200"
        ></app-network-sketch>
      <app-network-list
        [data]="focused"
        [selective]="false"
      ></app-network-list>
    </mat-card>
  </ng-container>
</mde-popover>

<mat-nav-list dense
  (mouseleave)="projectTarget.closePopover()"
  [mdePopoverTriggerFor]="projectDetails"
  #projectTarget="mdePopoverTrigger"
  mdePopoverTriggerOn="none"
  style="padding:0"
  >
  <span [@listAnimation]="projects.length">
    <ng-container *ngFor="let project of projects">
      <mat-list-item
        (contextmenu)="onContextMenu($event, project)"
        (mouseover)="view(project, projectTarget)"
        (mouseout)="onMouseOut($event)"
        (click)="onClick(project)"
        class="project"
        [class.active]="selected(project)"
        >
        <span class="flex">
          {{ project.name }}
          <div class="flex-spacer"></div>
          <ng-container *ngIf="project.updatedAt">
            <span class="timesince">
              {{ project.updatedAt | timesince }}
            </span>
          </ng-container>
        </span>
        </mat-list-item>
    </ng-container>
  </span>
</mat-nav-list>
