<mat-list dense>
  <mat-list-item>
    <app-select
      (selectedChange)="onSelectConnectionType($event)"
      [(selected)]="connection.projections['connection_type']"
      [options]="config.connection_type"
    ></app-select>
  </mat-list-item>
</mat-list>

<mat-list dense>
  <ng-container *ngIf="connection.projections.hasOwnProperty('kernel')">
    <mat-list-item>
      <app-connection-param
        [(value)]="connection.projections.kernel"
        [connection]="connection"
        [options]="config.kernel"
      ></app-connection-param>
    </mat-list-item>
  </ng-container>

  <ng-container *ngIf="connection.projections.hasOwnProperty('number_of_connections')">
    <mat-list-item>
      <app-connection-param
        [(value)]="connection.projections.number_of_connections"
        [connection]="connection"
        [options]="config.number_of_connections"
      ></app-connection-param>
    </mat-list-item>
  </ng-container>

  <mat-list-item>
    <app-connection-mask
      (projectionsChange)="onProjectionsChange($event)"
      [(projections)]="connection.projections"
    ></app-connection-mask>
  </mat-list-item>

  <ng-container *ngIf="connection.projections.hasOwnProperty('weights')">
    <mat-list-item>
      <app-connection-param
        [(value)]="connection.projections.weights"
        [connection]="connection"
        [options]="config.weights"
      ></app-connection-param>
    </mat-list-item>
  </ng-container>

  <ng-container *ngIf="connection.projections.hasOwnProperty('delays')">
    <mat-list-item>
      <app-connection-param
        [(value)]="connection.projections.delays"
        [connection]="connection"
        [options]="config.delays"
      ></app-connection-param>
    </mat-list-item>
  </ng-container>

</mat-list>

<mat-selection-list dense (selectionChange)="onSelectionChange($event)">
  <mat-list-option value="allow_autapses"
    [selected]="connection.projections.allow_autapses">
    {{ config.allow_autapses.label | capitalize }}
  </mat-list-option>

  <mat-list-option value="allow_multapses"
    [selected]="connection.projections.allow_multapses">
    {{ config.allow_multapses.label | capitalize }}
  </mat-list-option>

  <mat-list-option value="allow_oversized_mask"
    [selected]="connection.projections.allow_oversized_mask">
    {{ config.allow_oversized_mask.label | capitalize }}
  </mat-list-option>
</mat-selection-list>
