<mat-sidenav-container id="simulation">

  <mat-sidenav id="controller" role="region" mode="side" [opened]="isControllerOpened()" position="end"
        (openedChange)="resize()">

    <app-controller></app-controller>

  </mat-sidenav>

  <mat-sidenav-content #content id="chart">
    <button mat-fab type="button" class="buttonRight no-print"
      [style.top]="(content.elementRef.nativeElement.clientHeight / 2) + 'px'"
      [style.opacity]="buttonDisplay"
      (click)="toggleControllerOpened()"
      (mousemove)="buttonDisplay='1'"
      (mouseleave)="buttonDisplay='0.2'"
      >
      <fa-icon *ngIf="!isControllerOpened()" icon="chevron-left"></fa-icon>
      <fa-icon *ngIf="isControllerOpened()" icon="chevron-right"></fa-icon>
    </button>

    <div style="position:absolute; right:0; width:4px; height:100vh; z-index: 1000;" (mousemove)="buttonDisplay='1'"
      (mouseleave)="buttonDisplay='0.2'"></div>

    <app-chart *ngIf="_dataService.records.length > 0" [height]="height" [width]="width"></app-chart>
  </mat-sidenav-content>

</mat-sidenav-container>
