#simulation {
  height: 100vh;
}

#simulation #controller {
  width: 320px;
}

#simulation #chart {
  overflow: hidden;
}

.buttonRight {
  right: -20px;
  padding-right: 15px;
  position: absolute;
  z-index: 1000;
  height: 40px;
  width: 40px;
  line-height: 40px !important;
}

::ng-deep .buttonRight .mat-button-wrapper {
  padding: 0 !important;
}
