<mat-menu #spatialMenu="matMenu" class="spatial-menu" overlapTrigger="true" xPosition="before">
  <span class="flex" (click)="$event.stopPropagation();">

    <ng-container *ngIf="showPlot">
      <span style="width:700px; height:500px">
        <plotly-plot
        [data]="data"
        [layout]="layout"
        [style]="{position: 'relative', width: '100%', height: '100%'}"
        [useResizeHandler]="true"
        >
        </plotly-plot>
      </span>
    </ng-container>

    <span style="width:280px">
      <mat-list dense style="padding:0">
        <h3 mat-subheader class="flex">
          <span class="param-label ellipsis" style="line-height:16px">Spatial</span>
          <span class="flex-spacer"></span>
          <span class="simulation-theme">
            <mat-nav-list dense class="flex" style="padding:0" color="primary">
              <mat-list-item (click)="showPlot=!showPlot" [class.active]="showPlot" class="navButton">
                <fa-icon icon="braille"></fa-icon>
              </mat-list-item>
            </mat-nav-list>
          </span>
        </h3>
      </mat-list>

      <mat-list dense style="padding:0">
        <mat-list-item class="list-item">
          <mat-form-field class="form-field">
            <mat-select [(ngModel)]="positionType">
              <mat-option value="grid">Grid positions</mat-option>
              <mat-option value="free">Free positions</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-list-item>
      </mat-list>

      <ng-container [ngSwitch]="positionType">
        <ng-container *ngSwitchCase="'free'">
          <mat-list dense style="padding:0">
            <mat-list-item class="list-item">
                <app-value-slider-inline
                  [(value)]="collection['n']"
                  [options]="_networkConfigService.config['node'].npop"
                  style="width:100%"
                  (valueChange)="genPositions()"
                ></app-value-slider-inline>
            </mat-list-item>
          </mat-list>
        </ng-container>

        <ng-container *ngSwitchCase="'grid'">
          <mat-nav-list dense style="padding: 0">
            <mat-list-item class="list-item">
              <app-value-slider-popup [(value)]="collection.spatial['rows']" [options]="_networkConfigService.config.spatial['rows']" style="width:100%" (valueChange)="genPositions()"></app-value-slider-popup>
            </mat-list-item>
            <mat-list-item class="list-item">
              <app-value-slider-popup [(value)]="collection.spatial['columns']" [options]="_networkConfigService.config.spatial['columns']" style="width:100%" (valueChange)="genPositions()"></app-value-slider-popup>
            </mat-list-item>
          </mat-nav-list>
        </ng-container>
      </ng-container>

      <mat-selection-list dense style="padding:0" (selectionChange)="spatialEvent($event)">
        <mat-list-option class="list-item" value="edge_wrap" [selected]="collection.spatial['edge_wrap']">Wrapped edges</mat-list-option>
      </mat-selection-list>

      <mat-nav-list dense style="padding: 0">
        <mat-list-item class="list-item">
          <app-array-input-popup [(value)]="collection.spatial['center']" [options]="_networkConfigService.config.spatial['center']" style="width:100%" (valueChange)="genPositions()"></app-array-input-popup>
        </mat-list-item>
        <mat-list-item class="list-item">
          <app-array-input-popup [(value)]="collection.spatial['extent']" [options]="_networkConfigService.config.spatial['extent']" style="width:100%" (valueChange)="genPositions()"></app-array-input-popup>
        </mat-list-item>
        <mat-list-item class="list-item">
          <app-array-input-popup [(value)]="collection.spatial['positions']" [options]="_networkConfigService.config.spatial['positions']" style="width:100%"></app-array-input-popup>
        </mat-list-item>

        <mat-list-item class="list-item" (click)="genPositions()">
          Generate positions
        </mat-list-item>
      </mat-nav-list>
    </span>
  </span>
</mat-menu>

<div class="spatial-container flex" [matMenuTriggerFor]="spatialMenu" (click)="plot()">
  <span class="label">Positions</span>
  <span class="flex-spacer"></span>
  <span>{{ collection.spatial.positions.length }}</span>
</div>
