<div class="slider-container" matTooltip="{{ id }}" matTooltipPosition="before">

  <span class="slider-header">
    {{ options.label }}
    <span *ngIf="options.unit">({{ options.unit }})</span>
  </span>

  <div class="slider-content mat-accent">
    <mat-slider thumbLabel class="slider" [ngModel]="value" [min]="options.inputSpec.min" [max]="options.inputSpec.max" [step]="options.inputSpec.step" (change)="onChange($event)" color="primary">
    </mat-slider>
    <mat-form-field class="slider-input" floatLabel="never">
      <input matInput type="number" [ngModel]="value" [defaultValue]="options.value" [placeholder]="options.value" [min]="options.inputSpec.min" [max]="options.inputSpec.max" [step]="options.inputSpec.step" (change)="onChange($event)">
    </mat-form-field>

    <span>
      <mat-menu #valueMenu="matMenu" class="value-menu">
        <button mat-menu-item matTooltip="Default value: {{ options.value }}" matTooltipPosition="before" (click)="setDefaultValue()">
          <span>Set default value</span>
        </button>
        <button mat-menu-item *ngIf="model" matTooltip="Config" matTooltipPosition="before" (click)="openConfigDialog()">
          <span>Configure</span>
        </button>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="valueMenu" class="button">
        <fa-icon icon="ellipsis-v"></fa-icon>
      </button>
    </span>
  </div>

</div>
