.slider-container {
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.slider-header {
  width: 100%;
  position: absolute;
}

.slider-content {
  display: inline-flex;
  width: 100%;
}

.slider-content mat-slider {
  width: 100%;
}

.slider-input {
  width: 50px;
  margin-left: 2px;
}

.slider-container .button {
  display: none;
}

.slider-container:hover .button {
  display: inline;
}

::ng-deep .value-menu .button[mat-menu-item] {
  height: 32px !important;
  line-height: 32px;
}
