<div class="slider-container" matTooltip="{{ id }}" matTooltipPosition="before">
  <span class="slider-header">{{ options.label }} <span *ngIf="options.unit">({{ options.unit }})</span></span>
  <div class="slider-content">
    <mat-slider thumbLabel color="primary" class="slider" [ngModel]="value" [min]="options.viewSpec.min" [max]="options.viewSpec.max" [step]="options.viewSpec.step" (change)="onChange($event)">
    </mat-slider>
    <mat-form-field class="slider-input" floatLabel="never">
      <input matInput type="number" [ngModel]="value" [defaultValue]="options.value" [placeholder]="options.value" [step]="options.viewSpec.step" (change)="onChange($event)">
    </mat-form-field>

    <span>
      <mat-menu #valueMenu="matMenu" class="value-menu">
        <button mat-menu-item matTooltip="Default value: {{ options.value }}"  matTooltipPosition="before" (click)="setDefaultValue()">
          <fa-icon [icon]="faEraser"></fa-icon>
          <span>Set default value</span>
        </button>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="valueMenu" class="button" color="primary">
        <fa-icon [icon]="faEllipsisV"></fa-icon>
      </button>
    </span>
  </div>
</div>
