<div class="node-selection"
  [style.display]="nodeDisplay()"
  [style.border-color]="color()"
  >

  <app-node-toolbar
    (dataChange)="onDataChange($event)"
    (nodeChange)="onNodeChange($event)"
    [(data)]="data"
    [node]="node"
  ></app-node-toolbar>

  <!-- <ng-container *ngIf="!isRecorder()">
    <ng-container *ngIf="!collection.isSpatial()">
      <mat-list dense>
        <mat-list-item style="height:40px;line-height:40px">
          <app-node-param
            (valueChange)="onValueChange($event)"
            [(node)]="node"
            [(value)]="collection.n"
            [data]="data"
            [options]="_networkConfigService.config['node'].npop"
            view="valueSlider"
          ></app-node-param>
        </mat-list-item>
      </mat-list>
    </ng-container>

    <ng-container *ngIf="collection.isSpatial()">
      <mat-nav-list dense>
        <mat-list-item>
          <app-node-spatial [node]="node" [collection]="collection"></app-node-spatial>
        </mat-list-item>
      </mat-nav-list>
    </ng-container>
  </ng-container> -->

  <mat-selection-list dense
    (click)="dataChange.emit(data)"
    [(ngModel)]="node.display"
    >
    <ng-container *ngFor="let param of configModel.params">
      <mat-list-option [value]="param.id" [title]="param.id">
        <span class="flex">
          <span class="ellipsis">{{ param.label | capitalize }}</span>
          <span class="flex-spacer"></span>
          <span class="value">{{ collection.params[param.id] }}</span>
          <span class="unit">{{ param.unit }}</span>
        </span>
      </mat-list-option>
    </ng-container>
  </mat-selection-list>
</div>
