.mat-tree-node {
  min-height: 26px;
  /* height: 26px; */
}

.mat-tree-node button {
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.mat-tree-node button fa-icon {
  font-size: 10px;
}

.mat-tree-node .value {
  text-align: justify;
}
