<mat-menu #inputMenu="matMenu" class="input-menu" overlapTrigger="true">
  <span class="input-container" (click)="$event.stopPropagation();">
    <div class="input-header flex">
      <span class="param-label ellipsis">{{ options.label | capitalize }}</span>
      <span class="flex-spacer"></span>
      <span class="param-unit">{{ options.unit }}</span>
    </div>

    <mat-form-field style="width:calc(100% - 10px); font-size:12px; padding: 0 5px">
      <input
        (change)="onChange($event)"
        [(ngModel)]="value"
        [defaultValue]="options.value"
        [max]="options.max"
        [min]="options.min"
        [placeholder]="options.value"
        [step]="options.step"
        class="input"
        type="number"
      >
    </mat-form-field>
  </span>

</mat-menu>

<span class="param-container flex" [matMenuTriggerFor]="inputMenu">
  <span class="param-label ellipsis">{{ options.label | capitalize }}</span>
  <span class="flex-spacer"></span>
  <span class="param-value ellipsis">{{ value || options.value }}</span>
  <span class="param-unit">{{ options.unit }}</span>
</span>
