<mat-menu #projectMenu="matMenu" class="context-menu">
  <button mat-menu-item
    (click)="selectionList=!selectionList"
    [class.active]="selectionList">
    <fa-icon class="menu-icon" icon="edit"></fa-icon>
    Manage projects
  </button>
  <button mat-menu-item
    (click)="openProjectDialog()">
    <fa-icon class="menu-icon" icon="upload"></fa-icon>
    Upload projects
  </button>
  <button mat-menu-item
    (click)="downloadAllProjects()">
    <fa-icon class="menu-icon" icon="download"></fa-icon>
    Download all projects
  </button>
  <button mat-menu-item
    (click)="app.resetProjectDatabase()">
    <fa-icon class="menu-icon" icon="trash-alt"></fa-icon>
    Reset project database
  </button>
</mat-menu>

<span>
  <mat-toolbar class="navbar" color="primary" style="padding: 0">
    Project
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="projectMenu">
      <fa-icon icon="ellipsis-v"></fa-icon>
    </button>
  </mat-toolbar>

  <mat-nav-list dense style="padding:0">
    <mat-list-item (click)="newProject()">
      <fa-icon class="list-icon" icon="plus"></fa-icon>
      New project
    </mat-list-item>
  </mat-nav-list>

  <mat-list dense style="padding:0">
    <mat-list-item>

      <mat-form-field floatLabel="never" style="width:100%; height:40px">
        <input matInput
          [(ngModel)]="project.name"
          autocomplete="off"
          class="formControl"
          placeholder="Project name"
          type="text" />
        <span matSuffix>
          <button mat-icon-button
            (click)="project.name = ''"
            [style.display]="project.name.length > 0 ? '' : 'none'"
            aria-label="Clear"
            class="button">
            <fa-icon icon="times"></fa-icon>
          </button>
        </span>
      </mat-form-field>

      <button mat-icon-button
        (click)="saveProject()"
        [disabled]="project.isHashEqual() && project.updatedAt !== ''"
        [matTooltip]="project.isHashEqual() && project.updatedAt !== '' ? 'This project is unchanged' : 'Save the current project'"
        class="list-icon">
        <fa-icon icon="save" class="fa-lg"></fa-icon>
      </button>
    </mat-list-item>

    <mat-list-item
      [style.display]="app.projectRevisions.length === 0 ? '' : 'none'"
      class="simulation">
      <span matLine class="flex searchItem">
        <fa-icon class="icon" icon="search"></fa-icon>
        <span style="flex-grow:1">
          <mat-form-field floatLabel="never" style="width:100%">
            <input matInput
              [(ngModel)]="app.view.project.searchTerm"
              autocomplete="off"
              class="formControl"
              placeholder="Search project"
              type="text" />
            <span matSuffix>
              <button mat-icon-button
                (click)="app.view.project.searchTerm = ''"
                [style.display]="app.view.project.searchTerm ? '' : 'none'"
                aria-label="Clear"
                class="button">
                <fa-icon icon="times"></fa-icon>
              </button>
            </span>
          </mat-form-field>
        </span>
      </span>
    </mat-list-item>
  </mat-list>

  <div class="project-theme" style="height: calc(100vh - 160px); overflow: auto">

    <ng-container *ngIf="!selectionList">
      <ng-container *ngIf="app.projectRevisions.length > 0">
        <app-project-revision-list
          [app]="app"
        ></app-project-revision-list>
      </ng-container>

      <ng-container *ngIf="app.projectRevisions.length === 0">
        <app-project-list
          [app]="app"
        ></app-project-list>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="selectionList">
      <app-project-selection
        [app]="app"
      ></app-project-selection>
    </ng-container>

  </div>

  <app-log></app-log>
</span>


<ng-template #empty>
  <input matInput
    class="formControl"
    placeholder="Name of the Project"
    type="text" />
</ng-template>
