:host {
  height: 40px;
  overflow: hidden;
  position: relative;
  width: inherit;
}

.colormap {
  position: absolute;
  width: inherit;

  img {
    width: 100%;
    max-width: 100%;
    height: 8px;
  }
}

mat-form-field {
  width: 60px;
}
