<mat-toolbar class="network-sketch-toolbar">
  Network sketch
</mat-toolbar>

<mat-list dense class="controller-menu light-theme">
  <mat-list-item mat-subheader>
    Node
  </mat-list-item>

  <mat-list-item>
    <mat-form-field style="width:100%">
      <mat-select
        placeholder="Pick a color scheme"
        [(ngModel)]="_networkConfigService.config.color.scheme"
        (selectionChange)="selectScheme($event)"
        style="width:100%">
        <mat-option *ngFor="let scheme of _colorService.schemesKeys()" [value]="scheme">
          {{ scheme }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-list-item>

  <mat-list-item>
    <app-value-slider-inline
      [options]="_networkConfigService.config.sketch.node.radius"
      [(value)]="_networkConfigService.config.sketch.node.radius.value"
      (valueChange)="onValueChange($event)"
    ></app-value-slider-inline>
  </mat-list-item>
  
  <mat-list-item>
    <app-value-slider-inline
      [options]="_networkConfigService.config.sketch.node.strokeWidth"
      [(value)]="_networkConfigService.config.sketch.node.strokeWidth.value"
      (valueChange)="onValueChange($event)"
    ></app-value-slider-inline>
  </mat-list-item>

  <mat-list-item mat-subheader>
    Link
  </mat-list-item>

  <mat-list-item>
    <app-value-slider-inline
      [options]="_networkConfigService.config.sketch.link.width"
      [(value)]="_networkConfigService.config.sketch.link.width.value"
      (valueChange)="onValueChange($event)"
    ></app-value-slider-inline>
  </mat-list-item>
  <mat-list-item>
    <app-value-slider-inline
      [options]="_networkConfigService.config.sketch.link.maxDistance"
      [(value)]="_networkConfigService.config.sketch.link.maxDistance.value"
      (valueChange)="onValueChange($event)"
    ></app-value-slider-inline>
  </mat-list-item>
  <mat-list-item>
    <app-value-slider-inline
      [options]="_networkConfigService.config.sketch.link.opacity"
      [(value)]="_networkConfigService.config.sketch.link.opacity.value"
      (valueChange)="onValueChange($event)"
    ></app-value-slider-inline>
  </mat-list-item>
  <mat-list-item>
    <app-value-slider-inline
      [options]="_networkConfigService.config.sketch.link.terminusOpacity"
      [(value)]="_networkConfigService.config.sketch.link.terminusOpacity.value"
      (valueChange)="onValueChange($event)"
    ></app-value-slider-inline>
  </mat-list-item>
  <mat-list-item>
    <app-value-slider-inline
      [options]="_networkConfigService.config.sketch.link.ellipticalArc"
      [(value)]="_networkConfigService.config.sketch.link.ellipticalArc.value"
      (valueChange)="onValueChange($event)"
    ></app-value-slider-inline>
  </mat-list-item>
  <mat-list-item>
    <app-value-slider-inline
      [options]="_networkConfigService.config.sketch.link.xAxisRotation"
      [(value)]="_networkConfigService.config.sketch.link.xAxisRotation.value"
      (valueChange)="onValueChange($event)"
    ></app-value-slider-inline>
  </mat-list-item>
</mat-list>
