<mat-card class="chart" [style.display]="_chartService.show ? '' : 'none'">
  <mat-card-subtitle class="chart-header">
    <span style="margin:5px">Trace chart for:</span>
    <mat-chip-list style="margin: 0 2px;">
      <span class="theme-{{colors[neuron.idx % colors.length][1]}}" *ngFor="let neuron of neurons">
        <mat-chip class="neuron mat-accent" (click)="_chartService.select(neuron)" selected="true" [class.colored]="_chartService.isSelected(neuron)" [class.selected]="_sketchService.isSelectedNode(neuron)">
          <!-- <span style="margin-right:3px">{{ neuron.model }}</span> -->
          <span *ngIf="neuron.global_ids.length==1">[{{neuron.global_ids}}]</span>
          <span *ngIf="neuron.global_ids.length>1">[{{neuron.global_ids[0]}}..{{neuron.global_ids[neuron.global_ids.length-1]}}]</span>
        </mat-chip>
      </span>
      <mat-chip class="mat-accent" selected="true" (click)="selectAll()">all</mat-chip>
      <mat-chip class="mat-accent" selected="true" (click)="selectNone()">none</mat-chip>
    </mat-chip-list>

    <span class="theme-{{color[1]}} floatRight" style="display:flex">
      <div class="no-print">
        <button mat-icon-button type="button" (click)="sidenavOpened=!sidenavOpened" class="mat-primary">
          <fa-icon icon="bars"></fa-icon>
        </button>
      </div>

      <button mat-icon-button class="node" [style.border-color]="colors[recorder.idx % colors.length][0]" [class.selected]="_sketchService.isSelectedNode(recorder)" (click)="_sketchService.toggleSelectNode(recorder)">
        {{ recorder.idx }}
      </button>
    </span>
  </mat-card-subtitle>

  <mat-card-content>
    <mat-sidenav-container hasBackdrop="false">
      <mat-sidenav class="chart-sidenav" role="region" mode="over" [opened]="sidenavOpened" position="end" style="width:345px" autoFocus="false">
        <mat-list class="chart-menu theme-{{color[1]}}" dense>
          <mat-list-item mat-subheader>Chart configuration</mat-list-item>

          <mat-list-item>
            <mat-form-field class="select">
              <mat-select [(value)]="chart" placeholder="Chart type">
                <mat-option value="line" [style.color]="chart=='line' ? color[0] : 'black'">Line chart</mat-option>
                <mat-option value="area" [style.color]="chart=='area' ? color[0] : 'black'">Area chart</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-list-item>

          <mat-list-item>
            <mat-slide-toggle *ngIf="overlap<1" [checked]="autofocus" (change)="onAutofocus($event)" color="primary">Autofocus</mat-slide-toggle>
          </mat-list-item>

          <mat-list-item>
            <app-value-slider
              (valueChange)="onChange('overlap', $event)"
              [options]="_configService.config.app.slider.overlap"
              [value]="overlap"
            ></app-value-slider>
          </mat-list-item>

          <mat-list-item>
            <app-value-slider
              (valueChange)="opacity=$event"
              [options]="_configService.config.app.slider.opacity"
              [value]="opacity"
            ></app-value-slider>
          </mat-list-item>

          <mat-list-item *ngIf="autofocus">
            <app-value-slider
              (valueChange)="opacityFocus=$event"
              [options]="_configService.config.app.slider.opacity_focus"
              [value]="opacityFocus"
            ></app-value-slider>
          </mat-list-item>

        </mat-list>
      </mat-sidenav>

      <mat-sidenav-content class="chart-content">
        <app-line-chart *ngIf="chart=='line'"
          [autofocus]="autofocus"
          [data]="data"
          [height]="height"
          [opacity]="opacity"
          [opacityFocus]="opacityFocus"
          [options]="options"
          [xDomain]="xDomain"
          [xScale]="_chartService.xScale"
          [yDomain]="yDomain"
          [yScale]="yScale"
          xLabel="Time [ms]"
          yLabel="Voltage [mV]"
        ></app-line-chart>

        <app-area-chart *ngIf="chart=='area'"
          [autofocus]="autofocus"
          [data]="data"
          [height]="height"
          [opacity]="opacity"
          [opacityFocus]="opacityFocus"
          [options]="options"
          [xDomain]="xDomain"
          [xScale]="_chartService.xScale"
          [yDomain]="yDomain"
          [yScale]="yScale"
          xLabel="Time [ms]"
          yLabel="Voltage [mV]"
        ></app-area-chart>
      </mat-sidenav-content>

    </mat-sidenav-container>
  </mat-card-content>
</mat-card>
