<mat-toolbar class="chart-header" [style.height]="_chartService.top + 'px'" [style.line-height]="_chartService.top + 'px'">
  <span style="margin-right:10px">Trace chart for:</span>
  <ng-container *ngFor="let neuron of neurons">
    <svg width="40" height="40">
      <g app-node [node]="neuron" (nodeClick)="_chartService.select(neuron)" transform="translate(20,20)"></g>
    </svg>
  </ng-container>
  <span class="flex-spacer"></span>
  <div class="no-print">
    <button mat-icon-button type="button" (click)="_chartService.sidenavOpened=!_chartService.sidenavOpened" [class.mat-primary]="_chartService.sidenavOpened">
      <fa-icon icon="bars"></fa-icon>
    </button>
  </div>
  <svg width="40" height="40">
    <g app-node [node]="recorder" (nodeClick)="_sketchService.selectNode(recorder)" transform="translate(20,20)"></g>
  </svg>
</mat-toolbar>

<div class="chart">
  <mat-sidenav-container hasBackdrop="false" autosize>
    <mat-sidenav #controller class="chart-sidenav" role="region" mode="side" [opened]="_chartService.sidenavOpened" position="end" style="width:320px" autoFocus="false" (openedChange)="rescaleX()">
      <ng-container *ngIf="record.record_from">
        <mat-list dense>
          <mat-list-item>
            <mat-form-field class="select">
              <mat-select [(ngModel)]="record_from" placeholder="Record from" (selectionChange)="init()">
                <mat-option *ngFor="let rec of record.record_from" [value]="rec">{{ _controllerConfigService.config.label[rec].label | capitalize }}</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-list-item>
        </mat-list>
      </ng-container>

      <mat-tab-group mat-stretch-tabs [(selectedIndex)]="_chartService.selectedIndex">

        <mat-tab label="Statistics">
          <!-- <mat-toolbar style="font-size:13px" class="mat-accent">
            Statistics of the {{ _controllerConfigService.config.label[record_from].label }}
            </mat-toolbar> -->

          <div [style.height]="(height - _chartService.top - (recorder.record_from ? 164 : 120)) + 'px'">
            <mat-table [dataSource]="dataStats">

              <ng-container matColumnDef="sender">
                <mat-header-cell *matHeaderCellDef> Sender </mat-header-cell>
                <mat-cell *matCellDef="let element" (mouseover)="sender=element.sender" [style.color]="element.color">{{ element.sender }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="min">
                <mat-header-cell *matHeaderCellDef> Min </mat-header-cell>
                <mat-cell *matCellDef="let element" (mouseover)="sender=element.sender"> {{ element.min | format }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="max">
                <mat-header-cell *matHeaderCellDef> Max </mat-header-cell>
                <mat-cell *matCellDef="let element" (mouseover)="sender=element.sender"> {{ element.max | format }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="mean">
                <mat-header-cell *matHeaderCellDef> &mu;
                  <!-- <span *ngIf="_controllerConfigService.config.label[record_from].unit">&nbsp;[{{ _controllerConfigService.config.label[record_from].unit }}]</span> -->
                </mat-header-cell>
                <mat-cell *matCellDef="let element" (mouseover)="sender=element.sender"> {{ element.mean | format }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="std">
                <mat-header-cell *matHeaderCellDef> &sigma;
                  <!-- <span *ngIf="_controllerConfigService.config.label[record_from].unit">&nbsp;[{{ _controllerConfigService.config.label[record_from].unit }}]</span> -->
                </mat-header-cell>
                <mat-cell *matCellDef="let element" (mouseover)="sender=element.sender"> {{ element.std | format }} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div>

        </mat-tab>

        <mat-tab label="Configuration">
          <!-- <mat-toolbar style="font-size:13px" class="mat-accent">Configuration of the trace chart</mat-toolbar> -->

          <mat-list class="chart-menu" dense style="margin: 5px 0">

            <mat-list-item>
              <mat-form-field class="select">
                <mat-select [(value)]="chart" placeholder="Chart type">
                  <mat-option value="line">Line chart</mat-option>
                  <mat-option value="area">Area chart</mat-option>
                </mat-select>
              </mat-form-field>
            </mat-list-item>

            <mat-list-item *ngIf="senders.length>1">
              <app-ticks-slider
                (valueChange)="sender=$event"
                [options]="senderConfig"
                [value]="sender"
                style="width:100%"
              ></app-ticks-slider>
            </mat-list-item>

            <mat-list-item *ngIf="senders.length>1">
              <app-value-slider
                (valueChange)="opacity=$event"
                [options]="_chartConfigService.config.slider.opacity"
                [value]="opacity"
                style="width:100%"
              ></app-value-slider>
            </mat-list-item>

            <mat-list-item *ngIf="senders.length>1">
              <app-value-slider
                (valueChange)="overlap=$event"
                [options]="_chartConfigService.config.slider.overlap"
                [value]="overlap"
                style="width:100%"
              ></app-value-slider>
            </mat-list-item>

          </mat-list>

          <mat-selection-list dense (selectionChange)="onSelectionChange($event)">
            <mat-list-option [selected]="_chartConfigService.config.autoColor" value="autoColor">
              <span>Colorize chart</span>
            </mat-list-option>
            <mat-list-option [selected]="_chartConfigService.config.resetScale" value="resetScale">
              <span>Reset scale after simulation</span>
            </mat-list-option>
          </mat-selection-list>
        </mat-tab>

      </mat-tab-group>

    </mat-sidenav>

    <mat-sidenav-content class="chart-content">
      <app-line-chart *ngIf="chart=='line'"
        [data]="data"
        [height]="height - _chartService.top"
        [idx]="senders.indexOf(sender)"
        [margin]="_chartService.g"
        [opacity]="opacity"
        [overlap]="overlap"
        [width]="width - right"
        [xDomain]="xDomain"
        [xLabel]="xLabel"
        [yDomain]="yDomain"
        [yLabel]="yLabel"
        [yScale]="yScale"
      ></app-line-chart>

      <app-area-chart *ngIf="chart=='area'"
        [data]="data"
        [height]="height - _chartService.top"
        [idx]="senders.indexOf(sender)"
        [margin]="_chartService.g"
        [opacity]="opacity"
        [overlap]="overlap"
        [width]="width - right"
        [xDomain]="xDomain"
        [xLabel]="xLabel"
        [yDomain]="yDomain"
        [yLabel]="yLabel"
        [yScale]="yScale"
      ></app-area-chart>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
