<div class="controller link-controller"
  [style.border-left-color]="color('source')"
  [style.border-right-color]="color('target')"
  [style.display]="linkDisplay()"
  >

  <app-link-toolbar [(data)]="data" [link]="link"></app-link-toolbar>

  <ng-container [ngSwitch]="hasProjections()">
    <ng-container *ngSwitchCase="true">
      <app-link-projections
        (connectomeChange)="onConnectomeChange($event)"
        [(connectome)]="connectome"
        [link]="link"
        ></app-link-projections>
    </ng-container>

    <ng-container *ngSwitchCase="false">

      <ng-container *ngIf="connectome.hasOwnProperty('src_idx')">
        <mat-list dense>
          <mat-list-item>
            <app-array-input-popup
              [(value)]="connectome['src_idx']"
              [options]="srcIdxOptions"
              style="width:100%"
            ></app-array-input-popup>
          </mat-list-item>
        </mat-list>
      </ng-container>

      <ng-container *ngIf="connectome.hasOwnProperty('tgt_idx')">
        <mat-list dense>
          <mat-list-item>
            <app-array-input-popup
              [(value)]="connectome['tgt_idx']"
              [options]="tgtIdxOptions"
              style="width:100%"
            ></app-array-input-popup>
          </mat-list-item>
        </mat-list>
      </ng-container>

      <ng-container *ngIf="!connectSpikeDetector()">
        <mat-list dense>
          <ng-container *ngIf="!connectome.hasOwnProperty('src_idx') && !connectome.hasOwnProperty('tgt_idx')">
            <mat-list-item>
              <app-select
                (selectedChange)="onRuleSelect($event)"
                [(selected)]="connectome.conn_spec.rule"
                [options]="connRules"
              ></app-select>
            </mat-list-item>
          </ng-container>

          <ng-container *ngFor="let conn of slider.connection">
            <mat-list-item
              [style.display]="paramDisplay('conn_spec.' + conn.id) ? '' : 'none'">
              <app-link-param
                [random]="false"
                (valueChange)="onValueChange($event)"
                [(value)]="connectome.conn_spec[conn.id]"
                [options]="conn"
              ></app-link-param>
            </mat-list-item>
          </ng-container>
        </mat-list>
      </ng-container>

      <ng-container *ngIf="!connectRecorder()">
        <mat-list dense>
          <mat-list-item>
            <app-select
              (selectedChange)="onModelSelect($event)"
              [(selected)]="connectome.syn_spec['model']"
              [options]="synModels"
            ></app-select>
          </mat-list-item>
        </mat-list>

        <mat-list dense>
          <ng-container *ngFor="let syn of slider.synapse">
            <mat-list-item
              [style.display]="paramDisplay('syn_spec.' + syn.id) ? '' : 'none'">
              <app-link-param
                [random]="false"
                (valueChange)="onValueChange($event)"
                [(value)]="connectome.syn_spec[syn.id]"
                [options]="syn"
              ></app-link-param>
            </mat-list-item>
          </ng-container>
        </mat-list>
      </ng-container>
    </ng-container>

  </ng-container>

</div>
