<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href='../dist/css/main.css'></link>
    <title>Nest desktop application</title>
</head>

<body>
    <div id="message"></div>

    <!-- <div id="login" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="login-form">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="password">Name:</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password">
                        </div>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal" id="login-submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div> -->

    <div class="container-fluid">
        <div class="pull-right">

            <div class="btn-group hide">
                <button class="btn btn-default navbar-bin dropdown-toggle" type="button" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="./tests/lineChart.html">Line chart</a></li>
                    <li><a href="./tests/scatterChart.html">Scatter chart</a></li>
                    <li><a href="./tests/heatmapChart.html">Heatmap chart</a></li>
                </ul>
            </div>
            <span id="user"></span>
            <!-- <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#login">
                <span class="glyphicon glyphicon-user"></span>
            </button>
            <button type="button" class="btn btn-default" id="logout" style="display:none">
                <span class="glyphicon glyphicon-log-out"></span>
            </button> -->


            <button type="button" class="btn btn-default navbar-btn" onclick="window.close()">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
    </div>

    <div class="container">
        <div id="message" class="alert alert-dismissible fade in" role="alert" style="display:none; position:absolute; width:auto; top:10px"></div>

        <div class="jumbotron">
            <h1>NEST desktop</h1>
            <p>
                A desktop application for the NEural Simulation Tool. (<a href="http://www.nest-simulator.org/">http://www.nest-simulator.org/</a>)
            </p>
            <p class="hide">
                <a class="btn btn-primary btn-lg" href="https://www.npmjs.com/package/nest-desktop" role="button">Learn more</a>
            </p>
        </div>
    </div>
    </div>
    <div id="jumbotron-bg"></div>

    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <a href="./neuronal_state_activity.html" class="thumbnail network" id="neuronal_state_activity">
                    <div style="position:absolute; z-index:10">
                        <button class="btn btn-default" type="button">
                            Neuronal state activity <span class="badge"></span>
                        </button>
                    </div>
                    <img src="../dist/img/neuronal-state-activity.png" alt="neuronal state activity" style="opacity:.1">
                </a>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <a href="./spike_activity.html" class="thumbnail network" id="spike_activity">
                    <div style="position:absolute; z-index:10">
                        <button class="btn btn-default" type="button">
                            Spike activity <span class="badge"></span>
                        </button>
                    </div>
                    <img src="../dist/img/spike-activity.png" alt="spike activity" style="opacity:.1">
                </a>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <a href="./bump_activity.html" class="thumbnail network" id="bump_activity">
                    <div style="position:absolute; z-index:10">
                        <button class="btn btn-default" type="button">
                            Bump activity <span class="badge"></span>
                        </button>
                    </div>
                    <img src="../dist/img/bump-activity.png" alt="bump activity" style="opacity:.1">
                </a>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <a href="./bump_activity_heatmap.html" class="thumbnail network" id="bump_activity_heatmap">
                    <div style="position:absolute; z-index:10">
                        <button class="btn btn-default" type="button">
                            Bump activity (heatmap) <span class="badge"></span>
                        </button>
                    </div>
                    <img src="../dist/img/bump-activity-heatmap.png" alt="bump activity" style="opacity:.1">
                </a>
            </div>
        </div>
    </div>

</body>

<script>
    window.jQuery = window.$ = require('jquery');
    require('bootstrap');
    const shell = require("electron").shell;
    // const auth = require('../src/auth');
    const sync = require('../src/store/sync');
    const q = require('../src/store/query');
    const req = require('../src/simulation/request');
    var config = require('../src/config').global();

    window.serverRunning = false;
    req.server_check()

    function update_network() {

        $('#user').html('Hi, ' + (config.get('user').name || 'guest'))
        $('.network').each(function() {
            const n = $(this)
            q.filter_by_nest_app(this.id).then(function(response) {
                n.find('.badge').html(response.length)
                n.find('img').attr('style', 'opacity:1.0')
            })
        })
    }
    update_network()

    $(document).on('click', 'a[href^="http"]', function(event) {
        event.preventDefault();
        shell.openExternal(this.href);
    });

    // $('#login-submit').on('click', function(e) {
    //     var name = $('#login-form #name').val()
    //     var password = $('#login-form #password').val()
    //     auth.login(name, password, true)
    //     setTimeout(sync.on, 200)
    //     setTimeout(update_network, 500)
    // })
    //
    // $('#logout').on('click', function(e) {
    //     auth.logout(true)
    //     setTimeout(update_network, 500)
    // })
</script>

</html>
