<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../node_modules/bootstrap-slider/dist/css/bootstrap-slider.min.css" />
    <link rel="stylesheet" href='../dist/css/line-chart.css'></link>
    <link rel="stylesheet" href='../dist/css/main.css'></link>
    <title>NEST desktop: neuronal activity</title>
</head>

<body>
    <div id="controller" class="container pull-right">
        <div class="pull-right">
            <button type="button" class="btn btn-default navbar-btn" onclick="$('#controller-body').toggle()">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
        </div>
        <h3 div="page-header"><a href="../index.html">NEST desktop</a></h3>

        <div id="controller-body">
            <div id="controller-panel" class="panel panel-default">
                <div class="panel-body">
                    <div id="level">
                        <dl class="params"></dl>
                    </div>

                    <hr>
                    <div id="input" class="model">
                        <select id="id_input" class="form-control model_select">
                            <option value="" disabled selected hidden>Select an input device</option>
                        </select>
                        <dl class="params"></dl>
                    </div>

                    <hr>
                    <div id="neuron" class="model">
                        <select id="id_neuron" class="form-control model_select">
                            <option value="" disabled selected hidden>Select a neuron model</option>
                        </select>
                        <dl class="params"></dl>
                    </div>

                    <hr>
                    <div id="npop">
                        <dl class="params"></dl>
                    </div>

                    <div id="outdegree">
                        <dl class="params"></dl>
                    </div>

                    <div id="record" class="model" style="display:none">
                        <div class="form-group">
                            <label for="id_record">Record from</label>
                            <select id="id_record" class="form-control"></select>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="chart"></div>
    <script>
        $ = require("jquery");
        var nodes, data, chart, times, values;
        require("../src/neuronal-activity.js");
    </script>
</body>

</html>
