<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../node_modules/bootstrap-slider/dist/css/bootstrap-slider.min.css" />
    <link rel="stylesheet" href='../dist/css/line-chart.css'></link>
    <link rel="stylesheet" href='../dist/css/main.css'></link>
    <title>NEST desktop: neuronal activity</title>
</head>

<body>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <form id="network-add-form">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="network-name" class="control-label">Network:</label>
                            <input type="text" class="form-control" id="network-name" placeholder="name">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal" id="network-add-submit">Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div id="controller" class="container pull-right">
        <div class="pull-right dropdown">
            <a type="button" class="btn btn-default navbar-btn" href="../index.html">
                <span class="glyphicon glyphicon-menu-glyphicon glyphicon-home"></span>
            </a>
            <button type="button" class="btn btn-default navbar-btn" id="network-add" data-toggle="modal" data-target="#myModal" disabled>
                <span class="glyphicon glyphicon-menu-glyphicon glyphicon-save"></span>
            </button>
            <button type="button" class="btn btn-default dropdown-toggle" id="get-network-list" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="glyphicon glyphicon-menu-glyphicon glyphicon-open"></span>
            </button>
            <button type="button" class="btn btn-default navbar-btn" onclick="$('#controller-body').toggle()">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
            <button type="button" class="btn btn-default navbar-btn" onclick="window.close()">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <ul id="network-list" class="dropdown-menu dropdown-menu-right" aria-labelledby="get-network-list"></ul>
        </div>

        <div id="controller-body" class="pull-right">
            <div id="controller-panel" class="panel panel-default">
                <div class="panel-body">
                    <div id="simtime">
                        <dl class="params"></dl>
                    </div>

                    <div id="grng_seed">
                        <dl class="params"></dl>
                    </div>

                    <hr>
                    <div id="input" class="model" nidx="1">
                        <select id="id_input" class="form-control modelSelect">
                            <option value="" disabled selected hidden>Select an input device</option>
                        </select>
                        <dl class="params"></dl>
                    </div>

                    <hr>
                    <div id="neuron" class="model" nidx="0">
                        <select id="id_neuron" class="form-control modelSelect">
                            <option value="" disabled selected hidden>Select a neuron model</option>
                        </select>
                        <dl class="params">
                        </dl>

                        <hr>
                        <div id="npop">
                            <dl class="params"></dl>
                        </div>

                        <div id="outdegree" class="hide">
                            <dl class="params"></dl>
                        </div>

                        <div id="record" class="model" style="display:none">
                            <div class="form-group">
                                <label for="id_record">Record from</label>
                                <select id="id_record" class="form-control"></select>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="chart"></div>
    <script>
        var $ = require('jquery');
        var data, chart;
        var selected_node, selected_link;
        require("../src/neuronal-state-activity.js");
    </script>
</body>

</html>
