<mat-menu #paramMenu="matMenu" class="param-menu">
  <button mat-menu-item (click)="setDefaultValue()">Set default value: {{ options.value }} {{ options.unit }}</button>
  <button mat-menu-item *ngIf="model" (click)="openConfigDialog()">Configure</button>
</mat-menu>

<mat-menu #sliderMenu="matMenu" class="param-slider-menu auto" overlapTrigger="true" xPosition="before" (click)="$event.stopPropagation();">
  <span class="flex">
    <ng-container *ngIf="showPlot && data.length > 0">
      <span style="width:700px">
        <plotly-plot [data]="data" [layout]="layout" [config]="config"></plotly-plot>
      </span>
    </ng-container>

    <span style="width:280px">


      <span class="slider-container" (click)="$event.stopPropagation();">
        <mat-list dense>
          <h3 mat-subheader class="flex">
            <span class="param-label ellipsis" style="line-height:16px">{{ options.label | capitalize }}</span>
            <span class="flex-spacer"></span>
            <span class="simulation-theme">
              <mat-nav-list dense class="flex" style="padding:0" color="primary">
                <mat-list-item (click)="selectFunctionType('pdf')" [class.active]="functionType=='pdf'" class="navButton">
                  <span style="width:32px">PDF</span>
                </mat-list-item>
                <mat-list-item (click)="selectFunctionType('cdf')" [class.active]="functionType=='cdf'" class="navButton">
                  <span style="width:32px">CDF</span>
                </mat-list-item>
                <mat-list-item (click)="showPlot=!showPlot" [class.active]="showPlot" class="navButton">
                  <fa-icon icon="chart-line"></fa-icon>
                </mat-list-item>
              </mat-nav-list>
            </span>
          </h3>
        </mat-list>
        <!-- <div class="slider-header flex">
          <span class="param-label ellipsis">{{ options.label | capitalize }}</span>
          <span class="flex-spacer"></span>
          <span>
            <mat-nav-list dense style="display:flex; padding:0; width:100%">
              <mat-list-item (click)="selectFunctionType('pdf')" [class.active]="functionType=='pdf'" class="navButton">
                <span style="padding:0 6px;">PDF</span>
              </mat-list-item>
              <mat-list-item (click)="selectFunctionType('cdf')" [class.active]="functionType=='cdf'" class="navButton">
                <span style="padding:0 6px;">CDF</span>
              </mat-list-item>
              <mat-list-item (click)="showPlot=!showPlot" [class.active]="showPlot" class="navButton">
                <fa-icon icon="chart-line"></fa-icon>
              </mat-list-item>
            </mat-nav-list>
          </span>
        </div> -->

        <mat-list dense>
          <mat-list-item>
            <app-select-optgroup [selected]="selectedParameterType.value" [options]="parameterTypes" (selectedChange)="onSelectedChange($event)"></app-select-optgroup>
          </mat-list-item>

          <ng-container *ngFor="let spec of selectedParameterType.specs">
            <mat-list-item>
              <app-value-slider-inline [id]="spec" [value]="isObject(value) ? value.specs[spec] : paramSpecs[spec].value" [options]="paramSpecs[spec]" (valueChange)="onValueChange(spec, $event)" class="slider"></app-value-slider-inline>
            </mat-list-item>
          </ng-container>
        </mat-list>

      </span>
    </span>
  </span>
</mat-menu>

<span class="param-container flex" [matMenuTriggerFor]="sliderMenu">
  <span class="param-label ellipsis" matTooltip="{{ options.label | capitalize }}" matTooltipPosition="before">{{ options.label | capitalize }}</span>
  <span class="flex-spacer"></span>
  <span>
    <ng-container *ngIf="value!=undefined; else elseOptionValue">
      <ng-container *ngIf="isObject(value); else elseValue">
        <ng-container *ngIf="value.parametertype!='constant'; else elseParamValue">
          {{ value.parametertype | capitalize }}
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-template #elseValue>{{ value }}</ng-template>
    <ng-template #elseParamValue>{{ value.specs.value }}</ng-template>
    <ng-template #elseOptionValue>{{ options.value }}</ng-template>
  </span>
  <ng-container *ngIf="!isObject(value) || value.parametertype == 'constant'">
    <span class="param-unit">
      {{ options.unit }}
    </span>
  </ng-container>
</span>
