<mat-selection-list dense (selectionChange)="changeParam($event)" [disabled]="!modelService.hasModel()">
  <mat-list-item style="font-weight:bold">
    <span class="flex">
      <span>Parameter</span>
      <span class="flex-spacer"></span>
      <span>Value</span>
    </span>
  </mat-list-item>

  <ng-container *ngFor="let param of objectKeys(modelService.defaults)">
    <mat-list-option [selected]="hasParam(param)" [value]="{'id': param, 'value':  modelService.defaults[param]}" class="item">
      <span class="flex">
        <span>{{ param }}</span>
        <span class="flex-spacer"></span>
        <span class="description">
          {{ modelService.defaults[param] }}
        </span>
      </span>
    </mat-list-option>
  </ng-container>
</mat-selection-list>
