.network-container {
  height: calc(100vh - 40px);
}

.network-sidenav {
  height: calc(100vh - 40px);
  width: 338px;
}

.network-content {
  height: calc(100vh - 40px);
  overflow: hidden;
}

.network-controller {
  padding: 0;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12)
}
