.network-container {
  height: calc(100vh - 40px);
}

.network-sidenav {
  height: calc(100vh - 40px);
  width: 321px;
}

.network-content {
  height: calc(100vh - 40px);
  overflow: hidden;
}

.network-controller {
  padding: 0;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12)
}

::ng-deep .selection .mat-list {
  padding: 0 8px;
}

::ng-deep .selection .mat-list-item-content {
  padding: 0 8px !important;
}

::ng-deep .selection .mat-list-option .mat-list-text {
  padding-right: 5px !important;
}
