<!-- <app-svg-area-chart *ngIf="chart.includes('area')"
  [data]="psth"
  [height]="height"
  [opacity]="opacity"
  [options]="options"
  [xDomain]="xDomain"
  [xScale]="xScale"
  [yDomain]="yDomain"
  [yLabel]="yLabel()"
  [yScale]="yScale"
  xLabel="Time [ms]"
></app-svg-area-chart> -->

<app-area-chart *ngIf="chart.includes('area')"
  [data]="psth"
  [height]="height"
  [opacity]="opacity"
  [options]="options"
  [xDomain]="xDomain"
  [xScale]="_chartService.xScale"
  [yDomain]="yDomain"
  [yLabel]="yLabel()"
  [yScale]="yScale"
  xLabel="Time [ms]"
></app-area-chart>
<app-line-chart *ngIf="chart.includes('line')"
  [data]="psth"
  [height]="height"
  [opacity]="opacity"
  [options]="options"
  [xDomain]="xDomain"
  [xScale]="xScale"
  [yDomain]="yDomain"
  [yLabel]="yLabel()"
  [yScale]="yScale"
  xLabel="Time [ms]"
></app-line-chart>
<app-svg-bar-chart *ngIf="chart.includes('bar')"
  [data]="psth"
  [height]="height"
  [opacity]="opacity"
  [options]="options"
  [xDomain]="xDomain"
  [xScale]="xScale"
  [yDomain]="yDomain"
  [yLabel]="yLabel()"
  [yScale]="yScale"
  xLabel="Time [ms]"
></app-svg-bar-chart>
