<mat-menu #contextMenu="matMenu"class="context-menu">
  <ng-container *ngIf="contextMenuData.node">
    <app-node-menu
      [node]="contextMenuData.node"
      class="node-menu"
    ></app-node-menu>
  </ng-container>

  <ng-container *ngIf="contextMenuData.connection">
    <app-connection-menu
      [connection]="contextMenuData.connection"
      class="connection-menu"
    ></app-connection-menu>
  </ng-container>
</mat-menu>

<div style="visibility: hidden; position: fixed"
  [matMenuTriggerFor]="contextMenu"
  [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y"
></div>


<span
  class="network-sketch-container"
  [style.width]="width + 'px'"
  [style.height]="height + 'px'">

  <svg appContextMenuTrigger
    (mouseenter)="onSVGEnter($event)"
    (mouseover)="onSVGOver($event)"
    (mouseleave)="onSVGLeave($event)"
    [attr.height]="(height-12) + 'px'"
    [attr.width]="(width-10) + 'px'"
    class="network-sketch">

    <g app-background-sketch
      [network]="network"
      [eventTrigger]="eventTrigger"
      [height]="(height-12)"
      [width]="(width-10)"
      transform="translate(1,1)"
    ></g>

    <ng-container *ngFor="let connection of network.connections">
      <g app-connection-sketch
        (click)="network.view.resetFocus()"
        (contextmenu)="onContextMenu($event, null, connection)"
        (mouseenter)="connection.view.focus()"
        [connection]="connection"
        transform="translate(1,1)"
      ></g>
    </ng-container>

    <svg:g>
      <svg:path
        class="dragline"
        d="M0,0L0,0"
        stroke-linecap="round"
        [style.display]="viewDragline ? '' : 'none'"
        >
      </svg:path>
      <svg:path
        class="dragline mask"
        d="M0,0L0,0"
        [style.display]="viewDragline ? '' : 'none'"
        >
      </svg:path>
    </svg:g>

    <ng-container *ngFor="let node of network.nodes">
      <g app-node-sketch
        (click)="network.view.resetFocus()"
        (contextmenu)="onContextMenu($event, node, null)"
        (mouseenter)="onNodeEnter($event, node)"
        [dragable]="eventTrigger"
        [eventTrigger]="eventTrigger"
        [height]="(height-12)"
        [node]="node"
        [width]="(width-10)"
        transform="translate(1,1)"
        ></g>
    </ng-container>

    <svg:g class="select-panel">
      <svg:g
        class="tooltip"
        style="visibility:hidden;"
        transform="translate(0, -45)">
        <svg:rect fill="white" fill-opacity="0.75" width="50" height="12" transform="translate(-25,-10)"></svg:rect>
        <svg:text class="label"></svg:text>
      </svg:g>
    </svg:g>
  </svg>

  <ng-container *ngIf="eventTrigger">
    <span style="position:absolute; left:10px; bottom:10px; display:flex; line-height:40px; height:40px">
      <button mat-icon-button
        (click)="network.empty();"
        [disabled]="network.isEmpty()"
        matTooltip="Erase network"
        matTooltipPosition="above">
        <fa-icon icon="eraser"></fa-icon>
      </button>
      <button mat-icon-button
        (click)="network.oldest()"
        [disabled]="countBefore() <= 0"
        matTooltip="Go to oldest network"
        matTooltipPosition="above">
        <fa-icon icon="step-backward"></fa-icon>
      </button>
      <button mat-icon-button
        (click)="network.older()"
        [disabled]="countBefore() <= 0"
        [matBadge]="countBefore()"
        [matBadgeHidden]="countBefore() <= 0"
        matBadgeSize="small"
        matTooltip="Go to older network"
        matTooltipPosition="above">
        <fa-icon icon="undo"></fa-icon>
      </button>
      <button mat-icon-button
        (click)="network.newer()"
        [disabled]="countAfter() <= 0"
        [matBadge]="countAfter()"
        [matBadgeHidden]="countAfter() <= 0"
        matBadgeSize="small"
        matTooltip="Go to newer network"
        matTooltipPosition="above">
        <fa-icon icon="redo"></fa-icon>
      </button>
      <button mat-icon-button
        (click)="network.newest()"
        [disabled]="countAfter() <= 0"
        matTooltip="Go to newest network"
        matTooltipPosition="above">
        <fa-icon icon="step-forward"></fa-icon>
      </button>
      <!-- <button mat-icon-button
        (click)="network.project.reload()"
        matTooltip="Reload project"
        matTooltipPosition="above">
        <fa-icon icon="redo"></fa-icon>
      </button> -->
    </span>
  </ng-container>

<span>
