.protocol .button {
  display: none;
  height: 38px;
  line-height: 38px;
  width: 38px;
}

::ng-deep .protocol .mat-list-item-content:hover .button {
  display: inline;
}

::ng-deep .protocol.active, .protocol.active:focus, .protocol.active:hover {
  background-color: #3366ff;
  color: white !important;
}

::ng-deep .protocol.active .button {
  display: inline;
}

.protocol .button fa-icon {
  font-size: 12px;
}
