<button mat-icon-button (click)="onClick($event)">
  <fa-icon
    class="fa-lg"
    icon="wrench"
    [style.opacity]="app.isConfigReady() ? 1 : 0"
    [class.green]="app.isConfigValid()"
    [class.red]="!app.isConfigValid()"
  ></fa-icon>
</button>

<button mat-icon-button (click)="onClick($event)">
  <fa-icon
    class="fa-lg"
    icon="database"
    [class.green]="app.isDatabaseValid()"
    [class.red]="!app.isDatabaseValid()"
    [style.opacity]="app.isDatabaseReady() ? 1 : 0.5"
  ></fa-icon>
</button>

<button mat-icon-button (click)="onClick($event)">
  <fa-icon
    class="fa-lg"
    icon="server"
    [class.green]="app.nestServer.state.simulatorValid"
    [class.red]="!app.nestServer.state.simulatorValid"
    [style.opacity]="app.nestServer.state.serverReady ? 1 : 0.5"
  ></fa-icon>
</button>
