<button mat-icon-button (click)="onClick($event)">
  <fa-icon
    class="fa-lg"
    icon="wrench"
    [style.opacity]="appService.data.isConfigReady() ? 1 : 0"
    [class.green]="appService.data.isConfigValid()"
    [class.red]="!appService.data.isConfigValid()"
  ></fa-icon>
</button>

<button mat-icon-button (click)="onClick($event)">
  <fa-icon
    class="fa-lg"
    icon="database"
    [class.green]="appService.data.isDatabaseValid()"
    [class.red]="!appService.data.isDatabaseValid()"
    [style.opacity]="appService.data.isDatabaseReady() ? 1 : 0.5"
  ></fa-icon>
</button>

<button mat-icon-button (click)="onClick($event)">
  <fa-icon
    class="fa-lg"
    icon="server"
    [class.green]="appService.data.nestServer.simulatorValid"
    [class.red]="!appService.data.nestServer.simulatorValid"
    [style.opacity]="appService.data.nestServer.serverReady ? 1 : 0.5"
  ></fa-icon>
</button>
