.logs {
  height: 44px;
  width: 320px;
  background-color: #fafafa;
  overflow-y: scroll;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1
}

::ng-deep .logs:hover {
  height: 404px;
}


::ng-deep .log.active, .log.active:focus, .log.active:hover {
  background-color: #3366ff;
  color: white !important;
}
