mat-list-item {
  color: #666 !important;
  border-right: 2.5px white solid;
}

mat-list-item.active {
  border-color: #ff6633;
  background-color: #f2f2f2;
}

mat-list-item.enabled {
  color: black !important;
}

button.active {
  border-bottom: 2.5px #ff6633 solid;
}

.form-fields {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin: 0 20px;
}
