<div class="navigation">
  <button
    mat-icon-button
    color="primary"
    (click)="toggleSidenav()"
  ><fa-icon icon="bars"></fa-icon>
  </button>
  <div class="simulation-theme module-button">
    <button mat-icon-button
      (click)="openSidenav()"
      [routerLink]="[{ outlets: { nav: ['simulation'] } }]"
      color="primary"
      matTooltip="Open an existing or create a new simulation."
      matTooltipPosition="after"
      routerLinkActive="mat-fab"
      >
      <fa-icon icon="brain"></fa-icon>
    </button>
  </div>
  <div class="model-theme module-button">
    <button mat-icon-button
      (click)="openSidenav()"
      [routerLink]="[{ outlets: { nav: ['model'] } }]"
      color="primary"
      matTooltip="List of models"
      matTooltipPosition="after"
      routerLinkActive="mat-fab"
      >
      <fa-icon icon="square-root-alt"></fa-icon>
    </button>
  </div>
  <div class="config-theme module-button">
    <button mat-icon-button
      (click)="openSidenav()"
      [routerLink]="[{ outlets: { nav: ['config'] } }]"
      color="primary"
      matTooltip="Configuration"
      matTooltipPosition="after"
      routerLinkActive="mat-fab"
      >
       <fa-icon icon="cog"></fa-icon>
     </button>
   </div>
</div>
