<div class="content config">

  <mat-nav-list>
    <mat-list-item (click)="nestServer.seek()">
      Seek NEST Server
    </mat-list-item>

    <mat-list-item>
      <span class="flex">
        <span>Ping Server: {{ nestServer.url }}</span>
        <span class="flex-spacer"></span>
        <span style="margin: 0 8px">
          <mat-chip-list dense>
            <mat-chip selected="true" *ngIf="!nestServer.serverReady">Server is not running</mat-chip>
            <mat-chip selected="true" *ngIf="nestServer.serverReady">Server {{ nestServer.serverVersion }}</mat-chip>
            <mat-chip selected="true" *ngIf="nestServer.simulatorReady">Simulator {{ nestServer.simulatorVersion }}</mat-chip>
          </mat-chip-list>
        </span>
      </span>
    </mat-list-item>
  </mat-nav-list>

  <mat-selection-list (selectionChange)="onSelectionChange($event)">
    <mat-list-option [selected]="nestServer.config.data.custom" value="manual">Manual setting</mat-list-option>
  </mat-selection-list>

  <mat-list *ngIf="nestServer.config.data.custom">
    <mat-list-item>
      <mat-form-field class="form-field">
        <input matInput placeholder="Protocol" name="protocol">
      </mat-form-field>
    </mat-list-item>

    <mat-list-item>
      <mat-form-field class="form-field">
        <input matInput placeholder="Hostname" name="hostname">
      </mat-form-field>
    </mat-list-item>

    <mat-list-item>
      <mat-form-field class="form-field">
        <input matInput placeholder="Port" name="port" [(ngModel)]="nestServer.port">
      </mat-form-field>
    </mat-list-item>
  </mat-list>

</div>
