<mat-menu #configMenu="matMenu" class="context-menu">
  <button mat-menu-item (click)="app.resetConfig()">
    <fa-icon class="menu-icon" icon="undo"></fa-icon>
    Reset configurations
  </button>
</mat-menu>

<mat-menu #databaseMenu="matMenu" class="context-menu">
  <button mat-menu-item (click)="app.resetDatabases()">
    <fa-icon class="menu-icon" icon="undo"></fa-icon>
    Reset databases
  </button>
</mat-menu>

<mat-menu #serverMenu="matMenu" class="context-menu">
  <button mat-menu-item (click)="app.nestServer.check()">
    <fa-icon class="menu-icon" icon="search"></fa-icon>
    Check server
  </button>
</mat-menu>

<span [@enterAnimation] class="loading">

  <span class="nest-theme nest">
    <mat-toolbar class="flex" color="primary">
      NEST Desktop
    </mat-toolbar>
  </span>

  <span>
    <mat-list role="list" dense>

      <span class="flex">
        <h3 mat-subheader>
          <fa-icon class="list-icon" icon="wrench"></fa-icon> Settings
        </h3>
        <span class="flex-spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="configMenu">
          <fa-icon icon="ellipsis-v"></fa-icon>
        </button>
      </span>

      <ng-container *ngFor="let config of configs">
        <mat-list-item role="listitem">
          <span class="flex">
            {{ config.name }}
            <span class="flex-spacer"></span>
            <span>
              {{ config.source.config.version }}
              <app-validation-check
                [isReady]="config.source.isConfigReady()"
                [isValid]="config.source.isConfigValid()"
              ></app-validation-check>
            </span>
          </span>
        </mat-list-item>
      </ng-container>

      <span class="flex">
        <h3 mat-subheader>
          <fa-icon class="list-icon" icon="database"></fa-icon> Databases
        </h3>
        <span class="flex-spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="databaseMenu">
          <fa-icon icon="ellipsis-v"></fa-icon>
        </button>
      </span>

      <mat-list-item role="listitem">
        <span class="flex">
          Model
          <span class="flex-spacer"></span>
          <span>
            <ng-container *ngIf="app.modelDB">
              {{ app.modelDB.version }}
            </ng-container>
            <app-validation-check
              [isReady]="app.modelDB.isReady()"
              [isValid]="app.modelDB.isValid()"
            ></app-validation-check>
          </span>
        </span>
      </mat-list-item>

      <mat-list-item role="listitem">
        <span class="flex">
          Project
          <span class="flex-spacer"></span>
          <span>
            <ng-container *ngIf="app.projectDB">
              {{ app.projectDB.version }}
            </ng-container>
            <app-validation-check
              [isReady]="app.projectDB.isReady()"
              [isValid]="app.projectDB.isValid()"
            ></app-validation-check>
          </span>
        </span>
      </mat-list-item>

      <span class="flex">
        <h3 mat-subheader>
        <fa-icon class="list-icon" icon="server"></fa-icon> Backend
        </h3>
        <span class="flex-spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="serverMenu">
          <fa-icon icon="ellipsis-v"></fa-icon>
        </button>
      </span>

      <mat-list-item role="listitem">
        <span class="flex">
          NEST Server
          <span class="flex-spacer"></span>
          <span>
            {{ state.serverVersion }}
            <app-response-check
              [ready]="state.serverReady"
              [valid]="state.serverValid">
            </app-response-check>
          </span>
        </span>
      </mat-list-item>

      <mat-list-item role="listitem">
        <span class="flex">
          NEST Simulator
          <span class="flex-spacer"></span>
          <span>
            {{ state.simulatorVersion }}
            <app-response-check
              [ready]="state.simulatorReady"
              [valid]="state.simulatorValid">
            </app-response-check>
          </span>
        </span>
      </mat-list-item>
    </mat-list>

  </span>

</span>
