.loading {
  .mat-subheader {
    button {
      font-size: 11px;
      height: 32px;
      line-height: 32px;
      width: 32px;
    }
  }

  mat-list-item {
    height: 18px;
  }
}

.nest {
  mat-toolbar {
    border-radius: 10px 10px 10px 0;
    font-weight: 900;
    margin: 5px;
    width: 250px;
  }
}
