<mat-list dense>
  <mat-list-item>
    <app-select
      (selectedChange)="onSelectConnectionType($event)"
      [(selected)]="connectome.projections['connection_type']"
      [options]="config.connection_type"
    ></app-select>
  </mat-list-item>
</mat-list>

<mat-list dense>
  <mat-list-item *ngIf="connectome.projections.hasOwnProperty('kernel')">
    <app-link-param
      (valueChange)="onValueChange($event)"
      [(value)]="connectome.projections.kernel"
      [link]="link"
      [options]="config.kernel"
    ></app-link-param>
  </mat-list-item>

  <mat-list-item *ngIf="connectome.projections.hasOwnProperty('number_of_connections')">
    <app-link-param
      (valueChange)="onValueChange($event)"
      [(value)]="connectome.projections.number_of_connections"
      [link]="link"
      [options]="config.number_of_connections"
    ></app-link-param>
  </mat-list-item>

  <mat-list-item>
    <app-link-mask
      (projectionsChange)="onProjectionsChange($event)"
      [(projections)]="connectome.projections"
    ></app-link-mask>
  </mat-list-item>

  <mat-list-item>
    <app-link-param
      (valueChange)="onValueChange($event)"
      [(value)]="connectome.projections.weights"
      [link]="link"
      [options]="config.weights"
    ></app-link-param>
  </mat-list-item>

  <mat-list-item>
    <app-link-param
      (valueChange)="onValueChange($event)"
      [(value)]="connectome.projections.delays"
      [link]="link"
      [options]="config.delays"
    ></app-link-param>
  </mat-list-item>

</mat-list>

<mat-selection-list dense (selectionChange)="onSelectionChange($event)">
  <mat-list-option value="allow_autapses" [selected]="connectome.projections.allow_autapses">
    {{ config.allow_autapses.label | capitalize }}
  </mat-list-option>

  <mat-list-option value="allow_multapses" [selected]="connectome.projections.allow_multapses">
    {{ config.allow_multapses.label | capitalize }}
  </mat-list-option>

  <mat-list-option value="allow_oversized_mask" [selected]="connectome.projections.allow_oversized_mask">
    {{ config.allow_oversized_mask.label | capitalize }}
  </mat-list-option>
</mat-selection-list>
