<app-navigation
  class="no-print"
  id="navigation-button"
  >
</app-navigation>

  <mat-sidenav-container id="container" autosize>
    <mat-sidenav
      (openedChange)="triggerResize()"
      [(opened)]="appService.sidenavOpened"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      autoFocus="false"
      class="no-print"
      id="navigation"
      position="start"
      role="region">
      <ng-container *ngIf="appService.sidenavOpened">
        <router-outlet #navOutlet="outlet" name="nav"></router-outlet>
      </ng-container>
    </mat-sidenav>

    <mat-sidenav-content #content>
      <router-outlet #outlet="outlet"></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>

<div
  [style.display]="appService.rightClick ? '' : 'none'"
  class="mouse-right-click dark-theme"
  >
  <button mat-mini-fab color="primary">
    <img src="/assets/img/mouse-right-click.png" width="32px"/>
  </button>
</div>
