/* You can add global styles to this file, and also import other style files */

/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */

/* @import '~@angular/material/prebuilt-themes/pink-bluegrey.css'; */

/* @import '~@angular/material/prebuilt-themes/purple-green.css'; */

body {
  font-family: Roboto;
  margin: 0;
  background-color: white;
}

@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3366ff;
}

.flex-spacer {
  flex-grow: 1;
}

.right-aligned-header>.mat-content {
  justify-content: space-between;
}

.right-aligned-header>.mat-content>mat-panel-title, .right-aligned-header>.mat-content>mat-panel-description {
  flex: 0 0 auto;
}

.bw-theme .mat-slider-track-fill, .bw-theme .mat-slider-thumb {
  border: 2px solid #333;
}

.bw-theme .mat-slider-thumb-label {
  border: 1px solid #333;
}
