/* You can add global styles to this file, and also import other style files */
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.flex {
  display: flex !important;
  width: 100%;

  .flex-spacer {
    flex-grow: 1;
  }
}

.dense {
  font-size: 12px !important;

  .mat-list-item-content {
    padding: 0 8px !important;
  }
}

.mat-select-panel {
  max-height: 100% !important;
}
//
// Buttons
//

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  overflow: hidden;
  padding: 0 8px 12px 0;

  .module-button {
    padding: 1px !important;

    button {
      height: 64px !important;
      width: 96px !important;
      margin-left: -56px;
      padding-left: 48px;

      fa-icon {
        font-size: 18px;
      }
    }
  }
}

.button-toolbar {
  position: absolute;
  top: 40px;
  right: 337px;
  width: 40px;
  overflow: hidden;
  z-index: 1000;
  padding: 0 0 12px 8px;

  button {
    width: 96px !important;
    height: 64px !important;

    .mat-button-wrapper {
      display: inline-block;

      fa-icon {
        margin-left: -48px;
      }
    }
  }

  .mat-icon-button {
    opacity: 0.25;
  }

  .mat-fab {
    opacity: 1;
  }
}

.button-toolbar:hover {
  .mat-icon-button {
    opacity: 0.75;
  }
}

.navbar {
  height: 40px !important;
  overflow: hidden;

  .spacer {
    flex: 1 1 auto;
  }

  .mat-icon-button,
  .mat-mini-fab {
    width: 64px;
    height: 64px;
    font-size: 16px;

    .mat-button-wrapper {
      padding: 0;
    }
  }
}

mat-divider.style-fix {
  height: 32px;
  margin-left: 4px;
  margin-right: 4px;
}

.content {
  padding-left: 40px !important;
}

.config {
  max-width: 640px !important;
}

.navItem {
  width: 40px !important;
  height: 40px !important;

  span {
    width: 100%;
    text-align: center;

    fa-icon {
      width: 100%;
    }
  }
}

.list-icon {
  display: inline-block;
  width: 30px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.disabled,
.disabled:hover {
  opacity: 0.38 !important;
  pointer-events: none;
}
//
// Input and slider forms
//

.form-field {
  width: 100%;
}

input {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
}

.input {
  width: 100%;
}

.slider {
  margin: 0 8px;
  width: calc(100% - 16px);
}
//
// Menu
//
//
// Context menu
//

.context-menu {
  min-height: 0 !important;

  .mat-menu-content {
    padding: 0 !important;
    font-size: 11px;

    mat-toolbar {
      height: 32px;
      line-height: 32px;
      font-size: 14px;
    }

    .mat-menu-item {
      height: 32px !important;
      line-height: 32px;

      .menu-icon {
        display: inline-block;
        width: 24px;
      }
    }
  }
}

.node-menu {
  .color-picker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    .btn-picker {
      width: 100% !important;
      height: 100% !important;
    }
  }
}
//
// Network
//

.mat-bottom-sheet-container {
  padding: 1px;
  box-shadow: none !important;
}

.node-shape {
  width: 56px;

  .mat-list-item-content {
    padding: 0 !important;
  }
}

.links .mat-list-item-content,
.nodes .mat-list-item-content {
  padding: 0 10px !important;
}
//
// Plotly
//

.modebar {
  right: 42px !important;
}
