@import '~@angular/material/theming';
@include mat-core();


$bw-schemeCategory: (
  100: #333,
  200: #fafafa,
  300: #ff6633,
  contrast: (100: #fafafa, 200: #333, 300: #fafafa)
);
$bw-primary: mat-palette($bw-schemeCategory, 100);
$bw-accent: mat-palette($bw-schemeCategory, 200);
$bw-warn: mat-palette($bw-schemeCategory, 300);
$bw-light-theme: mat-light-theme($bw-primary, $bw-accent, $bw-warn);

.bw-theme {
  @include angular-material-theme($bw-light-theme);
}
