<div class="controller node-controller"
  [style.border-color]="color()"
  [style.display]="nodeDisplay()"
  *ngIf="simModel"
  >

  <app-node-toolbar
    (dataChange)="onDataChange($event)"
    (nodeChange)="onNodeChange($event)"
    [(data)]="data"
    [(node)]="node"
    [disabled]="false"
    ></app-node-toolbar>

  <ng-container *ngIf="!isRecorder()">
    <ng-container *ngIf="!collection.isSpatial()">
      <mat-list dense>
        <mat-list-item>
          <app-node-param
            (valueChange)="onValueChange($event)"
            [(value)]="collection.n"
            [options]="_networkConfigService.config['node'].npop"
            view="valueSlider"
          ></app-node-param>
        </mat-list-item>
      </mat-list>
      </ng-container>

      <ng-container *ngIf="collection.isSpatial()">
        <mat-nav-list dense>
          <mat-list-item>
            <app-node-spatial
              (collectionChange)="onCollectionChange($event)"
              (nodeChange)="onNodeChange($event)"
              [(collection)]="collection"
              [(node)]="node"
            ></app-node-spatial>
          </mat-list-item>
        </mat-nav-list>
      </ng-container>
  </ng-container>

  <mat-list dense>
    <ng-container *ngIf="!linkedNode">
      <ng-container *ngFor="let param of configModel.params">
        <mat-list-item [style.display]="paramDisplay(collection.model, param.id) ? '' : 'None'" >
          <app-model-param
            (paramHide)="onParamHide($event)"
            (valueChange)="onValueChange($event)"
            [(value)]="simModel.params[param.id]"
            [model]="simModel.existing"
            [options]="param"
            [view]="param.input"
          ></app-model-param>
        </mat-list-item>
      </ng-container>
    </ng-container>
  </mat-list>

  <mat-list dense>
    <mat-list-item [style.display]="simModel.existing == 'multimeter' ? '' : 'None'" >
      <mat-form-field style="width:100%">
        <mat-label>Record from</mat-label>
        <mat-select multiple [(ngModel)]="collection.params.record_from" (selectionChange)="onRecordChange($event)">
          <ng-container *ngFor="let recordable of recordables">
            <mat-option [value]="recordable">{{ recordable }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </mat-list-item>
  </mat-list>

</div>
