<button mat-button (click)="treeControl.collapseAll()">Collapse all</button>
<button mat-button (click)="treeControl.expandAll()">Expand all</button>

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
    <button mat-icon-button disabled></button>
    <div style="width: 100%; display:flex; justify-content: space-between">
      <span style="padding-right:30px" class="key">{{ node.key }}</span>
      <span class="value">{{ node.value }}</span>
    </div>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: expandable" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.key" [disabled]="node.disabled">
      <fa-icon [icon]="treeControl.isExpanded(node) ? 'chevron-down' : 'chevron-right'">
      </fa-icon>
    </button>
    <span class="key">{{ node.key }}</span>
  </mat-tree-node>
</mat-tree>
