.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis {
  pointer-events: none;
}

.overlay {
  cursor: cell;
  opacity: 0;
}

.overlayFocus {
  cursor: cell;
  opacity: 0;
  /* fill: none;
  stroke: black;
  stroke-width: 1px;
  shape-rendering: crispEdges; */
}

.overlay--x {
  cursor: col-resize;
  opacity: 0;
}

.overlay--y {
  cursor: row-resize;
  opacity: 0;
}

.label {
  font-size: 10px;
  pointer-events: none;
}

::ng-deep .axis line {
  stroke-width: 1px;
  stroke: grey;
  stroke-dasharray: 5, 20;
  shape-rendering: crispEdges;
}

/* ::ng-deep .axis--y .domain {
  stroke: none;
} */
