<div style="position:absolute;top:-1px;left:10px;font-size:10px" class="no-print">
  <span>{{ pos }}</span>
</div>

<div style="position:absolute;top:0;right:0;height:calc(100% - 33px);background-color:white" class="chart-controller no-print">
  <span style="display:flex; flex-direction:column">
    <a mat-icon-button (click)="rescale()" [style.display]="zoomDirection=='both' ? '' : 'none'">
      <fa-icon icon="home"></fa-icon>
      <fa-icon icon="arrows-alt" style="position:absolute; font-size:8px"></fa-icon>
    </a>
    <a mat-icon-button (click)="rescaleX()" [style.display]="zoomDirection=='abscissa' ? '' : 'none'">
      <fa-icon icon="home"></fa-icon>
      <fa-icon icon="arrows-alt-h" style="position:absolute; font-size:8px"></fa-icon>
    </a>
    <a mat-icon-button (click)="rescaleY(!yAutoscale)" [style.display]="zoomDirection=='ordinate' ? '' : 'none'">
      <fa-icon icon="home"></fa-icon>
      <fa-icon icon="arrows-alt-v" style="position:absolute; font-size:8px"></fa-icon>
    </a>
    <a mat-icon-button (click)="zoomDirection='abscissa'" [style.display]="zoomDirection=='both' ? '' : 'none'">
      <fa-icon icon="search"></fa-icon>
      <fa-icon icon="arrows-alt" style="position:absolute; font-size:8px"></fa-icon>
    </a>
    <a mat-icon-button (click)="zoomDirection='ordinate'" [style.display]="zoomDirection=='abscissa' ? '' : 'none'">
      <fa-icon icon="search"></fa-icon>
      <fa-icon icon="arrows-alt-h" style="position:absolute; font-size:8px"></fa-icon>
    </a>
    <a mat-icon-button (click)="zoomDirection='both'" [style.display]="zoomDirection=='ordinate' ? '' : 'none'">
      <fa-icon icon="search"></fa-icon>
      <fa-icon icon="arrows-alt-v" style="position:absolute; font-size:8px"></fa-icon>
    </a>
  </span>
</div>

<svg [attr.width]="width" [attr.height]="height">
  <svg:g [attr.transform]="'translate(' + margin.left + ',' + margin.top + ')'">
    <svg:rect class="overlay"></svg:rect>
    <svg:g class="focus">
      <svg:rect class="overlayFocus"></svg:rect>
      <svg:rect class="overlay--y"></svg:rect>
      <svg:g class="axis axis--y"></svg:g>
    </svg:g>
    <svg:rect class="overlay--x"></svg:rect>
    <svg:g class="axis axis--x"></svg:g>
    <svg:text class="label label--x"></svg:text>
    <svg:text class="label label--y"></svg:text>
  </svg:g>
</svg>
