.link {
  width: calc(100% - 19px);
  margin: 0 8px;
}

.link .header {
  line-height: 32px;
  height: 32px;
  margin-left: 1.5px;
}

.item {
  border-left: 1.5px solid black;
  border-right: 1.5px solid black;
  height: 20px !important;
}
