<mat-list dense class="model">
  <mat-list-item>
    <h3 matSubheader>Model</h3>
  </mat-list-item>

  <mat-list-item>
    <mat-form-field style="width:100%">
      <input matInput placeholder="Name" name="name" [(ngModel)]="_configService.selectedModel.label" (change)="save()">
    </mat-form-field>
  </mat-list-item>

  <mat-list-item>
    <mat-form-field style="width:100%">
      <input matInput placeholder="Element type" [value]="_configService.selectedModel.element_type" readonly>
    </mat-form-field>
  </mat-list-item>

  <mat-list-item>
    <h3 matSubheader>Parameter controller</h3>
  </mat-list-item>

  <mat-list-item *ngFor="let param of _configService.selectedModel.params" class="param">
    <app-param-input [view]="_configService.selectedModel.options[param].view" [model]="_modelService.selectedModel" [params]="_configService.selectedModel.options[param]" [id]="param" [options]="_configService.selectedModel.options[param]" style="width:100%"></app-param-input>
  </mat-list-item>

</mat-list>
