<span class="network">
  <ng-container *ngIf="data.app">
    <span class="flex">
      <span style="width:50%; padding: 0 4px">
        <ng-container *ngFor="let node of data.app.nodes">
          <ng-container *ngIf="nodeDisplay(node)">
            <app-node-list [data]="data" [idx]="node.idx" [selective]="paramSelective"></app-node-list>
          </ng-container>
        </ng-container>
      </span>

      <span style="width:50%; padding: 0 4px">
        <ng-container *ngFor="let link of data.app.links">
          <ng-container *ngIf="linkDisplay(link)">
            <app-link-list [data]="data" [idx]="link.idx" [selective]="paramSelective"></app-link-list>
          </ng-container>
        </ng-container>
      </span>
    </span>
  </ng-container>
</span>
