<mat-menu #dbConfigMenu="matMenu" class="dense">
  <button mat-menu-item (click)="_dbConfigService.reset()">
    <fa-icon icon="broom" style="margin-right:10px"></fa-icon>
    Reset configuration
  </button>
</mat-menu>


<span *ngIf="_dbConfigService.ready" class="center">
  <div class="dbConfig">
    <mat-toolbar style="font-size:16px;line-height:40px" color="accent">
      <span class="flex">
      Database configuration
      <span>
        <button mat-icon-button [matMenuTriggerFor]="dbConfigMenu">
          <fa-icon icon="ellipsis-v"></fa-icon>
        </button>
      </span>
      </span>
    </mat-toolbar>

    <ng-container *ngFor="let database of _dbConfigService.list()">

      <mat-card>
        <mat-card-subtitle>
          {{ database.label }}
        </mat-card-subtitle>

        <mat-card-content>
          <div class="form-fields">
            <mat-form-field>
              <input matInput placeholder="Database name" name="Database name" [(ngModel)]="database.name" (change)="saveDB()">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Host" name="host" [(ngModel)]="database.host" (change)="saveDB()">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Port" name="Port" [(ngModel)]="database.port" (change)="saveDB()">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Username" name="Username" [(ngModel)]="database.auth.username" (change)="saveDB()">
            </mat-form-field>

            <mat-form-field>
              <input matInput type="password" placeholder="Password" name="Password" [(ngModel)]="database.auth.password" (change)="saveDB()">
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>

    </ng-container>
  </div>
</span>
