<div mat-dialog-content class="params-config">

  <mat-list dense>
    <h3 mat-subheader>{{ data.param }}</h3>

    <mat-list-item>
      <mat-form-field>
        <input matInput placeholder="Label" name="label" [(ngModel)]="options.label">
      </mat-form-field>
    </mat-list-item>

    <mat-list-item>
      <app-ticks-slider-inline
        [(value)]="options.level"
        [options]="{label:'Visibility level', ticks:['rookie', 'beginner', 'advanced', 'expert']}"
      >
      </app-ticks-slider-inline>
    </mat-list-item>

    <mat-list-item>
      <mat-form-field>
        <input matInput placeholder="Default value" name="value" [(ngModel)]="options.value">
      </mat-form-field>
    </mat-list-item>

    <mat-list-item>
      <mat-form-field>
        <input matInput placeholder="Unit" name="unit" [(ngModel)]="options.unit">
      </mat-form-field>
    </mat-list-item>

    <mat-list-item>
      <mat-form-field class="select">
        <mat-select placeholder="Input" [(ngModel)]="options.input">
          <mat-option value="valueInput">Value input</mat-option>
          <mat-option value="arrayInput">Array input</mat-option>
          <mat-option value="valueSlider">Value slider</mat-option>
          <!-- <mat-option value="rangeSlider">Range slider</mat-option> -->
          <mat-option value="tickSlider">Tick slider</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-list-item>

    <mat-list-item *ngIf="options.input == 'valueSlider'">
      <mat-form-field>
        <input matInput type="number" placeholder="Minimum value" name="min" [(ngModel)]="options.min">
      </mat-form-field>
    </mat-list-item>

    <mat-list-item *ngIf="options.input == 'valueSlider'">
      <mat-form-field>
        <input matInput type="number" placeholder="Maximum value" name="max" [(ngModel)]="options.max">
      </mat-form-field>
    </mat-list-item>

    <mat-list-item *ngIf="options.input.includes('value')">
      <mat-form-field>
        <input matInput type="number" placeholder="Change step" name="step" [(ngModel)]="options.step">
      </mat-form-field>
    </mat-list-item>

    <mat-list-item *ngIf="options.input == 'tickSlider'">
      <mat-form-field>
        <input matInput placeholder="Tick values" name="ticks" [(ngModel)]="options.ticks" (change)="valueChanged($event)">
      </mat-form-field>
    </mat-list-item>

  </mat-list>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onSave()" cdkFocusInitial>Save</button>
  <button mat-button (click)="onNoClick()">Cancel</button>
</div>
