<mat-list dense>
  <mat-list-item mat-subheader>
    Histogram
  </mat-list-item>

  <mat-list-item >
    <app-select
      (selectedChange)="onBarmodeChange($event)"
      [matTooltip]="'Barmode'"
      [options]="_visualizationConfigService.config.chart.controller.barmodes"
      [(selected)]="_chartRecordsService.barmode"
      matTooltipPosition="before"
    ></app-select>
  </mat-list-item>

  <mat-list-item >
    <app-select
      (selectedChange)="onBarnormChange($event)"
      [matTooltip]="'Barnorm'"
      [options]="_visualizationConfigService.config.chart.controller.barnorms"
      [(selected)]="_chartRecordsService.barnorm"
      matTooltipPosition="before"
    ></app-select>
  </mat-list-item>

  <mat-list-item>
    <app-ticks-slider-inline
      (valueChange)="onBinSizeChange($event)"
      [matTooltip]="'Bin size'"
      [options]="_visualizationConfigService.config.chart.controller.binsize"
      [(value)]="_chartRecordsService.binsize"
      style="width:100%"
    ></app-ticks-slider-inline>
  </mat-list-item>

</mat-list>
