<mat-menu #networkMenu="matMenu" class="menu network-menu" overlapTrigger="true">
  <mat-nav-list dense class="flex">
    <mat-list-item (click)="'resetParameters()'" class="navButton" matTooltip="Reset parameters">
      <fa-icon icon="eraser"></fa-icon>
    </mat-list-item>

    <mat-list-item (click)="_networkControllerService.selection=!_networkControllerService.selection" [class.active]="_networkControllerService.selection" class="navButton" matTooltip="View selection for parameters">
      <fa-icon icon="edit"></fa-icon>
    </mat-list-item>
  </mat-nav-list>
</mat-menu>

<nav mat-tab-nav-bar>
  <a mat-tab-link (click)="selectElementType(null)" [active]="isSelected(null)" class="tab-nav"> All </a>
  <a mat-tab-link (click)="selectElementType('stimulator')" [active]="isSelected('stimulator')" class="tab-nav"> Stimulator </a>
  <a mat-tab-link (click)="selectElementType('neuron')" [active]="isSelected('neuron')" class="tab-nav"> Neuron </a>
  <a mat-tab-link (click)="selectElementType('recorder')" [active]="isSelected('recorder')" class="tab-nav"> Recorder </a>
</nav>

<ng-container *ngIf="data">
  <div style="height:calc(100vh - 82px); overflow-y: auto">
    <ng-container [ngSwitch]="_networkControllerService.selection">

      <ng-container *ngFor="let node of data.app.nodes">

        <ng-container *ngSwitchCase="false">
          <app-node-controller (nodeChange)="onAppChange($event)" (collectionChange)="onSimulationChange($event)" [idx]="node.idx" [data]="data" [style.display]="isSelected(collection(node.idx).element_type) ? '': 'None'" class="node"></app-node-controller>
        </ng-container>

        <ng-container *ngSwitchCase="true">
          <app-node-selection (nodeChange)="onAppChange($event)" (collectionChange)="onSimulationChange($event)" [idx]="node.idx" [data]="data" [style.display]="isSelected(collection(node.idx).element_type) ? '': 'None'" class="node"></app-node-selection>
        </ng-container>

      </ng-container>

      <ng-container *ngFor="let link of data.app.links">
        <app-link-controller (linkChange)="onAppChange($event)" (connectomeChange)="onSimulationChange($event)" [idx]="link.idx" [data]="data" [style.display]="isSelectedPre(link) ? '': 'None'" class="link"></app-link-controller>
      </ng-container>

    </ng-container>
  </div>
</ng-container>
