<ng-container *ngIf="_appConfigService.status.ready">
  <mat-selection-list class="content config" (selectionChange)="onSelectionChange($event)">
    <mat-list-option [selected]="_appConfigService.config['app'].loading" value="loading">Show loading page</mat-list-option>
    <mat-list-option [selected]="_appConfigService.config['app'].autoStart" value="autoStart" [disabled]="!_appConfigService.config['app'].loading">Auto start</mat-list-option>
    <mat-list-option [selected]="_appConfigService.config['app'].log" value="log">Log</mat-list-option>
    <mat-list-option [selected]="_appConfigService.config['app'].advanced" value="advanced">Advanced view</mat-list-option>
  </mat-selection-list>

  <mat-divider></mat-divider>

</ng-container>
