<ng-container *ngIf="_appConfigService.status.ready">
  <mat-selection-list class="content config" (selectionChange)="onSelectionChange($event)">
    <mat-list-option [selected]="_appConfigService.config['app'].showLoading" value="showLoading">Show loading page</mat-list-option>
    <mat-list-option [selected]="_appConfigService.config['app'].autoStart" value="autoStart">Auto start</mat-list-option>
    <mat-list-option [selected]="_appConfigService.config['app'].log" value="log">Log</mat-list-option>
  </mat-selection-list>

  <mat-list dense class="content config">
    <mat-list-item>
      <mat-form-field class="form-field">
        <mat-label>User level</mat-label>
        <mat-select [(ngModel)]="_appConfigService.config['app'].level" class="form-field" (selectionChange)="onChange($event)">
          <ng-container *ngFor="let level of levels">
            <mat-option [value]="level">{{ level | capitalize }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>

  <mat-list class="content config">
    <h3 mat-subheader>
      NEST Server
    </h3>

    <mat-list-item>
      <mat-form-field class="form-field">
        <input matInput placeholder="Host" name="host" [(ngModel)]="_appConfigService.config['nest-server'].host" (change)="saveAndCheck('nest-server')">
      </mat-form-field>
    </mat-list-item>

    <mat-list-item>
      <mat-form-field class="form-field">
        <input matInput placeholder="Port" name="port" [(ngModel)]="_appConfigService.config['nest-server'].port" (change)="saveAndCheck('nest-server')">
      </mat-form-field>
    </mat-list-item>

    <mat-list-item>
      <span>{{ host }}</span>
      <span style="margin: 0 8px">
        <mat-chip-list>
          <mat-chip selected="true" *ngIf="!_nestServerService.status.server.ready">Server is not running</mat-chip>
          <mat-chip selected="true" *ngIf="_nestServerService.status.server.ready">Server {{ _nestServerService.status.server.version }}</mat-chip>
          <mat-chip selected="true" *ngIf="_nestServerService.status.simulator.ready">Simulator {{ _nestServerService.status.simulator.version }}</mat-chip>
        </mat-chip-list>
      </span>
    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>
</ng-container>
