<ng-container *ngIf="_appConfigService.status.ready">
  <mat-selection-list
    (selectionChange)="onSelectionChange($event)">
    <mat-list-option
      [selected]="_appConfigService.config['app'].loading"
      value="loading">
      Show loading page
    </mat-list-option>
    <mat-list-option
      [selected]="_appConfigService.config['app'].autoStart"
      [disabled]="!_appConfigService.config['app'].loading"
      value="autoStart">
      Auto start
    </mat-list-option>
    <mat-list-option
      [selected]="_appConfigService.config['app'].log"
      value="log">
      Log
    </mat-list-option>
    <mat-list-option
      [selected]="_appConfigService.config['app'].devMode" value="devMode">
      Dev mode
    </mat-list-option>
  </mat-selection-list>
</ng-container>
